Repository elastic/elasticsearch-specification, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, specification, generator:typescript, compiler

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

specification:
- changed-files:
  - any-glob-to-any-file: 'specification/**/*'

generator:typescript:
- changed-files:
  - any-glob-to-any-file: 'typescript-generator/**/*'

compiler:
- changed-files:
  - any-glob-to-any-file: ['compiler/**/*', 'compiler-rs/**/*']

Update specification output
  output/typescript/types.ts
Labels: none

RoleQueryContainer
  specification/security/query_roles/QueryRolesRequest.ts
Labels: specification

rename dir query_roles -> query_role
  specification/security/query_role/QueryRolesRequest.ts
  specification/security/query_role/QueryRolesResponse.ts
  specification/security/query_role/types.ts
Labels: specification

validate + output
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/security/_types/RoleDescriptor.ts
  specification/security/query_role/QueryRolesRequest.ts
  specification/security/query_role/QueryRolesResponse.ts
  specification/security/query_role/types.ts
Labels: specification

make validate: Download recordings using branch, not version
  Makefile
  README.md
  compiler/run-validations.js
  docs/validation-example.md
Labels: documentation, compiler

Fix run-validations.js
  compiler/run-validations.js
Labels: compiler

Update 8.15 JSON spec, not 8.13
  .github/workflows/update-rest-api-json.yml
Labels: none

added role name to query role
  output/openapi/elasticsearch-openapi.json
  output/typescript/types.ts
  specification/security/query_role/types.ts
Labels: specification

Remove read_connector_secrets cluster privilege
  output/openapi/elasticsearch-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/security/_types/Privileges.ts
Labels: specification

Fix branch read
  compiler/run-validations.js
Labels: compiler

Fix validate-pr workflow
  .github/workflows/validate-pr.yml
Labels: none

Download recordings using branch, not version (#2690)
  .github/workflows/validate-pr.yml
  Makefile
  README.md
  compiler/run-validations.js
  docs/validation-example.md
Labels: documentation, compiler

Remove read_connector_secrets cluster privilege (#2692)
  output/openapi/elasticsearch-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/security/_types/Privileges.ts
Labels: specification

Spec for the new Query Role API (#2676)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/security/_types/RoleDescriptor.ts
  specification/security/query_role/QueryRolesRequest.ts
  specification/security/query_role/QueryRolesResponse.ts
  specification/security/query_role/types.ts
Labels: specification

Spec for the new Query Role API (#2676)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/security/_types/RoleDescriptor.ts
  specification/security/query_role/QueryRolesRequest.ts
  specification/security/query_role/QueryRolesResponse.ts
  specification/security/query_role/types.ts
Labels: specification

[Backport 8.15] Add spec for bulk put roles (#2694)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/security/_types/RoleDescriptor.ts
  specification/security/query_role/QueryRolesRequest.ts
  specification/security/query_role/QueryRolesResponse.ts
  specification/security/query_role/types.ts
Labels: specification

fixup! Code review
  specification/security/_types/RoleDescriptor.ts
  specification/security/bulk_put_role/SecurityBulkPutRoleResponse.ts
Labels: specification

fixup! Move file
  specification/security/_types/Bulk.ts
Labels: specification

fixup! Merge
  specification/security/_types/RoleDescriptor.ts
Labels: specification

fixup! types
  specification/security/_types/RoleDescriptor.ts
Labels: specification

Add spec for bulk put roles (#2682)
  specification/security/_types/Bulk.ts
  specification/security/_types/RoleDescriptor.ts
  specification/security/bulk_put_role/SecurityBulkPutRoleRequest.ts
  specification/security/bulk_put_role/SecurityBulkPutRoleResponse.ts
Labels: specification

Update specification output
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/schema/validation-errors.json
  output/typescript/types.ts
Labels: none

Add spec for bulk put roles (#2682)
  specification/security/_types/Bulk.ts
  specification/security/_types/RoleDescriptor.ts
  specification/security/bulk_put_role/SecurityBulkPutRoleRequest.ts
  specification/security/bulk_put_role/SecurityBulkPutRoleResponse.ts
Labels: specification

Update specification output
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/schema/validation-errors.json
  output/typescript/types.ts
Labels: none

Add specification for delete roles
  specification/security/bulk_delete_role/SecurityBulkDeleteRoleRequest.ts
  specification/security/bulk_delete_role/SecurityBulkDeleteRoleResponse.ts
Labels: specification

fixup! validation
  specification/security/bulk_delete_role/SecurityBulkDeleteRoleRequest.ts
Labels: specification

fixup! Naming
  specification/security/query_user/SecurityQueryUserRequest.ts
  specification/security/query_user/SecurityQueryUserResponse.ts
  specification/security/query_user/types.ts
Labels: specification

Add drop_null_columns parameter to /_query
  specification/esql/query/QueryRequest.ts
Labels: specification

Add undocumented profile parameter
  specification/esql/query/QueryRequest.ts
Labels: specification

Document /_query locale parameter
  specification/_doc_ids/table.csv
  specification/esql/query/QueryRequest.ts
Labels: specification

Fix params to accept any values
  specification/esql/query/QueryRequest.ts
Labels: specification

Run make contrib
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/schema/validation-errors.json
  output/typescript/types.ts
Labels: none

Fix two typos in validation example docs
  docs/validation-example.md
Labels: none

Update 8.15 JSON spec, not 8.13 (#2691)
  .github/workflows/update-rest-api-json.yml
Labels: none

Mark custom role related APIs Serverless public
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  specification/security/delete_role/SecurityDeleteRoleRequest.ts
  specification/security/get_builtin_privileges/SecurityGetBuiltinPrivilegesRequest.ts
  specification/security/get_role/SecurityGetRoleRequest.ts
  specification/security/put_role/SecurityPutRoleRequest.ts
Labels: specification

Fix README backlink in validation example docs
  docs/validation-example.md
Labels: none

Fix README backlink in validation example docs (#2698)
  docs/validation-example.md
Labels: none

Fix RoleDescriptor field annotations for Serverless
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  specification/security/_types/RoleDescriptor.ts
Labels: specification

Remove deprecated code
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/test/request-availability/test.ts
  typescript-generator/src/metamodel.ts
Labels: generator:typescript, compiler

Remove `implements`
  compiler/src/model/build-model.ts
  compiler/src/model/metamodel.ts
  compiler/src/steps/validate-model.ts
  typescript-generator/src/index.ts
  typescript-generator/src/metamodel.ts
Labels: generator:typescript, compiler
