Repository elastic/elasticsearch-specification, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, specification, generator:typescript, compiler

fixup! spec name
  specification/security/query_user/SecurityQueryUserRequest.ts
Labels: specification

Fix `filter-by-availability` step
  compiler/src/transform/filter-by-availability.ts
Labels: compiler

Remove deprecated code (#2649)
  compiler/src/model/build-model.ts
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/src/steps/validate-model.ts
  compiler/src/transform/filter-by-availability.ts
  compiler/test/request-availability/test.ts
  typescript-generator/src/index.ts
  typescript-generator/src/metamodel.ts
Labels: generator:typescript, compiler

Update specification output
  output/schema/schema-serverless.json
Labels: none

fixup! Add with_profile_uid query param
  specification/security/query_user/SecurityQueryUserRequest.ts
Labels: specification

Add specification for query users (#2684)
  specification/security/query_user/SecurityQueryUserRequest.ts
  specification/security/query_user/SecurityQueryUserResponse.ts
  specification/security/query_user/types.ts
Labels: specification

Update specification output
  output/openapi/elasticsearch-openapi.json
  output/schema/validation-errors.json
  output/typescript/types.ts
Labels: none

Add specification for query users (#2684)
  specification/security/query_user/SecurityQueryUserRequest.ts
  specification/security/query_user/SecurityQueryUserResponse.ts
  specification/security/query_user/types.ts
Labels: specification

Update specification output
  output/openapi/elasticsearch-openapi.json
  output/schema/validation-errors.json
  output/typescript/types.ts
Labels: none

Switch params to FieldValue[]
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/esql/query/QueryRequest.ts
Labels: specification

Run make contrib
  output/openapi/elasticsearch-openapi.json
  output/schema/validation-errors.json
  output/typescript/types.ts
Labels: none

Add specification for delete roles (#2683)
  output/openapi/elasticsearch-openapi.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/security/bulk_delete_role/SecurityBulkDeleteRoleRequest.ts
  specification/security/bulk_delete_role/SecurityBulkDeleteRoleResponse.ts
Labels: specification

Add specification for delete roles (#2683)
  output/openapi/elasticsearch-openapi.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/security/bulk_delete_role/SecurityBulkDeleteRoleRequest.ts
  specification/security/bulk_delete_role/SecurityBulkDeleteRoleResponse.ts
Labels: specification

Fix
  output/openapi/elasticsearch-openapi.json
  output/typescript/types.ts
  specification/security/put_role/SecurityPutRoleRequest.ts
Labels: specification

Fix `RoleDescriptor` field annotations for Serverless (#2699)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/security/_types/RoleDescriptor.ts
  specification/security/put_role/SecurityPutRoleRequest.ts
Labels: specification

[Backport 8.15] Fix `RoleDescriptor` field annotations for Serverless
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/security/_types/RoleDescriptor.ts
  specification/security/put_role/SecurityPutRoleRequest.ts
Labels: specification

[Backport 8.15] Fix `RoleDescriptor` field annotations for Serverless (#2702)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/security/_types/RoleDescriptor.ts
  specification/security/put_role/SecurityPutRoleRequest.ts
Labels: specification

Fix two typos in validation example docs (#2697)
  docs/validation-example.md
Labels: none

Fix most esql.query request types (#2671)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_doc_ids/table.csv
  specification/esql/query/QueryRequest.ts
Labels: specification

add bin targets for filter_by_availability and transform_expand_generics
  compiler-rs/Cargo.lock
  compiler-rs/clients_schema/Cargo.toml
  compiler-rs/clients_schema/src/bin/filter_by_availability.rs
  compiler-rs/clients_schema/src/bin/transform_expand_generics.rs
  compiler-rs/clients_schema/src/lib.rs
Labels: compiler

add newline at the end of generics expansion
  compiler-rs/clients_schema/src/bin/transform_expand_generics.rs
Labels: compiler

snowball token language field optional (826)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/_types/analysis/token_filters.ts
Labels: specification

geo distance sort missing nested field (831)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/_types/sort.ts
Labels: specification

unhealthy policies nullable (834)
  output/openapi/elasticsearch-openapi.json
  output/typescript/types.ts
  specification/_global/health_report/types.ts
Labels: specification

missing properties from allocation record (835)
  output/openapi/elasticsearch-openapi.json
  output/typescript/types.ts
  specification/cat/allocation/types.ts
Labels: specification

nullable properties in transform progress (842)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/transform/get_transform_stats/types.ts
Labels: specification

adding missing stagnating_indices field to ilm indicator
  output/openapi/elasticsearch-openapi.json
  output/schema/dangling-types/dangling.csv
  output/typescript/types.ts
  specification/_global/health_report/types.ts
Labels: specification

Update rest-api-spec
  specification/_json_spec/capabilities.json
Labels: specification

ESQL: define the `tables` parameter
  output/schema/dangling-types/dangling.csv
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/esql/_types/TableValuesType.ts
  specification/esql/query/QueryRequest.ts
Labels: specification

Format
  specification/esql/_types/TableValuesType.ts
  specification/esql/query/QueryRequest.ts
Labels: specification

fixing types, added creating_replicas
  output/openapi/elasticsearch-openapi.json
  output/typescript/types.ts
  specification/_global/health_report/types.ts
  specification/cat/allocation/types.ts
Labels: specification

transform script union to a container variant
  compiler-rs/clients_schema/src/bin/filter_by_availability.rs
  compiler-rs/clients_schema/src/bin/transform_expand_generics.rs
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/scripts_painless_execute/ExecutePainlessScriptRequest.ts
  specification/_types/Scripting.ts
  specification/search_application/_types/SearchApplication.ts
  specification/security/_types/Privileges.ts
Labels: specification, compiler

refresh outputs
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
Labels: none

Remove unused imports
  specification/query_rules/_types/QueryRuleset.ts
Labels: specification

Java issues batch 7 (#2704)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/dangling-types/dangling.csv
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/_global/health_report/types.ts
  specification/_types/analysis/token_filters.ts
  specification/_types/sort.ts
  specification/cat/allocation/types.ts
  specification/transform/get_transform_stats/types.ts
Labels: specification

Java issues batch 7 (#2704)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/dangling-types/dangling.csv
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/_global/health_report/types.ts
  specification/_types/analysis/token_filters.ts
  specification/_types/sort.ts
  specification/cat/allocation/types.ts
  specification/transform/get_transform_stats/types.ts
Labels: specification

Java issues batch 7 (#2704) partial backport
  output/openapi/elasticsearch-serverless-openapi.json
  output/typescript/types.ts
  specification/_global/health_report/types.ts
  specification/_types/analysis/token_filters.ts
  specification/_types/sort.ts
  specification/cat/allocation/types.ts
  specification/transform/get_transform_stats/types.ts
Labels: specification

reverting breaking changes
  output/openapi/elasticsearch-serverless-openapi.json
  output/typescript/types.ts
  specification/cat/allocation/types.ts
  specification/transform/get_transform_stats/types.ts
Labels: specification

add comments to make bin less obscure
  compiler-rs/clients_schema/src/bin/filter_by_availability.rs
  compiler-rs/clients_schema/src/bin/transform_expand_generics.rs
Labels: compiler

remove wrongly added empty files
  compiler-rs/clients_schema/src/bin/filter_by_availability.rs
  compiler-rs/clients_schema/src/bin/transform_expand_generics.rs
Labels: compiler

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

specification:
- changed-files:
  - any-glob-to-any-file: 'specification/**/*'

generator:typescript:
- changed-files:
  - any-glob-to-any-file: 'typescript-generator/**/*'

compiler:
- changed-files:
  - any-glob-to-any-file: ['compiler/**/*', 'compiler-rs/**/*']
