Repository elastic/elasticsearch-specification, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, specification, generator:typescript, compiler

.github/labeler.yml:

documentation:
  - '*.md'

specification:
  - 'specification/**/*'

generator:typescript:
  - 'typescript-generator/**/*'

compiler:
  - 'compiler/**/*'
  - 'compiler-rs/**/*'

Run make contrib
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/indices/get_data_stream/IndicesGetDataStreamRequest.ts
Labels: specification

Mark existing query rules APIs as GA
  output/typescript/types.ts
  specification/_types/query_dsl/abstractions.ts
  specification/_types/query_dsl/specialized.ts
  specification/query_ruleset/delete/QueryRulesetDeleteRequest.ts
  specification/query_ruleset/get/QueryRulesetGetRequest.ts
  specification/query_ruleset/list/QueryRulesetListRequest.ts
  specification/query_ruleset/put/QueryRulesetPutRequest.ts
Labels: specification

Update docs/doc-comments-guide.md
  docs/doc-comments-guide.md
Labels: none

Add summary to IndicesGetIndexTemplateRequest
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  specification/indices/get_index_template/IndicesGetIndexTemplateRequest.ts
Labels: specification

Add more index template operation summaries
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  specification/indices/delete_index_template/IndicesDeleteIndexTemplateRequest.ts
  specification/indices/exists_template/IndicesExistsTemplateRequest.ts
  specification/indices/get_index_template/IndicesGetIndexTemplateRequest.ts
  specification/indices/get_template/IndicesGetTemplateRequest.ts
  specification/indices/put_index_template/IndicesPutIndexTemplateRequest.ts
  specification/indices/put_template/IndicesPutTemplateRequest.ts
  specification/indices/simulate_index_template/IndicesSimulateIndexTemplateRequest.ts
  specification/indices/simulate_template/IndicesSimulateTemplateRequest.ts
Labels: specification

Add individual CRUD API calls
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_json_spec/query_rule.delete.json
  specification/_json_spec/query_rule.get.json
  specification/_json_spec/query_rule.put.json
  specification/_json_spec/query_ruleset.delete.json
  specification/_json_spec/query_ruleset.get.json
  specification/_json_spec/query_ruleset.list.json
  specification/_json_spec/query_ruleset.put.json
  specification/query_rule/delete/QueryRuleDeleteRequest.ts
  specification/query_rule/delete/QueryRuleDeleteResponse.ts
  specification/query_rule/get/QueryRuleGetRequest.ts
  specification/query_rule/get/QueryRuleGetResponse.ts
  specification/query_rule/put/QueryRulePutRequest.ts
  specification/query_rule/put/QueryRulePutResponse.ts
Labels: specification

Add lint-docs-serverless
  Makefile
  README.md
Labels: documentation

Linting
  specification/query_rule/delete/QueryRuleDeleteRequest.ts
  specification/query_rule/get/QueryRuleGetRequest.ts
  specification/query_rule/put/QueryRulePutRequest.ts
Labels: specification

Add sparse_vector query to client specification
  specification/_types/query_dsl/SparseVectorQuery.ts
  specification/_types/query_dsl/abstractions.ts
Labels: specification

Populate endpoint deprecation from request definition
  compiler/src/index.ts
  compiler/src/steps/add-deprecation.ts
  specification/_types/query_dsl/abstractions.ts
Labels: specification, compiler

Fix error and update contrib
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/typescript/types.ts
  specification/_types/query_dsl/SparseVectorQuery.ts
Labels: specification

Populate endpoint deprecation from request definition (#2640)
  compiler/src/index.ts
  compiler/src/steps/add-deprecation.ts
  specification/_types/query_dsl/abstractions.ts
Labels: specification, compiler

Update specification output
  output/openapi/elasticsearch-openapi.json
  output/schema/schema-serverless.json
Labels: none

wrap ts-morph errors to provide helpful error
  compiler/src/model/build-model.ts
  compiler/src/model/utils.ts
Labels: compiler

improve after lint
  compiler/src/model/build-model.ts
Labels: compiler

PR feedback
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/typescript/types.ts
  specification/query_ruleset/_types/QueryRuleset.ts
  specification/query_ruleset/list/types.ts
Labels: specification

PR feedback
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/typescript/types.ts
  specification/query_ruleset/list/types.ts
Labels: specification

Wrap ts-morph errors to provide helpful error (#2644)
  compiler/src/model/build-model.ts
  compiler/src/model/utils.ts
Labels: compiler

Fix 'Non-leaf type' errors in xpack
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler
