Repository elastic/elasticsearch-specification, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, specification, generator:typescript, compiler

Require the use of STACK_VERSION when running validations
  README.md
  docs/validation-example.md
  run-validations.sh
Labels: documentation

Require stack version
  run-validations.sh
Labels: none

Makes contrib
  output/schema/schema.json
  output/typescript/types.ts
Labels: none

[ML] Add datafeed_config to create anomaly detection job request and response (#498)
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/_types/Job.ts
  specification/ml/preview_datafeed/MlPreviewDatafeedRequest.ts
  specification/ml/put_job/MlPutJobRequest.ts
  specification/ml/put_job/MlPutJobResponse.ts
Labels: specification

Fix typo in 'threshold'
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/evaluate_data_frame/types.ts
Labels: specification

Fix typo 'ConfusionMatrixTreshold' -> 'ConfusionMatrixThreshold'
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/evaluate_data_frame/types.ts
Labels: specification

Rename 'security.grant_api_key.ApiKey' to 'ApiKeyGrant' to avoid collision in 'security' namespace
  output/schema/schema.json
  output/typescript/types.ts
  specification/security/grant_api_key/SecurityGrantApiKeyRequest.ts
  specification/security/grant_api_key/types.ts
Labels: specification

Remove human property which comes from CommonQueryParameters
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/data_streams_stats/IndicesDataStreamsStatsRequest.ts
Labels: specification

Remove human property which comes from CommonQueryParameters (#505)
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/data_streams_stats/IndicesDataStreamsStatsRequest.ts
Labels: specification

Makes contrib
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Analysis.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/_types/Detector.ts
  specification/ml/_types/Rule.ts
  specification/ml/put_job/MlPutJobRequest.ts
Labels: specification

[ML] Adds descriptions for the put_jobs specification
  specification/ml/_types/Analysis.ts
  specification/ml/_types/Detector.ts
  specification/ml/_types/Filter.ts
  specification/ml/_types/Job.ts
  specification/ml/_types/ModelPlot.ts
  specification/ml/_types/Rule.ts
  specification/ml/put_job/MlPutJobRequest.ts
Labels: specification

Runs prettier against changed files
  specification/ml/_types/Analysis.ts
  specification/ml/_types/Detector.ts
  specification/ml/_types/Rule.ts
Labels: specification

Addresses validation errors
  specification/ml/_types/Analysis.ts
  specification/ml/_types/Filter.ts
  specification/ml/_types/Job.ts
  specification/ml/_types/ModelPlot.ts
  specification/ml/_types/Rule.ts
Labels: specification

Adds descriptions for datafeed_config
  specification/ml/_types/Datafeed.ts
Labels: specification

Rebases on main
  output/schema/schema.json
Labels: none

[ML] Adds descriptions for the put_jobs specification (#497)
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Analysis.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/_types/Detector.ts
  specification/ml/_types/Filter.ts
  specification/ml/_types/Job.ts
  specification/ml/_types/ModelPlot.ts
  specification/ml/_types/Rule.ts
  specification/ml/put_job/MlPutJobRequest.ts
Labels: specification

Remove duplicate root cause
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/Errors.ts
Labels: specification

Remove duplicate root cause (#506)
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/Errors.ts
Labels: specification

Add validation that detects duplicate properties on ancestor classes
  compiler/steps/validate-model.ts
Labels: compiler

Add 'error?' to MlCloseJobResponse
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/close_job/MlCloseJobRequest.ts
  specification/ml/close_job/MlCloseJobResponse.ts
Labels: specification

Make AnalysisConfig.influencers optional, 'ml.estimate_model_memory' stable
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Analysis.ts
  specification/ml/estimate_model_memory/MlEstimateModelMemoryRequest.ts
Labels: specification

Validate 'ml.get_datafeed_stats' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/get_datafeed_stats/MlGetDatafeedStatsRequest.ts
Labels: specification

Validate 'ml.get_job_stats' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/Job.ts
  specification/ml/_types/Model.ts
  specification/ml/get_job_stats/MlGetJobStatsRequest.ts
Labels: specification

Validate 'ml.get_jobs' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/Job.ts
  specification/ml/get_jobs/MlGetJobsRequest.ts
Labels: specification

Validate 'ml.get_model_snapshots' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Model.ts
  specification/ml/get_model_snapshots/MlGetModelSnapshotsRequest.ts
Labels: specification

Validate 'ml.open_job' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/open_job/MlOpenJobRequest.ts
  specification/ml/open_job/MlOpenJobResponse.ts
Labels: specification

Validate 'ml.put_calendar' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_calendar/MlPutCalendarRequest.ts
  specification/ml/put_calendar/MlPutCalendarResponse.ts
Labels: specification

Validate 'ml.put_datafeed' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_datafeed/MlPutDatafeedRequest.ts
  specification/ml/put_datafeed/MlPutDatafeedResponse.ts
Labels: specification

Validate 'ml.put_filter' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_filter/MlPutFilterRequest.ts
  specification/ml/put_filter/MlPutFilterResponse.ts
Labels: specification

Adds system_annotations_retention_days to ML job APIs
  specification/ml/_types/Job.ts
  specification/ml/put_job/MlPutJobRequest.ts
  specification/ml/put_job/MlPutJobResponse.ts
  specification/ml/update_job/MlUpdateJobRequest.ts
Labels: specification

Validate 'ml.revert_model_snapshot' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/Model.ts
  specification/ml/revert_model_snapshot/MlRevertModelSnapshotRequest.ts
Labels: specification

Validate 'ml.start_data_frame_analytics' API
  output/schema/schema.json
  specification/ml/start_data_frame_analytics/MlStartDataFrameAnalyticsRequest.ts
Labels: specification

Generate output
  output/schema/schema.json
  output/typescript/types.ts
Labels: none

Make AnalysisConfig.influencers optional, 'ml.estimate_model_memory' stable (#509)
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Analysis.ts
  specification/ml/estimate_model_memory/MlEstimateModelMemoryRequest.ts
Labels: specification

Validate 'ml.get_model_snapshots' API (#513)
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Model.ts
  specification/ml/get_model_snapshots/MlGetModelSnapshotsRequest.ts
Labels: specification

Validate 'ml.open_job' API (#514)
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/open_job/MlOpenJobRequest.ts
  specification/ml/open_job/MlOpenJobResponse.ts
Labels: specification

Validate 'ml.put_calendar' API (#517)
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_calendar/MlPutCalendarRequest.ts
  specification/ml/put_calendar/MlPutCalendarResponse.ts
Labels: specification

Validate 'ml.put_datafeed' API (#518)
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_datafeed/MlPutDatafeedRequest.ts
  specification/ml/put_datafeed/MlPutDatafeedResponse.ts
Labels: specification

Validate 'ml.put_filter' API (#519)
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_filter/MlPutFilterRequest.ts
  specification/ml/put_filter/MlPutFilterResponse.ts
Labels: specification

Validate 'ml.revert_model_snapshot' API (#520)
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/revert_model_snapshot/MlRevertModelSnapshotRequest.ts
Labels: specification

.github/labeler.yml:

documentation:
  - '*.md'

specification:
  - 'specification/**/*'

generator:typescript:
  - 'typescript-generator/**/*'

compiler:
  - 'compiler/**/*'

backport-7.x:
  # Add 'backport-7.x` label to any change to compiler/ts-generator files
  # as long as the 'specification' hasn't changed
  - any: ['compiler/**/*', 'typescript-generator/**/*']
    all: ['!specification/**/*']
