Repository elastic/elasticsearch-specification, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, specification, generator:typescript, compiler

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

specification:
- changed-files:
  - any-glob-to-any-file: 'specification/**/*'

generator:typescript:
- changed-files:
  - any-glob-to-any-file: 'typescript-generator/**/*'

compiler:
- changed-files:
  - any-glob-to-any-file: ['compiler/**/*', 'compiler-rs/**/*']

Run make contrib
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
Labels: none

Merge `query_rule` and `query_ruleset` namespaces into `query_rules` (#2656)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/typescript/types.ts
  specification/_json_spec/query_rules.delete_rule.json
  specification/_json_spec/query_rules.delete_ruleset.json
  specification/_json_spec/query_rules.get_rule.json
  specification/_json_spec/query_rules.get_ruleset.json
  specification/_json_spec/query_rules.list_rulesets.json
  specification/_json_spec/query_rules.put_rule.json
  specification/_json_spec/query_rules.put_ruleset.json
  specification/query_rules/_types/QueryRuleset.ts
  specification/query_rules/delete_rule/QueryRuleDeleteRequest.ts
  specification/query_rules/delete_rule/QueryRuleDeleteResponse.ts
  specification/query_rules/delete_ruleset/QueryRulesetDeleteRequest.ts
  specification/query_rules/delete_ruleset/QueryRulesetDeleteResponse.ts
  specification/query_rules/get_rule/QueryRuleGetRequest.ts
  specification/query_rules/get_rule/QueryRuleGetResponse.ts
  specification/query_rules/get_ruleset/QueryRulesetGetRequest.ts
  specification/query_rules/get_ruleset/QueryRulesetGetResponse.ts
  specification/query_rules/list_rulesets/QueryRulesetListRequest.ts
  specification/query_rules/list_rulesets/QueryRulesetListResponse.ts
  specification/query_rules/list_rulesets/types.ts
  specification/query_rules/put_rule/QueryRulePutRequest.ts
  specification/query_rules/put_rule/QueryRulePutResponse.ts
  specification/query_rules/put_ruleset/QueryRulesetPutRequest.ts
  specification/query_rules/put_ruleset/QueryRulesetPutResponse.ts
Labels: specification

Update specification output
  output/schema/schema-serverless.json
Labels: none

Set fail-fast: false on update-rest-api workflow (#2660)
  .github/workflows/update-rest-api-json.yml
Labels: none

Maintain "behavior" meta-data in specification
  compiler/src/model/build-model.ts
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/src/steps/validate-model.ts
  docs/behaviors.md
  specification/_global/search/_types/suggester.ts
  specification/_types/Errors.ts
  specification/_types/aggregations/Aggregate.ts
  specification/_types/common.ts
  specification/_types/query_dsl/compound.ts
  specification/_types/query_dsl/geo.ts
  specification/_types/query_dsl/specialized.ts
  specification/_types/query_dsl/term.ts
  specification/_types/sort.ts
  specification/indices/_types/IndexSettings.ts
  specification/indices/analyze/types.ts
  specification/indices/field_usage_stats/IndicesFieldUsageStatsResponse.ts
  specification/indices/shard_stores/types.ts
  specification/ingest/simulate/types.ts
  specification/nodes/info/types.ts
  specification/watcher/_types/Conditions.ts
  typescript-generator/src/metamodel.ts
Labels: specification, generator:typescript, compiler

Use dedicated `Behavior` type in metamodel
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  typescript-generator/src/metamodel.ts
Labels: generator:typescript, compiler

Use key-value-pairs instead of positional arguments
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/src/steps/validate-model.ts
  docs/behaviors.md
  specification/_global/search/_types/suggester.ts
  specification/_types/Errors.ts
  specification/_types/aggregations/Aggregate.ts
  specification/_types/common.ts
  specification/_types/query_dsl/compound.ts
  specification/_types/query_dsl/geo.ts
  specification/_types/query_dsl/specialized.ts
  specification/_types/query_dsl/term.ts
  specification/_types/sort.ts
  specification/indices/_types/IndexSettings.ts
  specification/indices/analyze/types.ts
  specification/indices/field_usage_stats/IndicesFieldUsageStatsResponse.ts
  specification/indices/shard_stores/types.ts
  specification/ingest/simulate/types.ts
  specification/nodes/info/types.ts
  specification/watcher/_types/Conditions.ts
  typescript-generator/src/metamodel.ts
Labels: specification, generator:typescript, compiler

Rename required `behavior_meta` keys
  compiler/src/steps/validate-model.ts
  docs/behaviors.md
  specification/_global/search/_types/suggester.ts
  specification/_types/Errors.ts
  specification/_types/aggregations/Aggregate.ts
  specification/_types/common.ts
  specification/_types/query_dsl/compound.ts
  specification/_types/query_dsl/geo.ts
  specification/_types/query_dsl/specialized.ts
  specification/_types/query_dsl/term.ts
  specification/_types/sort.ts
  specification/indices/_types/IndexSettings.ts
  specification/indices/analyze/types.ts
  specification/indices/field_usage_stats/IndicesFieldUsageStatsResponse.ts
  specification/indices/shard_stores/types.ts
  specification/ingest/simulate/types.ts
  specification/nodes/info/types.ts
  specification/watcher/_types/Conditions.ts
Labels: specification, compiler

Maintain "behavior" meta-data in specification (#2638)
  compiler/src/model/build-model.ts
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/src/steps/validate-model.ts
  docs/behaviors.md
  specification/_global/search/_types/suggester.ts
  specification/_types/Errors.ts
  specification/_types/aggregations/Aggregate.ts
  specification/_types/common.ts
  specification/_types/query_dsl/compound.ts
  specification/_types/query_dsl/geo.ts
  specification/_types/query_dsl/specialized.ts
  specification/_types/query_dsl/term.ts
  specification/_types/sort.ts
  specification/indices/_types/IndexSettings.ts
  specification/indices/analyze/types.ts
  specification/indices/field_usage_stats/IndicesFieldUsageStatsResponse.ts
  specification/indices/shard_stores/types.ts
  specification/ingest/simulate/types.ts
  specification/nodes/info/types.ts
  specification/watcher/_types/Conditions.ts
  typescript-generator/src/metamodel.ts
Labels: specification, generator:typescript, compiler

Update specification output
  output/schema/schema-serverless.json
Labels: none

Improve declaration of untagged unions to allow for generator optimizations
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/src/steps/validate-model.ts
  specification/_types/query_dsl/specialized.ts
  specification/_types/query_dsl/term.ts
  typescript-generator/src/metamodel.ts
Labels: specification, generator:typescript, compiler

Add `untagged` variant to the modelling guide
  docs/modeling-guide.md
Labels: none

fixed openapi translation, regenerate
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/main.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/openapi_to_clients_schema/src/types.rs
  output/openapi/elasticsearch-serverless-openapi.json
  output/typescript/types.ts
Labels: compiler

Pass down type arguments to behaviors
  output/typescript/types.ts
  typescript-generator/src/index.ts
Labels: generator:typescript

Make linter happy
  typescript-generator/src/index.ts
Labels: generator:typescript

Explicitly name the "untyped" variant and prevent declaration of new untagged variants
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/src/steps/validate-model.ts
  docs/modeling-guide.md
  specification/_types/query_dsl/compound.ts
  specification/_types/query_dsl/specialized.ts
  specification/_types/query_dsl/term.ts
  typescript-generator/src/metamodel.ts
Labels: specification, generator:typescript, compiler

Improve declaration of untagged unions to allow for generator optimizations (#2548)
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/main.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/openapi_to_clients_schema/src/types.rs
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/src/steps/validate-model.ts
  docs/modeling-guide.md
  output/openapi/elasticsearch-serverless-openapi.json
  output/typescript/types.ts
  specification/_types/query_dsl/compound.ts
  specification/_types/query_dsl/specialized.ts
  specification/_types/query_dsl/term.ts
  typescript-generator/src/index.ts
  typescript-generator/src/metamodel.ts
Labels: specification, generator:typescript, compiler

Validate generation more extensively
  .github/workflows/validate-pr.yml
  Makefile
Labels: none

Fix eql.search response types
  specification/_doc_ids/table.csv
  specification/eql/_types/EqlHits.ts
Labels: specification

Fix OpenAPI generation
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/src/steps/validate-model.ts
  output/typescript/types.ts
  typescript-generator/src/metamodel.ts
Labels: generator:typescript, compiler

Fix OpenAPI generation (#2664)
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/src/steps/validate-model.ts
  output/typescript/types.ts
  typescript-generator/src/metamodel.ts
Labels: generator:typescript, compiler

Update specification output
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
Labels: none

Validate generation more extensively (#2662)
  .github/workflows/validate-pr.yml
  Makefile
Labels: none

Fix lint
  specification/eql/_types/EqlHits.ts
Labels: specification

Run make contrib
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
Labels: none

Fix eql.search response types (#2663)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/_doc_ids/table.csv
  specification/eql/_types/EqlHits.ts
Labels: specification

simplifying generics
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/_types/query_dsl/compound.ts
Labels: specification

simplifying generics (#2665)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/_types/query_dsl/compound.ts
Labels: specification

decay placement in additional properties
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/_types/query_dsl/compound.ts
Labels: specification

ops
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/_types/query_dsl/compound.ts
Labels: specification

Decay placement in additional properties (#2666)
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/_types/query_dsl/compound.ts
Labels: specification

ESQL is now stable (GA)
  output/schema/schema-serverless.json
  specification/esql/query/QueryRequest.ts
Labels: specification

ESQL is now stable (GA) (#2667)
  output/schema/schema-serverless.json
  specification/esql/query/QueryRequest.ts
Labels: specification

Collapse diffs in PRs for everything in output/
  .gitattributes
Labels: none

Collapse diffs in PRs for everything in output/ (#2668)
  .gitattributes
Labels: none

[7.17] Fix Update rest-api-spec action
  .nvmrc
Labels: none

Exclude 7.17 from "Update rest-api-spec action"
  .github/workflows/update-rest-api-json.yml
Labels: none

Order ingest pipelines by name
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/ingest/_types/Processors.ts
Labels: specification

Revert "Order ingest pipelines by name"
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/ingest/_types/Processors.ts
Labels: specification

Order ingest pipelines by name
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  output/typescript/types.ts
  specification/ingest/_types/Processors.ts
Labels: specification
