Repository elastic/elasticsearch-specification, pull requests merged in 2021-02, with the labels that each got.

#102 Cat.Count Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/CatBase.ts
  specification/specs/common.ts
Labels: specification

#91 Add types to the 'mget' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/multiple/multi_get/request/MultiGetRequest.ts
  specification/specs/document/multiple/multi_get/response/MultiGetResponse.ts
Labels: specification

#77 Adde Indices.Segment Endpoint + Spec
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/monitoring/indices_segments/IndexSegment.ts
Labels: specification

#106 Validated Count Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/search/count/CountRequest.ts
Labels: specification

#107 get_source request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/single/source/SourceRequest.ts
Labels: specification

#105 Fixed One Error in Cluster.Reroute Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/cluster_reroute/ClusterRerouteRequest.ts
Labels: specification

#109 Validated field_caps Req & Res
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/search/field_capabilities/FieldCapabilities.ts
  specification/specs/search/field_capabilities/FieldCapabilitiesRequest.ts
  specification/specs/search/field_capabilities/FieldCapabilitiesResponse.ts
Labels: specification

#103 Address feedbacks from Kibana
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/aggregations/Aggregate.ts
  specification/specs/aggregations/bucket/composite/CompositeAggregation.ts
  specification/specs/aggregations/bucket/date_histogram/DateHistogramAggregation.ts
  specification/specs/aggregations/bucket/terms/TermsAggregation.ts
  specification/specs/aggregations/metric/top_hits/TopHitsAggregation.ts
  specification/specs/aggregations/metric/top_metrics/TopMetricsAggregation.ts
  specification/specs/common.ts
  specification/specs/common_options/hit/ShardStatistics.ts
  specification/specs/document/multiple/bulk/bulk_response_item/BulkResponseItemBase.ts
  specification/specs/document/multiple/multi_get/response/MultiGetResponse.ts
  specification/specs/document/multiple/update_by_query/UpdateByQueryRequest.ts
  specification/specs/document/single/get/GetResponse.ts
  specification/specs/document/single/update/UpdateResponse.ts
  specification/specs/index_modules/index_settings/IndexState.ts
  specification/specs/indices/mapping_management/put_mapping/PutMappingRequest.ts
  specification/specs/ingest/simulate_pipeline/DocumentSimulation.ts
  specification/specs/mapping/TypeMapping.ts
  specification/specs/mapping/types/PropertyBase.ts
  specification/specs/query_dsl/term_level/wildcard/WildcardQuery.ts
  specification/specs/search/explain/InlineGet.ts
  specification/specs/search/search/SearchRequest.ts
  specification/specs/search/search/SearchResponse.ts
  specification/specs/search/search/hits/Hit.ts
  specification/specs/search/search/hits/InnerHitsMetadata.ts
  specification/specs/search/search/sort/Sort.ts
  specification/specs/search/search_template/render_search_template/RenderSearchTemplateResponse.ts
  specification/specs/search/suggesters/SuggestOption.ts
  specification/specs/x_pack/async_search/AsyncSearch.ts
  specification/specs/x_pack/security/api_key/create_api_key/CreateApiKeyResponse.ts
  specification/specs/x_pack/security/api_key/invalidate_api_key/InvalidateApiKeyRequest.ts
  specification/specs/x_pack/security/api_key/invalidate_api_key/InvalidateApiKeyResponse.ts
  specification/specs/x_pack/security/authenticate/AuthenticateResponse.ts
  specification/specs/x_pack/security/role/get_role/XPackRole.ts
  specification/specs/x_pack/security/role/put_role/IndicesPrivileges.ts
  specification/specs/x_pack/security/user/get_user_access_token/AccessTokenGrantType.ts
  specification/specs/x_pack/security/user/get_user_access_token/GetUserAccessTokenRequest.ts
  specification/specs/x_pack/security/user/get_user_access_token/GetUserAccessTokenResponse.ts
  specification/specs/x_pack/security/user/invalidate_user_access_token/InvalidateUserAccessTokenRequest.ts
  specification/specs/x_pack/security/user/invalidate_user_access_token/InvalidateUserAccessTokenResponse.ts
  specification/specs/x_pack/security/user/put_user/PutUserRequest.ts
  specification/specs/x_pack/sql/query_sql/QuerySqlResponse.ts
  specification/specs/x_pack/sql/query_sql/SqlValue.ts
Labels: specification

#112 Check Response class existence
  output/schema/schema.json
  package.json
  specification/compiler/model/build-model.ts
Labels: compiler

#114 Fix typo in cluster explain response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/cluster_allocation_explain/ClusterAllocationExplainResponse.ts
Labels: specification

#115 Keep the target APIs green
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/aggregations/bucket/terms/TermsAggregation.ts
  specification/specs/common_options/hit/ShardStatistics.ts
  specification/specs/document/single/update/UpdateResponse.ts
Labels: specification

#110 Validate Scroll request
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/search/scroll/scroll/ScrollRequest.ts
  specification/specs/search/scroll/scroll/ScrollResponse.ts
  specification/specs/search/search/SearchResponse.ts
Labels: specification

#118 Validate cat.master response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_master/CatMasterRecord.ts
Labels: specification

#119 Cat Tasks Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_tasks/CatTasksRecord.ts
Labels: specification

#125 Avoid properties collisions and validate output
  output/typescript/types.ts
  typescript-generator/index.js
  typescript-generator/package.json
  typescript-generator/tsconfig.json
Labels: generator:typescript

#124 Validate indices.recovery Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/indices/monitoring/indices_recovery/RecoveryBytes.ts
  specification/specs/indices/monitoring/indices_recovery/RecoveryFiles.ts
  specification/specs/indices/monitoring/indices_recovery/RecoveryIndexStatus.ts
  specification/specs/indices/monitoring/indices_recovery/RecoveryOrigin.ts
  specification/specs/indices/monitoring/indices_recovery/RecoveryTranslogStatus.ts
  specification/specs/indices/monitoring/indices_recovery/RecoveryVerifyIndex.ts
  specification/specs/indices/monitoring/indices_recovery/ShardRecovery.ts
Labels: specification

#123 Validate indices.delete
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common_abstractions/response/IndicesResponseBase.ts
Labels: specification

#121 Validated graph.explore Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/graph/explore/request/GraphExploreControls.ts
  specification/specs/x_pack/graph/explore/request/GraphVertexDefinition.ts
  specification/specs/x_pack/graph/explore/request/Hop.ts
Labels: specification

#130 Validate cat.nodeattrs Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_node_attributes/CatNodeAttributesRecord.ts
Labels: specification

#129 Validated cat.ml_trained_models Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_trained_models/CatTrainedModelsRecord.ts
Labels: specification

#128 Validated cat.ml_job Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_jobs/CatJobsRecord.ts
Labels: specification

#127 Validated cat.ml_datafeeds Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_datafeeds/CatDatafeedsRecord.ts
Labels: specification

#132 Validate cat.snapshots Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_snapshots/CatSnapshotsRecord.ts
Labels: specification

#131 Validate cat.templates Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_templates/CatTemplatesRecord.ts
Labels: specification

#133 Fix enrich.put_policy request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/enrich/EnrichPolicy.ts
Labels: specification

#136 Validation watcher.stats Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/NodeStatistics.ts
  specification/specs/x_pack/watcher/watcher_stats/WatchRecordQueuedStats.ts
  specification/specs/x_pack/watcher/watcher_stats/WatchRecordStats.ts
  specification/specs/x_pack/watcher/watcher_stats/WatcherNodeStats.ts
  specification/specs/x_pack/watcher/watcher_stats/WatcherStatsResponse.ts
Labels: specification

#135 Fix license.post_start_basic response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/license/start_basic_license/StartBasicLicenseResponse.ts
Labels: specification

#117 Cat.Count Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_count/CatCountRecord.ts
Labels: specification

#137 Fix ml.get_records response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/job/results/AnomalyRecord.ts
Labels: specification

#122 Validated ilm.delete_lifecycle & ilm.put_lifecycle Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/ilm/Phase.ts
  specification/specs/x_pack/ilm/Phases.ts
  specification/specs/x_pack/ilm/delete_lifecycle/DeleteLifecycleRequest.ts
  specification/specs/x_pack/ilm/put_lifecycle/PutLifecycleRequest.ts
Labels: on hold, specification

#140 Cleanup of Type & Types
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/document/multiple/bulk/BulkRequest.ts
  specification/specs/document/multiple/delete_by_query/DeleteByQueryRequest.ts
  specification/specs/document/multiple/multi_get/request/MultiGetRequest.ts
  specification/specs/document/multiple/multi_get/response/MultiGetResponse.ts
  specification/specs/document/multiple/multi_term_vectors/MultiTermVectorsRequest.ts
  specification/specs/document/multiple/update_by_query/UpdateByQueryRequest.ts
  specification/specs/document/single/create/CreateRequest.ts
  specification/specs/document/single/delete/DeleteRequest.ts
  specification/specs/document/single/exists/DocumentExistsRequest.ts
  specification/specs/document/single/get/GetRequest.ts
  specification/specs/document/single/index/IndexRequest.ts
  specification/specs/document/single/source/SourceRequest.ts
  specification/specs/document/single/source_exists/SourceExistsRequest.ts
  specification/specs/document/single/term_vectors/TermVectorsRequest.ts
  specification/specs/document/single/update/UpdateRequest.ts
  specification/specs/indices/index_management/types_exists/TypeExistsRequest.ts
  specification/specs/indices/mapping_management/get_field_mapping/GetFieldMappingRequest.ts
  specification/specs/indices/mapping_management/get_mapping/GetMappingRequest.ts
  specification/specs/indices/mapping_management/put_mapping/PutMappingRequest.ts
  specification/specs/indices/monitoring/indices_stats/IndicesStatsRequest.ts
  specification/specs/search/count/CountRequest.ts
  specification/specs/search/explain/ExplainRequest.ts
  specification/specs/search/multi_search/MultiSearchRequest.ts
  specification/specs/search/multi_search_template/MultiSearchTemplateRequest.ts
  specification/specs/search/search/SearchRequest.ts
  specification/specs/search/search/hits/Hit.ts
  specification/specs/search/search_template/SearchTemplateRequest.ts
  specification/specs/search/validate/ValidateQueryRequest.ts
  specification/specs/x_pack/graph/explore/GraphExploreRequest.ts
  specification/specs/x_pack/roll_up/rollup_search/RollupSearchRequest.ts
Labels: enhancement, specification

#139 Fix field_caps Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/search/field_capabilities/FieldCapabilitiesRequest.ts
Labels: specification

#141 Fix get_script Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/modules/scripting/get_script/GetScriptResponse.ts
Labels: specification

#138 Validate Explain API
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/search/explain/ExplainRequest.ts
  specification/specs/search/explain/ExplainResponse.ts
  specification/specs/search/explain/ExplanationDetail.ts
  specification/specs/search/explain/InlineGet.ts
Labels: specification

#143 Fix indices.open Response
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/index_management/open_close_index/open_index/OpenIndexResponse.ts
Labels: specification

#146 Fix NodeUsageInformation used by nodes.usage response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/nodes_usage/NodeUsageInformation.ts
Labels: specification

#145 Fix ml.validate_detector response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/job/detectors/Detector.ts
  specification/specs/x_pack/machine_learning/validate_detector/ValidateDetectorRequest.ts
Labels: specification

#126 Validated cat.health Req & Res
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_health/CatHealthRecord.ts
  specification/specs/cat/cat_health/CatHealthRequest.ts
Labels: specification

#147 Fix security.get_user_priviledges response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/security/privileges/get_user_privileges/UserIndicesPrivileges.ts
Labels: specification

#151 Add support for generics on type aliases
  output/schema/schema.json
  output/typescript/types.ts
  specification/compiler/model/metamodel.ts
  specification/compiler/model/utils.ts
  specification/specs/common.ts
  specification/specs/search/search/SearchResponse.ts
  specification/specs/search/search/hits/Hit.ts
  specification/specs/search/suggesters/SuggestDictionary.ts
  specification/specs/search/suggesters/SuggestOption.ts
  specification/specs/x_pack/async_search/AsyncSearch.ts
  typescript-generator/index.js
Labels: generator:typescript, specification

#134 Fix indices.flush_synced response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/status_management/synced_flush/SyncedFlushResponse.ts
Labels: specification

#120 Delete by query Req & Res
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/multiple/delete_by_query/DeleteByQueryResponse.ts
  specification/specs/search/scroll/scroll/SlicedScroll.ts
Labels: specification

#152 Fix remaining search response failures
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/aggregations/Aggregate.ts
  specification/specs/aggregations/AggregationContainer.ts
  specification/specs/aggregations/metric/geo_line/GeoLineAggregation.ts
  specification/specs/common_options/date_math/DateMathTime.ts
  specification/specs/query_dsl/geo/GeoLocation.ts
Labels: specification
