Repository elastic/elasticsearch-specification, pull requests merged in 2021-04, with the labels that each got.

#285 Fix ml.revert_model_snapshot Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/job/process/ModelSizeStats.ts
  specification/specs/x_pack/machine_learning/job/process/ModelSnapshot.ts
Labels: specification

#284 Add ml.delete_trained_model APIs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/delete_trained_model/DeleteTrainedModelRequest.ts
  specification/specs/x_pack/machine_learning/delete_trained_model/DeleteTrainedModelResponse.ts
  specification/specs/x_pack/machine_learning/delete_trained_model_alias/DeleteTrainedModelAliasRequest.ts
  specification/specs/x_pack/machine_learning/delete_trained_model_alias/DeleteTrainedModelAliasResponse.ts
Labels: specification

#283 Validated ml.flush_job Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/flush_job/FlushJobResponse.ts
Labels: specification

#282 Fix ml.delete_expired_data request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/delete_expired_data/DeleteExpiredDataRequest.ts
Labels: specification

#281 Fix mget Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/multiple/multi_get/MultiGetRequest.ts
Labels: specification

#280 Add cluster.post_voting_config_exclusions API
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/cluster_put_voting_config_exclusions/ClusterPostVotingConfigExclusionsRequest.ts
Labels: specification

#279 Add indices.resolve_index API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/indices/resolve_index/ResolveIndexRequest.ts
  specification/specs/indices/resolve_index/ResolveIndexResponse.ts
Labels: specification

#278 Add security.clear_cached_privileges API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/x_pack/security/privileges/clear_cached_privileges/ClearCachedPrivilegesRequest.ts
  specification/specs/x_pack/security/privileges/clear_cached_privileges/ClearCachedPrivilegesResponse.ts
Labels: specification

#276 Validate indices.data_streams_stats Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/data_streams/data_streams_stats/IndicesDataStreamsStatsResponse.ts
Labels: specification

#274 Fix snapshot.get Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/modules/snapshot_and_restore/snapshot/get_snapshot/GetSnapshotResponse.ts
Labels: specification

#273 Fix security.get_api_key Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/security/api_key/get_api_key/ApiKeys.ts
Labels: specification

#272 Fix ingest.simulate Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/ingest/simulate_pipeline/DocumentSimulation.ts
Labels: specification

#271 Validate ingest.get_pipeline Request
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/ingest/get_pipeline/GetPipelineRequest.ts
Labels: specification

#270 Validate indices.split Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/index_management/split_index/SplitIndexResponse.ts
Labels: specification

#269 Validate indices.recovery Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/monitoring/indices_recovery/RecoveryOrigin.ts
  specification/specs/indices/monitoring/indices_recovery/ShardRecovery.ts
Labels: specification

#286 Fix ml.delete_calendar_job Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/delete_calendar_job/DeleteCalendarJobResponse.ts
Labels: specification

#287 Add ml.delete_data_frame_analytics API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/delete_data_frame_analytics/DeleteDataFrameAnalyticsRequest.ts
  specification/specs/x_pack/machine_learning/delete_data_frame_analytics/DeleteDataFrameAnalyticsResponse.ts
Labels: specification

#288 Stubbed Req & Resp for get_script_* APIs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/modules/scripting/get_script_context/GetScriptContextRequest.ts
  specification/specs/modules/scripting/get_script_context/GetScriptContextResponse.ts
  specification/specs/modules/scripting/get_script_languages/GetScriptLanguagesRequest.ts
  specification/specs/modules/scripting/get_script_languages/GetScriptLanguagesResponse.ts
Labels: specification

#293 Fix ml.get_records request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/get_anomaly_records/GetAnomalyRecordsRequest.ts
Labels: specification

#291 Improve indices.validate_query
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/search/validate/ValidateQueryRequest.ts
  specification/specs/search/validate/ValidateQueryResponse.ts
  specification/specs/search/validate/ValidationExplanation.ts
Labels: specification

#290 Validate indices.create_data_stream endpoint
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/x_pack/data_streams/create_data_stream/IndicesCreateDataStreamRequest.ts
  specification/specs/x_pack/data_streams/create_data_stream/IndicesCreateDataStreamResponse.ts
Labels: specification

#292 Annotate `data_frozen` with the according version
  specification/specs/cluster/cluster_stats/ClusterNodeCount.ts
  specification/specs/x_pack/info/x_pack_usage/DataTiersUsage.ts
  specification/specs/x_pack/machine_learning/close_job/CloseJobRequest.ts
Labels: specification

#296 Validate ml.stop_datafeed Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/stop_datafeed/StopDatafeedRequest.ts
Labels: specification

#298 Update rest-api-spec
  output/schema/schema.json
  output/schema/validation-errors.json
  specification/specs/_json_spec/features.get_features.json
  specification/specs/_json_spec/features.reset_features.json
  specification/specs/_json_spec/ingest.geo_ip_stats.json
  specification/specs/_json_spec/ingest.get_pipeline.json
  specification/specs/_json_spec/ml.find_file_structure.json
  specification/specs/_json_spec/ml.preview_datafeed.json
  specification/specs/_json_spec/shutdown.delete_node.json
  specification/specs/_json_spec/shutdown.get_node.json
  specification/specs/_json_spec/shutdown.put_node.json
Labels: specification

#304 Fix ml.validate Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/job/config/AnalysisConfig.ts
  specification/specs/x_pack/machine_learning/job/config/DataDescription.ts
  specification/specs/x_pack/machine_learning/validate_job/ValidateJobRequest.ts
Labels: specification

#306 Validate reindex_rethrottle Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/multiple/reindex_rethrottle/ReindexNode.ts
  specification/specs/document/multiple/reindex_rethrottle/ReindexRethrottleResponse.ts
  specification/specs/document/multiple/reindex_rethrottle/ReindexTask.ts
Labels: specification

#303 Validate ml.get_buckets API
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/get_buckets/GetBucketsRequest.ts
  specification/specs/x_pack/machine_learning/job/results/BucketInfluencer.ts
  specification/specs/x_pack/machine_learning/job/results/ResultBucket.ts
Labels: specification

#301 Validated ml.get_datafeed_stats API
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/datafeed/DatafeedStats.ts
  specification/specs/x_pack/machine_learning/datafeed/DiscoveryNode.ts
  specification/specs/x_pack/machine_learning/get_datafeed_stats/GetDatafeedStatsRequest.ts
Labels: specification

#300 Validate ml.get_calendar_events API
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/get_calendar_events/GetCalendarEventsRequest.ts
  specification/specs/x_pack/machine_learning/post_calendar_events/ScheduledEvent.ts
Labels: specification

#314 Fix license.delete Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/license/delete_license/DeleteLicenseResponse.ts
Labels: specification

#313 Fix rollup.get_jobs response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/roll_up/get_rollup_job/RollupJobStatus.ts
Labels: specification

#312 Fix ml.start_datafeed Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/start_datafeed/StartDatafeedRequest.ts
Labels: specification

#311 Fix ml.delete_trained_model_alias request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/delete_trained_model_alias/DeleteTrainedModelAliasRequest.ts
Labels: specification

#309 Fix ml.get_jobs Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/info/x_pack_usage/Job.ts
  specification/specs/x_pack/machine_learning/get_jobs/GetJobsRequest.ts
Labels: specification

#308 Fix ml.get_filters response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/get_filters/Filter.ts
  specification/specs/x_pack/machine_learning/get_filters/GetFiltersRequest.ts
Labels: specification

#307 Validate ML DataCounts and Datafeed type
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/datafeed/Datafeed.ts
  specification/specs/x_pack/machine_learning/get_datafeeds/GetDatafeedsRequest.ts
  specification/specs/x_pack/machine_learning/get_job_stats/GetJobStatsRequest.ts
  specification/specs/x_pack/machine_learning/job/config/JobForecastStatistics.ts
  specification/specs/x_pack/machine_learning/job/config/JobStats.ts
  specification/specs/x_pack/machine_learning/job/config/TimingStats.ts
  specification/specs/x_pack/machine_learning/job/process/DataCounts.ts
  specification/specs/x_pack/machine_learning/job/process/ModelSizeStats.ts
Labels: specification

#316 Fix update_by_query_rethrottle Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/multiple/update_by_query_rethrottle/UpdateByQueryRethrottleNode.ts
  specification/specs/document/multiple/update_by_query_rethrottle/UpdateByQueryRethrottleResponse.ts
Labels: specification

#318 Fix msearch and indices.put_mapping
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/mapping_management/put_mapping/PutMappingRequest.ts
  specification/specs/mapping/runtime_fields/RuntimeFields.ts
  specification/specs/search/multi_search/MultiSearchRequest.ts
  specification/specs/search/multi_search/MultiSearchResponse.ts
  specification/specs/search/suggesters/SuggestOption.ts
Labels: specification

#315 Updated ts client generator
  typescript-generator/client.js
Labels: generator:typescript, specification

#265 watcher.stats Request
  output/schema/schema.json
  specification/specs/x_pack/watcher/watcher_stats/WatcherStatsRequest.ts
Labels: question, specification

#320 Fix search_template Response
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/search/search_template/SearchTemplateRequest.ts
  specification/specs/search/search_template/SearchTemplateResponse.ts
Labels: generator:typescript, specification

#323 Improve error UX
  specification/compiler/model/build-model.ts
  specification/compiler/model/utils.ts
Labels: compiler

#324 Introduce since, description and default tags
  docs/modeling-guide.md
  output/schema/schema.json
  specification/compiler/model/metamodel.ts
  specification/compiler/model/utils.ts
  specification/specs/search/search_template/SearchTemplateRequest.ts
Labels: compiler, documentation, specification

#326 Add visibility to Endpoint definition
  output/schema/schema.json
  specification/compiler/model/build-model.ts
Labels: compiler

#333 Tag polymorphic types. Part 1: containers
  docs/modeling-guide.md
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/compiler/model/metamodel.ts
  specification/compiler/model/utils.ts
  specification/compiler/steps/validate-model.ts
  specification/compiler/validation-errors.ts
  specification/specs/aggregations/Aggregation.ts
  specification/specs/aggregations/AggregationContainer.ts
  specification/specs/aggregations/bucket/BucketAggregationBase.ts
  specification/specs/aggregations/bucket/adjacency_matrix/AdjacencyMatrixAggregation.ts
  specification/specs/aggregations/bucket/auto_date_histogram/AutoDateHistogramAggregation.ts
  specification/specs/aggregations/bucket/children/ChildrenAggregation.ts
  specification/specs/aggregations/bucket/composite/CompositeAggregation.ts
  specification/specs/aggregations/bucket/composite/CompositeAggregationSource.ts
  specification/specs/aggregations/bucket/date_histogram/DateHistogramAggregation.ts
  specification/specs/aggregations/bucket/date_range/DateRangeAggregation.ts
  specification/specs/aggregations/bucket/date_range/DateRangeExpression.ts
  specification/specs/aggregations/pipeline/inference_bucket/InferenceBucketAggregation.ts
  specification/specs/behaviors.ts
  specification/specs/common.ts
  specification/specs/document/multiple/bulk/bulk_operation/BulkOperation.ts
  specification/specs/document/multiple/bulk/bulk_response_item/BulkResponseItemBase.ts
  specification/specs/document/multiple/multi_get/MultiGetRequest.ts
  specification/specs/ingest/ProcessorContainer.ts
  specification/specs/query_dsl/abstractions/container/QueryContainer.ts
  specification/specs/query_dsl/full_text/intervals/IntervalsContainer.ts
  specification/specs/search/search/SearchRequest.ts
  specification/specs/search/suggesters/SuggestContainer.ts
  specification/specs/search/suggesters/phrase_suggester/smoothing_model/SmoothingModelContainer.ts
  specification/specs/x_pack/async_search/get/AsyncSearchGetRequest.ts
  specification/specs/x_pack/transform/TransformSyncContainer.ts
  specification/specs/x_pack/watcher/condition/ConditionContainer.ts
  specification/specs/x_pack/watcher/input/InputContainer.ts
  specification/specs/x_pack/watcher/schedule/ScheduleContainer.ts
  specification/specs/x_pack/watcher/transform/TransformContainer.ts
  specification/specs/x_pack/watcher/trigger/TriggerContainer.ts
  specification/specs/x_pack/watcher/trigger/TriggerEventContainer.ts
Labels: compiler, documentation, specification

#342 Renamed Security.enable_user Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/security/enable_user/SecurityEnableUserResponse.ts
Labels: specification

#338 Validate ml.stop_data_frame_analytics API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/stop_data_frame_analytics/MlStopDataFrameAnalyticsRequest.ts
  specification/ml/stop_data_frame_analytics/MlStopDataFrameAnalyticsResponse.ts
Labels: specification

#336 Add ingest.geo_ip_stats API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ingest/geo_ip_stats/IngestGeoIpStatsRequest.ts
  specification/ingest/geo_ip_stats/IngestGeoIpStatsResponse.ts
Labels: specification

#310 Fix ml.update_job Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/__common/ml/AnalysisConfig.ts
  specification/__common/ml/AnalysisMemoryLimit.ts
  specification/__common/ml/DetectionRule.ts
  specification/__common/ml/Detector.ts
  specification/__common/ml/ModelPlotConfigEnabled.ts
  specification/ml/update_job/MlUpdateJobRequest.ts
Labels: specification

#325 Validate Cluster.health Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/__common/common.ts
  specification/__common/common/Health.ts
  specification/__common/common_options/time_unit/Time.ts
  specification/__common/watcher/execution/HttpInputResponseResult.ts
  specification/__global/reindex_rethrottle/ReindexTask.ts
  specification/cluster/ClusterStateIndexLifecycle.ts
  specification/cluster/cluster_health/ClusterHealthRequest.ts
  specification/cluster/cluster_health/ClusterHealthResponse.ts
  specification/cluster/cluster_reroute/ClusterRerouteCommand.ts
  specification/cluster/cluster_reroute/ClusterRerouteRequest.ts
  specification/indices/DataStreamStatus.ts
  specification/task/get_task/TaskInfo.ts
  specification/task/list_tasks/TaskState.ts
Labels: specification

#327 Annotated xQL Classes
  output/schema/schema.json
  output/typescript/types.ts
  specification/__common/common/ExpandWildcards.ts
  specification/__global/search/hits/TotalHitsRelation.ts
  specification/eql/EqlHits.ts
  specification/eql/EqlHitsEvent.ts
  specification/eql/EqlHitsSequence.ts
  specification/eql/EqlSearchResponseBase.ts
  specification/eql/delete/EqlDeleteRequest.ts
  specification/eql/get/EqlGetRequest.ts
  specification/eql/get_status/EqlGetStatusRequest.ts
  specification/eql/get_status/EqlGetStatusResponse.ts
  specification/eql/search/EqlSearchRequest.ts
  specification/sql/clear_sql_cursor/ClearSqlCursorRequest.ts
  specification/sql/query_sql/QuerySqlRequest.ts
  specification/sql/translate_sql/TranslateSqlRequest.ts
Labels: specification

#337 Add indices.upgrade API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/indices/upgrade/IndicesUpgradeRequest.ts
  specification/indices/upgrade/IndicesUpgradeResponse.ts
Labels: specification

#344 Add Shutdown Req & Resp stubs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/shutdown/delete_node/ShutdownDeleteNodeRequest.ts
  specification/shutdown/delete_node/ShutdownDeleteNodeResponse.ts
  specification/shutdown/get_node/ShutdownGetNodeRequest.ts
  specification/shutdown/get_node/ShutdownGetNodeResponse.ts
  specification/shutdown/put_node/ShutdownPutNodeRequest.ts
  specification/shutdown/put_node/ShutdownPutNodeResponse.ts
Labels: specification

#343 Add annotations and validations for polymorphic types
  compiler/model/metamodel.ts
  compiler/model/utils.ts
  compiler/package.json
  compiler/steps/validate-model.ts
  compiler/validation-errors.ts
  docs/modeling-guide.md
  output/schema/schema.json
  output/typescript/types.ts
  specification/__common/aggregations/AggregationContainer.ts
  specification/__common/query_dsl/abstractions/container/QueryContainer.ts
  specification/__common/query_dsl/full_text/intervals/IntervalsContainer.ts
  specification/__common/watcher/conditions/ConditionContainer.ts
  specification/__common/watcher/input/InputContainer.ts
  specification/__common/watcher/schedule/ScheduleContainer.ts
  specification/__common/watcher/transform/TransformContainer.ts
  specification/__common/watcher/trigger/TriggerContainer.ts
  specification/__common/watcher/trigger/TriggerEventContainer.ts
  specification/__global/mget/MultiGetRequest.ts
  specification/__global/search/suggesters/SuggestContainer.ts
  specification/__global/search/suggesters/phrase_suggester/smoothing_model/SmoothingModelContainer.ts
  specification/ingest/ProcessorContainer.ts
  specification/transform/TransformSyncContainer.ts
Labels: compiler, documentation, specification

#348 Fix type alias generics
  compiler/model/metamodel.ts
  compiler/model/utils.ts
  compiler/steps/validate-model.ts
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
Labels: compiler

#353 Validate search_shards response & consolidate shared classes
  output/schema/schema.json
  output/typescript/types.ts
  specification/__global/search_shards/SearchNode.ts
  specification/__global/search_shards/SearchShardsRequest.ts
  specification/__global/search_shards/SearchShardsResponse.ts
  specification/cluster/ClusterStateRoutingNodes.ts
  specification/cluster/cluster_reroute/ClusterRerouteState.ts
  specification/cluster/cluster_state/ClusterStateResponse.ts
  specification/nodes/NodeAttributes.ts
  specification/nodes/NodeShard.ts
  specification/transform/get_transform_stats/TransformStats.ts
Labels: specification

#352 Fix ml.info
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/info/MlInfoRequest.ts
  specification/ml/info/MlInfoResponse.ts
Labels: specification

#351 Validate Indices.stats
  output/schema/schema.json
  output/typescript/types.ts
  specification/__common/common_options/stats/BulkStats.ts
  specification/__common/common_options/stats/CompletionStats.ts
  specification/__common/common_options/stats/FielddataStats.ts
  specification/__common/common_options/stats/IndexingStats.ts
  specification/indices/stats/IndexStats.ts
  specification/indices/stats/ShardCompletion.ts
  specification/indices/stats/ShardDocs.ts
  specification/indices/stats/ShardFlush.ts
  specification/indices/stats/ShardGet.ts
  specification/indices/stats/ShardIndexing.ts
  specification/indices/stats/ShardMerges.ts
  specification/indices/stats/ShardRefresh.ts
  specification/indices/stats/ShardRequestCache.ts
  specification/indices/stats/ShardSearch.ts
  specification/indices/stats/ShardSegments.ts
  specification/indices/stats/ShardStats.ts
  specification/indices/stats/ShardStatsStore.ts
  specification/indices/stats/ShardTransactionLog.ts
  specification/indices/stats/ShardWarmer.ts
Labels: specification

#356 Stub missing ML API's
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/evaluate_data_frame/MlEvaluateDataFrameRequest.ts
  specification/ml/evaluate_data_frame/MlEvaluateDataFrameResponse.ts
  specification/ml/explain_data_frame_analytics/MlExplainDataFrameAnalyticsRequest.ts
  specification/ml/explain_data_frame_analytics/MlExplainDataFrameAnalyticsResponse.ts
  specification/ml/get_data_frame_analytics/MlGetDataFrameAnalyticsRequest.ts
  specification/ml/get_data_frame_analytics/MlGetDataFrameAnalyticsResponse.ts
  specification/ml/get_data_frame_analytics_stats/MlGetDataFrameAnalyticsStatsRequest.ts
  specification/ml/get_data_frame_analytics_stats/MlGetDataFrameAnalyticsStatsResponse.ts
  specification/ml/get_trained_models/MlGetTrainedModelRequest.ts
  specification/ml/get_trained_models/MlGetTrainedModelResponse.ts
  specification/ml/get_trained_models_stats/MlGetTrainedModelStatsRequest.ts
  specification/ml/get_trained_models_stats/MlGetTrainedModelStatsResponse.ts
  specification/ml/preview_data_frame_analytics/MlPreviewDataFrameAnalyticsRequest.ts
  specification/ml/preview_data_frame_analytics/MlPreviewDataFrameAnalyticsResponse.ts
  specification/ml/put_data_frame_analytics/MlPutDataFrameAnalyticsRequest.ts
  specification/ml/put_data_frame_analytics/MlPutDataFrameAnalyticsResponse.ts
  specification/ml/put_trained_model/MlPutTrainedModelRequest.ts
  specification/ml/put_trained_model/MlPutTrainedModelResponse.ts
  specification/ml/put_trained_model_alias/MlPutTrainedModelAliasRequest.ts
  specification/ml/put_trained_model_alias/MlPutTrainedModelAliasResponse.ts
Labels: specification

#350 Typescript generator with namespaces
  output/typescript/types.ts
  typescript-generator/client.ts
  typescript-generator/index.js
  typescript-generator/index.ts
  typescript-generator/package.json
  typescript-generator/tsconfig.json
Labels: generator:typescript

#362 Fix cluster.stats Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/cluster/_types/ClusterStatus.ts
  specification/cluster/cluster_stats/ClusterIndicesShardsIndexStats.ts
  specification/cluster/cluster_stats/ClusterIndicesShardsStats.ts
  specification/cluster/cluster_stats/ClusterIndicesStats.ts
  specification/cluster/cluster_stats/ClusterNodesStats.ts
  specification/cluster/cluster_stats/ClusterStatsRequest.ts
  specification/cluster/cluster_stats/ClusterStatsResponse.ts
  specification/nodes/_types/NodeStatistics.ts
  specification/nodes/_types/NodesResponseBase.ts
Labels: specification

#358 Validate get_source & get response
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/get/GetRequest.ts
  specification/_global/get/GetResponse.ts
  specification/_global/get_source/SourceRequest.ts
  specification/_global/get_source/SourceResponse.ts
Labels: specification

#364 Fix ts generator: emit property aliases
  output/typescript/types.ts
  typescript-generator/index.ts
Labels: generator:typescript

#360 Fix cluster.allocation_explain Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/cluster/cluster_allocation_explain/ClusterAllocationExplainRequest.ts
  specification/cluster/cluster_allocation_explain/ClusterAllocationExplainResponse.ts
  specification/cluster/cluster_allocation_explain/ClusterInfo.ts
Labels: specification

#357 Validate indices.get_data_stream Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/get_data_stream/IndicesGetDataStreamRequest.ts
  specification/indices/get_data_stream/IndicesGetDataStreamResponse.ts
Labels: specification

#345 Fix scroll response
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/scroll/ScrollRequest.ts
  specification/_global/scroll/ScrollResponse.ts
  specification/_types/Errors.ts
  specification/indices/close/CloseIndexResponse.ts
Labels: specification

#365 Use a single value for inherits in metamodel
  compiler/model/build-model.ts
  compiler/model/metamodel.ts
  compiler/steps/validate-model.ts
  output/schema/schema.json
  typescript-generator/index.ts
Labels: compiler, generator:typescript

#366 Add a key parameter to SingleKeyDictionary
  compiler/model/metamodel.ts
  compiler/model/utils.ts
  compiler/steps/validate-model.ts
  output/schema/schema.json
  output/typescript/types.ts
  specification/_spec_utils/Dictionary.ts
  specification/_types/query_dsl/abstractions/container/QueryContainer.ts
  typescript-generator/index.ts
Labels: compiler, generator:typescript, specification

#372 Update inherits resolver
  compiler/model/build-model.ts
  compiler/model/utils.ts
Labels: compiler

#371 Validate security.get_builtin_privileges request
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/security/get_builtin_privileges/SecurityGetBuiltinPrivilegesRequest.ts
Labels: specification

#369 Fix security.get_user_privileges request
  output/schema/schema.json
  output/typescript/types.ts
  specification/security/get_user_privileges/SecurityGetUserPrivilegesRequest.ts
Labels: specification

#374 Support import alias
  compiler/model/utils.ts
Labels: compiler

#381 Ts generator: Fix array and unions usage
  output/typescript/types.ts
  typescript-generator/index.ts
Labels: generator:typescript

#379 Validate indices.delete_index_template API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/indices/delete_index_template/IndicesDeleteIndexTemplateRequest.ts
  specification/indices/delete_index_template/IndicesDeleteIndexTemplateResponse.ts
Labels: specification

#378 Fix Nodes.stats Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/stats/IndexStats.ts
  specification/nodes/nodes_stats/CPUStats.ts
  specification/nodes/nodes_stats/ExtendedMemoryStats.ts
  specification/nodes/nodes_stats/MemoryStats.ts
  specification/nodes/nodes_stats/NodeStats.ts
  specification/nodes/nodes_stats/NodesStatsRequest.ts
  specification/nodes/nodes_stats/NodesStatsResponse.ts
Labels: specification

#376 Validate searchable_snapshots.clear_cache fix
  output/schema/schema.json
  output/typescript/types.ts
  specification/searchable_snapshots/clear_cache/SearchableSnapshotsClearCacheRequest.ts
Labels: specification

#382 Fix msearch_template Request
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/msearch/MultiSearchRequest.ts
  specification/_global/msearch_template/MultiSearchTemplateRequest.ts
  specification/_global/msearch_template/MultiSearchTemplateResponse.ts
  specification/_global/search/hits/Hit.ts
  specification/_global/search_template/SearchTemplateRequest.ts
  specification/_types/common.ts
Labels: specification

#384 Fix security.authenticate Response
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/security/authenticate/SecurityAuthenticateRequest.ts
  specification/security/authenticate/SecurityAuthenticateResponse.ts
Labels: specification

#385 Fix ml.put_calendar_job Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_calendar_job/MlPutCalendarJobRequest.ts
  specification/ml/put_calendar_job/MlPutCalendarJobResponse.ts
Labels: specification

#386 Fix ml.get trained models Endpoints
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_types/aggregations/pipeline/inference_bucket/InferenceBucketAggregation.ts
  specification/ml/_types/TrainedModel.ts
  specification/ml/get_trained_models/MlGetTrainedModelRequest.ts
  specification/ml/get_trained_models/MlGetTrainedModelResponse.ts
  specification/ml/get_trained_models_stats/MlGetTrainedModelStatsRequest.ts
  specification/ml/get_trained_models_stats/MlGetTrainedModelStatsResponse.ts
Labels: specification

#367 Nodes.info
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_types/Stats.ts
  specification/_types/index/IndexRouting.ts
  specification/nodes/nodes_info/NodeInfo.ts
  specification/nodes/nodes_info/NodeInfoHttp.ts
  specification/nodes/nodes_info/NodeInfoJvmMemory.ts
  specification/nodes/nodes_info/NodeInfoTransport.ts
  specification/nodes/nodes_info/NodeJvmInfo.ts
  specification/nodes/nodes_info/NodeOperatingSystemInfo.ts
  specification/nodes/nodes_info/NodeProcessInfo.ts
  specification/nodes/nodes_info/NodeThreadPoolInfo.ts
  specification/nodes/nodes_info/NodesInfoRequest.ts
  specification/nodes/nodes_info/NodesInfoResponse.ts
Labels: specification

#389 Fix scroll Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/scroll/ScrollResponse.ts
  specification/_types/Errors.ts
Labels: specification

#388 Validate indices.put_index_template
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/indices/put_index_template/IndicesPutIndexTemplateRequest.ts
  specification/indices/put_index_template/IndicesPutIndexTemplateResponse.ts
Labels: specification

#390 Fix search Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/search/SearchRequest.ts
  specification/_global/search/sort/NestedSort.ts
  specification/_types/query_dsl/abstractions/container/QueryContainer.ts
  specification/_types/query_dsl/abstractions/query/Query.ts
  specification/_types/query_dsl/geo/distance/GeoDistanceQuery.ts
Labels: specification

#392 Validated GeoIP Stats API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ingest/geo_ip_stats/IngestGeoIpStatsRequest.ts
  specification/ingest/geo_ip_stats/IngestGeoIpStatsResponse.ts
Labels: specification

#394 Validate ml.get_* API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/BucketInfluencer.ts
  specification/ml/_types/CategoryDefinition.ts
  specification/ml/_types/Page.ts
  specification/ml/get_calendars/Calendar.ts
  specification/ml/get_calendars/MlGetCalendarsRequest.ts
  specification/ml/get_categories/MlGetCategoriesRequest.ts
  specification/ml/get_influencers/MlGetInfluencersRequest.ts
  specification/ml/get_influencers/MlGetInfluencersResponse.ts
Labels: specification

#395 Fix ml.get_model_snapshots API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/ModelSnapshot.ts
  specification/ml/get_model_snapshots/MlGetModelSnapshotsRequest.ts
  typescript-generator/index.ts
Labels: generator:typescript, specification

#397 Remove stubbing of security.*_user response
  output/schema/schema.json
  output/typescript/types.ts
  specification/security/disable_user/SecurityDisableUserResponse.ts
  specification/security/enable_user/SecurityEnableUserResponse.ts
Labels: specification

#400 Stub features.reset_features API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/features/reset_features/ResetFeaturesRequest.ts
  specification/features/reset_features/ResetFeaturesResponse.ts
Labels: specification

#399 Fix Scripting API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/get_script_context/GetScriptContextRequest.ts
  specification/_global/get_script_context/GetScriptContextResponse.ts
  specification/_global/get_script_languages/GetScriptLanguagesRequest.ts
  specification/_global/get_script_languages/GetScriptLanguagesResponse.ts
Labels: specification

#398 Fix indices.get_index_template API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/indices/get_index_template/IndicesGetIndexTemplateRequest.ts
  specification/indices/get_index_template/IndicesGetIndexTemplateResponse.ts
Labels: specification

#396 Fix ml.get_overall_buckets API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/OverallBucket.ts
  specification/ml/_types/OverallBucketJobInfo.ts
  specification/ml/get_overall_buckets/MlGetOverallBucketsRequest.ts
  specification/ml/get_overall_buckets/MlGetOverallBucketsResponse.ts
Labels: specification

#402 Fix security.create_api_key Request + Metadata
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/common.ts
  specification/_types/mapping/types/Property.ts
  specification/security/_types/XPackRole.ts
  specification/security/_types/XPackRoleMapping.ts
  specification/security/_types/XPackUser.ts
  specification/security/authenticate/SecurityAuthenticateResponse.ts
  specification/security/create_api_key/SecurityCreateApiKeyRequest.ts
  specification/security/get_api_key/ApiKeys.ts
  specification/security/put_privileges/PrivilegesActions.ts
  specification/security/put_role/SecurityPutRoleRequest.ts
  specification/security/put_role_mapping/SecurityPutRoleMappingRequest.ts
  specification/security/put_user/SecurityPutUserRequest.ts
  specification/snapshot/_types/SnapshotInfo.ts
  specification/snapshot/create/SnapshotCreateRequest.ts
  specification/watcher/_types/Watch.ts
  specification/watcher/execute_watch/WatchRecord.ts
  specification/watcher/put_watch/WatcherPutWatchRequest.ts
Labels: specification

#403 Encoded specification uniqueness rules
  compiler/model/utils.ts
  compiler/steps/validate-model.ts
  docs/specification-structure.md
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/msearch/MultiSearchResponse.ts
  specification/_types/Base.ts
  specification/_types/common.ts
  specification/ml/_types/JobStats.ts
  specification/ml/_types/TimingStats.ts
  specification/watcher/_types/IndexAction.ts
Labels: compiler, documentation, specification

#404 Fix ml.put_data_frame_analytics Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/DataFrameAnalytics.ts
Labels: specification

#406 Fix ml.post_calendar_events API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/post_calendar_events/MlPostCalendarEventsRequest.ts
  specification/ml/post_calendar_events/ScheduledEvent.ts
Labels: specification

#405 Replace IndexMetaData with Metadata
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/common.ts
  specification/_types/mapping/TypeMapping.ts
  specification/cluster/_types/ComponentTemplate.ts
  specification/cluster/cluster_put_component_template/ClusterPutComponentTemplateRequest.ts
  specification/indices/get_data_stream/IndicesGetDataStreamResponse.ts
  specification/indices/get_index_template/IndicesGetIndexTemplateResponse.ts
  specification/indices/put_index_template/IndicesPutIndexTemplateRequest.ts
Labels: specification
