Repository elastic/elasticsearch-specification, pull requests merged in 2021-12, with the labels that each got.

#1092 [7.15] Remove source parameters from update_by_query/delete_by_query
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/delete_by_query/DeleteByQueryRequest.ts
  specification/_global/update_by_query/UpdateByQueryRequest.ts
Labels: specification

#1062 Add visibility to modeling guide
  docs/modeling-guide.md
Labels: documentation

#1036 Generate Id as string|number in TypeScript
  output/typescript/types.ts
  typescript-generator/index.ts
Labels: generator:typescript, backport 7.16, backport 8.0, backport 7.17

#1145 Add security.query_api_keys definition
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/security/_types/ApiKey.ts
  specification/security/authenticate/SecurityAuthenticateResponse.ts
  specification/security/authenticate/types.ts
  specification/security/get_api_key/SecurityGetApiKeyResponse.ts
  specification/security/get_api_key/types.ts
  specification/security/grant_api_key/SecurityGrantApiKeyRequest.ts
  specification/security/grant_api_key/types.ts
  specification/security/query_api_keys/QueryApiKeysRequest.ts
  specification/security/query_api_keys/QueryApiKeysResponse.ts
Labels: specification, backport 8.0

#1157 MGet Request & Response and Makefile improvements
  Makefile
Labels: enhancement, backport 8.0, backport 7.17

#1174 Improve type validation DX
  .gitignore
  Makefile
  README.md
  compiler/package-lock.json
  compiler/package.json
  compiler/run-validations.js
  compiler/src/compiler.ts
  compiler/src/dangling-types-report.ts
  compiler/src/index.ts
  compiler/src/model/build-model.ts
  compiler/src/model/json-spec.ts
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  compiler/src/steps/add-content-type.ts
  compiler/src/steps/add-description.ts
  compiler/src/steps/add-info.ts
  compiler/src/steps/read-definition-validation.ts
  compiler/src/steps/validate-model.ts
  compiler/src/steps/validate-rest-spec.ts
  compiler/src/update-imports.ts
  compiler/src/validation-errors.ts
  compiler/tsconfig.json
  docs/compiler.md
  docs/validation-example.md
  run-validations.sh
  typescript-generator/package.json
  typescript-generator/src/client.ts
  typescript-generator/src/index.ts
  typescript-generator/src/metamodel.ts
  typescript-generator/tsconfig.json
Labels: documentation, compiler, generator:typescript, backport 7.17

#1182 Use codegen name in ts generator
  compiler/run-validations.js
  output/typescript/types.ts
  typescript-generator/src/index.ts
Labels: compiler, generator:typescript, backport 8.0, backport 7.17

#1194 Use nvmrc to specify the require node version
  .nvmrc
  README.md
Labels: documentation, backport 8.0, backport 7.17

#1216 GA: Automatically use latest major version in main
  .github/download-artifacts/index.js
  .github/workflows/update-rest-api-json.yml
Labels: backport 7.17

#1222 Upgrade node and deps
  .github/download-artifacts/package.json
  .github/workflows/code-format.yml
  .github/workflows/linter.yml
  .github/workflows/output-check.yml
  .github/workflows/update-model-info.yml
  .github/workflows/update-rest-api-json.yml
  .nvmrc
  compiler/package-lock.json
  compiler/package.json
  compiler/src/model/build-model.ts
  compiler/src/model/utils.ts
  typescript-generator/package-lock.json
  typescript-generator/package.json
Labels: compiler, generator:typescript, backport 7.16, backport 8.0, backport 7.17

#1225 Suggest the correct API name if the input is wrong
  compiler/package-lock.json
  compiler/package.json
  compiler/run-validations.js
  compiler/src/model/utils.ts
Labels: compiler, backport 7.17

#1227 Validate both request and response at the same time
  README.md
  compiler/run-validations.js
Labels: documentation, compiler, backport 7.17
