Repository elastic/elasticsearch-specification, pull requests merged in 2021-01, with the labels that each got.

#55 Updated Cat* apis
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/CatBase.ts
  specification/specs/cat/CatResponse.ts
  specification/specs/cat/cat_aliases/CatAliasesRequest.ts
  specification/specs/cat/cat_aliases/CatAliasesResponse.ts
  specification/specs/cat/cat_allocation/CatAllocationRequest.ts
  specification/specs/cat/cat_allocation/CatAllocationResponse.ts
  specification/specs/cat/cat_count/CatCountRequest.ts
  specification/specs/cat/cat_count/CatCountResponse.ts
  specification/specs/cat/cat_data_frame_analytics/CatDataFrameAnalyticsRequest.ts
  specification/specs/cat/cat_data_frame_analytics/CatDataFrameAnalyticsResponse.ts
  specification/specs/cat/cat_datafeeds/CatDatafeedsRequest.ts
  specification/specs/cat/cat_datafeeds/CatDatafeedsResponse.ts
  specification/specs/cat/cat_fielddata/CatFielddataRequest.ts
  specification/specs/cat/cat_fielddata/CatFielddataResponse.ts
  specification/specs/cat/cat_health/CatHealthRequest.ts
  specification/specs/cat/cat_health/CatHealthResponse.ts
  specification/specs/cat/cat_help/CatHelpRequest.ts
  specification/specs/cat/cat_help/CatHelpResponse.ts
  specification/specs/cat/cat_indices/CatIndicesRequest.ts
  specification/specs/cat/cat_indices/CatIndicesResponse.ts
  specification/specs/cat/cat_jobs/CatJobsRequest.ts
  specification/specs/cat/cat_jobs/CatJobsResponse.ts
  specification/specs/cat/cat_master/CatMasterRequest.ts
  specification/specs/cat/cat_master/CatMasterResponse.ts
  specification/specs/cat/cat_node_attributes/CatNodeAttributesRequest.ts
  specification/specs/cat/cat_node_attributes/CatNodeAttributesResponse.ts
  specification/specs/cat/cat_nodes/CatNodesRequest.ts
  specification/specs/cat/cat_nodes/CatNodesResponse.ts
  specification/specs/cat/cat_pending_tasks/CatPendingTasksRequest.ts
  specification/specs/cat/cat_pending_tasks/CatPendingTasksResponse.ts
  specification/specs/cat/cat_plugins/CatPluginsRequest.ts
  specification/specs/cat/cat_plugins/CatPluginsResponse.ts
  specification/specs/cat/cat_recovery/CatRecoveryRequest.ts
  specification/specs/cat/cat_recovery/CatRecoveryResponse.ts
  specification/specs/cat/cat_repositories/CatRepositoriesRequest.ts
  specification/specs/cat/cat_repositories/CatRepositoriesResponse.ts
  specification/specs/cat/cat_segments/CatSegmentsRequest.ts
  specification/specs/cat/cat_segments/CatSegmentsResponse.ts
  specification/specs/cat/cat_shards/CatShardsRequest.ts
  specification/specs/cat/cat_shards/CatShardsResponse.ts
  specification/specs/cat/cat_snapshots/CatSnapshotsRequest.ts
  specification/specs/cat/cat_snapshots/CatSnapshotsResponse.ts
  specification/specs/cat/cat_tasks/CatTasksRequest.ts
  specification/specs/cat/cat_tasks/CatTasksResponse.ts
  specification/specs/cat/cat_templates/CatTemplatesRequest.ts
  specification/specs/cat/cat_templates/CatTemplatesResponse.ts
  specification/specs/cat/cat_thread_pool/CatThreadPoolRequest.ts
  specification/specs/cat/cat_thread_pool/CatThreadPoolResponse.ts
  specification/specs/cat/cat_trained_models/CatTrainedModelsRequest.ts
  specification/specs/cat/cat_trained_models/CatTrainedModelsResponse.ts
  specification/specs/cat/cat_transforms/CatTransformsRequest.ts
  specification/specs/cat/cat_transforms/CatTransformsResponse.ts
  typescript-generator/index.js
Labels: enhancement

#75 Add github action to check output freshness
  .github/workflows/output-check.yml
  output/schema/schema.json
  output/typescript/types.ts
Labels: enhancement

#81 Updated documentation
  README.md
  docs/add-new-api.md
  docs/validation-example.md
Labels: documentation

#80 Indices Analyze
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/analysis/token_filters/ITokenFilter.ts
  specification/specs/indices/analyze/AnalyzeDetail.ts
  specification/specs/indices/analyze/AnalyzeRequest.ts
  specification/specs/indices/analyze/AnalyzeResponse.ts
  specification/specs/indices/analyze/AnalyzeToken.ts
  specification/specs/indices/analyze/AnalyzerDetail.ts
  specification/specs/indices/analyze/ExplainAnalyzeToken.ts
Labels: specification

#83 Cluster Allocation Explain
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/cluster_allocation_explain/ClusterAllocationExplainResponse.ts
  specification/specs/cluster/cluster_allocation_explain/ClusterInfo.ts
  specification/specs/cluster/cluster_allocation_explain/NodeAllocationExplanation.ts
  specification/specs/cluster/cluster_allocation_explain/UnassignedInformation.ts
Labels: specification

#84 Indices Get Settings
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/index_modules/index_settings/IndexState.ts
Labels: specification

#79 Add types to the 'indices.stats' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common_options/stats/CompletionStats.ts
  specification/specs/common_options/stats/FielddataStats.ts
  specification/specs/common_options/stats/FlushStats.ts
  specification/specs/common_options/stats/GetStats.ts
  specification/specs/common_options/stats/IndexingStats.ts
  specification/specs/common_options/stats/MergesStats.ts
  specification/specs/common_options/stats/RecoveryStats.ts
  specification/specs/common_options/stats/RefreshStats.ts
  specification/specs/common_options/stats/RequestCacheStats.ts
  specification/specs/common_options/stats/SearchStats.ts
  specification/specs/common_options/stats/SegmentsStats.ts
  specification/specs/common_options/stats/StoreStats.ts
  specification/specs/common_options/stats/TranslogStats.ts
  specification/specs/common_options/stats/WarmerStats.ts
  specification/specs/indices/monitoring/indices_stats/IndexStats.ts
  specification/specs/indices/monitoring/indices_stats/IndicesStats.ts
  specification/specs/indices/monitoring/indices_stats/IndicesStatsRequest.ts
  specification/specs/indices/monitoring/indices_stats/IndicesStatsResponse.ts
  specification/specs/indices/monitoring/indices_stats/ShardFlush.ts
  specification/specs/indices/monitoring/indices_stats/ShardLease.ts
  specification/specs/indices/monitoring/indices_stats/ShardRefresh.ts
  specification/specs/indices/monitoring/indices_stats/ShardRetentionLeases.ts
  specification/specs/indices/monitoring/indices_stats/ShardRouting.ts
  specification/specs/indices/monitoring/indices_stats/ShardStats.ts
  specification/specs/indices/monitoring/indices_stats/ShardStatsStore.ts
  specification/specs/indices/monitoring/indices_stats/ShardTransactionLog.ts
Labels: specification

#78 Add types for the 'indices.clone' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/index_management/clone_index/CloneIndexRequest.ts
  specification/specs/indices/index_management/clone_index/CloneIndexResponse.ts
Labels: specification

#67 Seperate extends and implements
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/aggregations/Aggregate.ts
  specification/specs/analysis/char_filters/CharFilterBase.ts
  specification/specs/analysis/char_filters/ICharFilter.ts
  specification/specs/analysis/token_filters/ITokenFilter.ts
  specification/specs/analysis/token_filters/TokenFilterBase.ts
  specification/specs/analysis/tokenizers/ITokenizer.ts
  specification/specs/analysis/tokenizers/TokenizerBase.ts
  specification/specs/behaviors.ts
  specification/specs/common.ts
  specification/specs/common/Dictionary.ts
  specification/specs/indices/analyze/AnalyzeRequest.ts
  specification/specs/indices/mapping_management/put_mapping/PutMappingRequest.ts
  specification/specs/mapping/TypeMapping.ts
  specification/specs/mapping/dynamic_template/DynamicTemplate.ts
  specification/specs/mapping/types/CorePropertyBase.ts
  specification/specs/mapping/types/IProperty.ts
  specification/specs/mapping/types/PropertyBase.ts
  specification/specs/mapping/types/complex/object/ObjectProperty.ts
  specification/specs/search/search/SearchResponse.ts
  specification/specs/x_pack/machine_learning/machine_learning_info/CategorizationAnalyzer.ts
  specification/src/api-specification.ts
  specification/src/domain.ts
  specification/src/main.ts
  specification/src/metamodel.ts
  specification/src/metamodel_reader.ts
  specification/src/specification/type-reader.ts
Labels: compiler, specification

#68 update typescript to generate type alias for implements IDictionary
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/aggregations/Aggregate.ts
  specification/specs/common.ts
  specification/specs/common_abstractions/lazy_document/LazyDocument.ts
  specification/specs/search/search/hits/Hit.ts
  typescript-generator/index.js
Labels: generator:typescript, specification

#85 Introduce HeadResponseBase
  README.md
  docs/special-classes.md
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/ping/PingResponse.ts
  specification/specs/common_abstractions/response/HeadResponseBase.ts
  specification/specs/document/single/exists/DocumentExistsResponse.ts
  specification/specs/document/single/source_exists/SourceExistsResponse.ts
  specification/specs/indices/alias_management/alias_exists/AliasExistsResponse.ts
  specification/specs/indices/index_management/indices_exists/ExistsResponse.ts
  specification/specs/indices/index_management/indices_exists/IndexExistsResponse.ts
  specification/specs/indices/index_management/types_exists/TypeExistsResponse.ts
  specification/specs/indices/index_settings/index_templates/index_template_exists/IndexTemplateExistsResponse.ts
  specification/src/specification/type-reader.ts
  typescript-generator/index.js
Labels: compiler, documentation, generator:typescript, specification

#88 Get API
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/single/get/GetRequest.ts
  specification/specs/document/single/get/GetResponse.ts
Labels: specification

#90 Add new behaviors
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/behaviors.ts
  specification/specs/cat/CatBase.ts
  specification/specs/cat/cat_aliases/CatAliasesResponse.ts
  specification/specs/cat/cat_allocation/CatAllocationResponse.ts
  specification/specs/cat/cat_count/CatCountResponse.ts
  specification/specs/cat/cat_data_frame_analytics/CatDataFrameAnalyticsResponse.ts
  specification/specs/cat/cat_datafeeds/CatDatafeedsResponse.ts
  specification/specs/cat/cat_fielddata/CatFielddataResponse.ts
  specification/specs/cat/cat_health/CatHealthResponse.ts
  specification/specs/cat/cat_help/CatHelpResponse.ts
  specification/specs/cat/cat_indices/CatIndicesResponse.ts
  specification/specs/cat/cat_jobs/CatJobsResponse.ts
  specification/specs/cat/cat_master/CatMasterResponse.ts
  specification/specs/cat/cat_node_attributes/CatNodeAttributesResponse.ts
  specification/specs/cat/cat_nodes/CatNodesResponse.ts
  specification/specs/cat/cat_pending_tasks/CatPendingTasksResponse.ts
  specification/specs/cat/cat_plugins/CatPluginsResponse.ts
  specification/specs/cat/cat_recovery/CatRecoveryResponse.ts
  specification/specs/cat/cat_repositories/CatRepositoriesResponse.ts
  specification/specs/cat/cat_segments/CatSegmentsResponse.ts
  specification/specs/cat/cat_shards/CatShardsResponse.ts
  specification/specs/cat/cat_snapshots/CatSnapshotsResponse.ts
  specification/specs/cat/cat_tasks/CatTasksResponse.ts
  specification/specs/cat/cat_templates/CatTemplatesResponse.ts
  specification/specs/cat/cat_thread_pool/CatThreadPoolResponse.ts
  specification/specs/cat/cat_trained_models/CatTrainedModelsResponse.ts
  specification/specs/cat/cat_transforms/CatTransformsResponse.ts
  specification/specs/cluster/ping/PingResponse.ts
  specification/specs/common_abstractions/response/HeadResponseBase.ts
  specification/specs/common_abstractions/response/ResponseBase.ts
  specification/specs/document/single/exists/DocumentExistsResponse.ts
  specification/specs/document/single/source_exists/SourceExistsResponse.ts
  specification/specs/indices/alias_management/alias_exists/AliasExistsResponse.ts
  specification/specs/indices/index_management/indices_exists/IndexExistsResponse.ts
  specification/specs/indices/index_management/types_exists/TypeExistsResponse.ts
  specification/specs/indices/index_settings/index_templates/index_template_exists/IndexTemplateExistsResponse.ts
  specification/src/api-specification.ts
  typescript-generator/index.js
Labels: compiler, generator:typescript, specification

#92 Indices Analyze
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/analysis/char_filters/CharFilterBase.ts
  specification/specs/analysis/token_filters/TokenFilterBase.ts
  specification/specs/analysis/token_filters/stop/StopTokenFilter.ts
  specification/specs/analysis/tokenizers/TokenizerBase.ts
  specification/specs/indices/analyze/AnalyzeRequest.ts
Labels: specification

#95 Fix #94
  output/typescript/types.ts
  typescript-generator/index.js
Labels: generator:typescript

#87 Snapshot Create Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/modules/snapshot_and_restore/snapshot/SnapshotInfo.ts
  specification/specs/modules/snapshot_and_restore/snapshot/snapshot/SnapshotResponse.ts
Labels: specification

#96 Add linter
  .github/workflows/linter.yml
  specification/package-lock.json
  specification/package.json
  specification/src/api-specification.ts
  specification/src/domain.ts
  specification/src/format.ts
  specification/src/main.ts
  specification/src/metamodel.ts
  specification/src/metamodel_generate.ts
  specification/src/metamodel_reader.ts
  specification/src/specification/rest-spec-mapping.ts
  specification/src/specification/type-reader.ts
  specification/src/specification/validator.ts
  specification/tsconfig.json
  typescript-generator/package.json
Labels: compiler, generator:typescript

#100 feature/master/add license headers.sh
  .github/add-license-headers.sh
  Makefile
  specification/src/format.ts
Labels: compiler
