Repository elastic/elasticsearch-specification, pull requests merged in 2021-11, with the labels that each got.

#970 Add property alias support in requests and responses & improve error message
  compiler/model/utils.ts
  output/typescript/types.ts
  typescript-generator/index.ts
Labels: compiler, generator:typescript, backport 7.16

#920 Add support for experimental properties
  compiler/model/metamodel.ts
  compiler/model/utils.ts
  docs/modeling-guide.md
  output/schema/schema.json
  specification/ml/_types/ModelPlot.ts
Labels: specification, compiler, backport 7.16

#971 Dedup aggregrations/aggs fields
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/msearch/types.ts
  specification/_global/search/SearchRequest.ts
  specification/async_search/_types/AsyncSearch.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/license/post_start_trial/StartTrialLicenseResponse.ts
  specification/ml/_types/Datafeed.ts
  specification/rollup/rollup_search/RollupSearchRequest.ts
Labels: specification, backport 7.16

#967 Adds descriptions for cat anomaly detectors and cat datafeeds APIs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/cat/ml_datafeeds/CatDatafeedsRequest.ts
  specification/cat/ml_jobs/CatJobsRequest.ts
Labels: specification

#969 Remove allow_no_jobs and allow_no_datafeeds
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/close_job/MlCloseJobRequest.ts
  specification/ml/get_job_stats/MlGetJobStatsRequest.ts
  specification/ml/get_jobs/MlGetJobsRequest.ts
  specification/ml/get_overall_buckets/MlGetOverallBucketsRequest.ts
Labels: specification

#968 Deprecates allow_no_jobs and allow_no_datafeeds
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/cat/ml_datafeeds/CatDatafeedsRequest.ts
  specification/cat/ml_jobs/CatJobsRequest.ts
  specification/ml/get_datafeed_stats/MlGetDatafeedStatsRequest.ts
  specification/ml/get_datafeeds/MlGetDatafeedsRequest.ts
  specification/ml/get_job_stats/MlGetJobStatsRequest.ts
  specification/ml/get_jobs/MlGetJobsRequest.ts
  specification/ml/stop_datafeed/MlStopDatafeedRequest.ts
Labels: specification

#930 Use codegen_name instead of identifier
  compiler/model/build-model.ts
  compiler/model/metamodel.ts
  compiler/model/utils.ts
  compiler/steps/validate-model.ts
  docs/modeling-guide.md
  output/schema/schema.json
  specification/_global/bulk/BulkRequest.ts
  specification/_global/create/CreateRequest.ts
  specification/_global/index/IndexRequest.ts
  specification/_global/msearch/MultiSearchRequest.ts
  specification/_global/msearch_template/MultiSearchTemplateRequest.ts
  specification/_global/reindex/types.ts
  specification/_global/search/_types/rescoring.ts
  specification/_global/search/_types/sort.ts
  specification/_types/Geo.ts
  specification/_types/Result.ts
  specification/_types/Time.ts
  specification/_types/aggregations/pipeline.ts
  specification/_types/common.ts
  specification/_types/query_dsl/abstractions.ts
  specification/autoscaling/put_autoscaling_policy/PutAutoscalingPolicyRequest.ts
  specification/ilm/delete_lifecycle/DeleteLifecycleRequest.ts
  specification/ilm/get_lifecycle/GetLifecycleRequest.ts
  specification/ilm/put_lifecycle/PutLifecycleRequest.ts
  specification/indices/put_settings/IndicesPutSettingsRequest.ts
  specification/indices/simulate_template/IndicesSimulateTemplateRequest.ts
  specification/ingest/_types/Processors.ts
  specification/logstash/put_pipeline/LogstashPutPipelineRequest.ts
  specification/ml/evaluate_data_frame/types.ts
  specification/ml/post_data/MlPostJobDataRequest.ts
  specification/ml/validate_detector/MlValidateDetectorRequest.ts
  specification/monitoring/bulk/BulkMonitoringRequest.ts
  specification/nodes/_types/NodesResponseBase.ts
  specification/rollup/rollup/RollupRequest.ts
  specification/security/clear_api_key_cache/SecurityClearApiKeyCacheResponse.ts
  specification/security/clear_cached_privileges/SecurityClearCachedPrivilegesResponse.ts
  specification/security/clear_cached_realms/SecurityClearCachedRealmsResponse.ts
  specification/security/clear_cached_roles/ClearCachedRolesResponse.ts
  specification/security/clear_cached_service_tokens/ClearCachedServiceTokensResponse.ts
  specification/security/put_privileges/SecurityPutPrivilegesRequest.ts
  specification/snapshot/cleanup_repository/SnapshotCleanupRepositoryRequest.ts
  specification/snapshot/create_repository/SnapshotCreateRepositoryRequest.ts
  specification/snapshot/delete_repository/SnapshotDeleteRepositoryRequest.ts
  specification/snapshot/get_repository/SnapshotGetRepositoryRequest.ts
  specification/snapshot/verify_repository/SnapshotVerifyRepositoryRequest.ts
  specification/text_structure/find_structure/FindStructureRequest.ts
  specification/watcher/stats/WatcherStatsResponse.ts
Labels: specification, compiler, backport 7.16

#958 Add missing wildcard property
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/query_dsl/term.ts
Labels: specification, backport 7.16

#979 Refactor additional properties handling
  output/typescript/types.ts
  typescript-generator/index.ts
Labels: generator:typescript, backport 7.16

#980 Fix duplication of alias name in IndexSettings
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/indices/_types/IndexSettings.ts
Labels: specification

#976 [ML] Updates preview, create DFA, create trained model/aliases, reset job, and revert model snapshot APIs
  output/schema/schema.json
  specification/ml/preview_data_frame_analytics/MlPreviewDataFrameAnalyticsRequest.ts
  specification/ml/put_data_frame_analytics/MlPutDataFrameAnalyticsRequest.ts
  specification/ml/put_trained_model/MlPutTrainedModelRequest.ts
  specification/ml/put_trained_model_alias/MlPutTrainedModelAliasRequest.ts
  specification/ml/reset_job/MlResetJobRequest.ts
  specification/ml/revert_model_snapshot/MlRevertModelSnapshotRequest.ts
Labels: specification, backport 7.16, ml

#986 Improve watcher.stats request
  output/schema/schema.json
  output/typescript/types.ts
  specification/watcher/stats/types.ts
Labels: specification, backport 7.16

#990 Update dependencies
  .gitignore
  compiler/.prettierrc.json
  compiler/package-lock.json
  compiler/package.json
  specification/_global/search/_types/sort.ts
  specification/_types/Errors.ts
  specification/_types/aggregations/Aggregate.ts
  specification/_types/common.ts
  specification/_types/query_dsl/geo.ts
  typescript-generator/package-lock.json
  typescript-generator/package.json
Labels: specification, compiler, generator:typescript, backport 7.16

#991 Document CommonQueryParameters
  output/schema/schema.json
  output/typescript/types.ts
  specification/_spec_utils/behaviors.ts
Labels: specification, backport 7.16

#993 Add task to clean npm dependencies
  Makefile
Labels: enhancement, backport 7.16

#989 Fix ml.update_model_snapshot response
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Model.ts
Labels: specification, backport 7.16

#852 Adds missing doc details for ML get calendar APIs
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/get_calendar_events/MlGetCalendarEventsRequest.ts
  specification/ml/get_calendars/MlGetCalendarsRequest.ts
  specification/ml/get_calendars/types.ts
Labels: specification, backport 7.16

#1001 Add codegen name to sequence number
  output/schema/schema.json
  specification/_types/Base.ts
Labels: specification, backport 7.16

#985 [ML] Updates set upgrade mode and start DFA API specs
  output/schema/schema.json
  specification/ml/set_upgrade_mode/MlSetUpgradeModeRequest.ts
  specification/ml/start_data_frame_analytics/MlStartDataFrameAnalyticsRequest.ts
Labels: specification

#1000 [ML] Updates DFA and AD related API specs
  output/schema/schema.json
  specification/ml/stop_data_frame_analytics/MlStopDataFrameAnalyticsRequest.ts
  specification/ml/update_data_frame_analytics/MlUpdateDataFrameAnalyticsRequest.ts
  specification/ml/update_job/MlUpdateJobRequest.ts
  specification/ml/update_model_snapshot/MlUpdateModelSnapshotRequest.ts
  specification/ml/upgrade_job_snapshot/MlUpgradeJobSnapshotRequest.ts
Labels: specification, backport 7.16

#1004 Fix codegen names so they are single words
  output/schema/schema.json
  specification/_types/Time.ts
Labels: specification, backport 7.16

#983 Adds descriptions and missing parameters for start and stop datafeed APIs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/start_datafeed/MlStartDatafeedRequest.ts
  specification/ml/start_datafeed/MlStartDatafeedResponse.ts
  specification/ml/stop_datafeed/MlStopDatafeedRequest.ts
Labels: specification, backport 7.16

#972 Major rewrite of aggregation results
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_spec_utils/VoidValue.ts
  specification/_types/Geo.ts
  specification/_types/aggregations/Aggregate.ts
  specification/_types/aggregations/AggregationContainer.ts
  specification/_types/aggregations/bucket.ts
  specification/_types/common.ts
Labels: specification, backport 7.16

#1006 Fixes minor typos in modeling guide
  docs/modeling-guide.md
Labels: backport 7.16

#1008 Mark 'keep_alive' for 'open_point_in_time' API as required
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/open_point_in_time/OpenPointInTimeRequest.ts
Labels: specification, backport 7.16

#1018 Revert 1001 by removing `_seq_no` codegen name
  output/schema/schema.json
  specification/_types/Base.ts
Labels: specification, backport 7.16

#1014 Adds missing query parameters for ML forecast API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/forecast/MlForecastJobRequest.ts
Labels: specification, backport 7.16

#1013 Adds missing query parameters in ML flush jobs API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/flush_job/MlFlushJobRequest.ts
  specification/ml/flush_job/MlFlushJobResponse.ts
Labels: specification, backport 7.16

#1020 Updates ML get buckets API specification
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/Bucket.ts
  specification/ml/_types/Influencer.ts
  specification/ml/get_buckets/MlGetBucketsRequest.ts
  specification/ml/get_influencers/MlGetInfluencersResponse.ts
Labels: specification, backport 7.16

#1025 Updates ML get buckets API specification (#1020)
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/Bucket.ts
  specification/ml/_types/Influencer.ts
  specification/ml/get_buckets/MlGetBucketsRequest.ts
  specification/ml/get_influencers/MlGetInfluencersResponse.ts
Labels: specification

#1026 Adds spec for update datafeed API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/update_datafeed/MlUpdateDatafeedRequest.ts
  specification/ml/update_datafeed/MlUpdateDatafeedResponse.ts
Labels: specification, backport 7.16

#1028 Adds missing model snapshot parameters and descriptions
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/get_model_snapshots/MlGetModelSnapshotsRequest.ts
Labels: specification, backport 7.16

#1030 [7.16] Adds spec for update datafeed API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/update_datafeed/MlUpdateDatafeedRequest.ts
  specification/ml/update_datafeed/MlUpdateDatafeedResponse.ts
Labels: specification

#1032 Add 'model_type' to 'TrainedModelConfig'
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/TrainedModel.ts
  specification/ml/put_trained_model/MlPutTrainedModelRequest.ts
Labels: specification

#1031 Many small fixes from running REST API tests
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/cat/health/CatHealthRequest.ts
  specification/indices/simulate_index_template/IndicesSimulateIndexTemplateRequest.ts
  specification/ml/explain_data_frame_analytics/MlExplainDataFrameAnalyticsRequest.ts
  specification/ml/put_calendar/MlPutCalendarRequest.ts
  specification/nodes/hot_threads/NodesHotThreadsRequest.ts
  specification/security/change_password/SecurityChangePasswordRequest.ts
  specification/watcher/put_watch/WatcherPutWatchRequest.ts
Labels: specification, backport 7.16

#1037 Add missing request body detail for ML get APIs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/close_job/MlCloseJobRequest.ts
  specification/ml/get_overall_buckets/MlGetOverallBucketsRequest.ts
  specification/ml/get_records/MlGetAnomalyRecordsRequest.ts
  specification/ml/open_job/MlOpenJobRequest.ts
Labels: specification, backport 7.16

#1040 [7.16] Add missing request body detail for ML get APIs (#1037)
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/close_job/MlCloseJobRequest.ts
  specification/ml/get_overall_buckets/MlGetOverallBucketsRequest.ts
  specification/ml/get_records/MlGetAnomalyRecordsRequest.ts
  specification/ml/open_job/MlOpenJobRequest.ts
Labels: specification

#1041 Add query parameters for revert model API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/put_datafeed/MlPutDatafeedRequest.ts
  specification/ml/revert_model_snapshot/MlRevertModelSnapshotRequest.ts
Labels: specification, backport 7.16

#1022 Add 'fleet.global_checkpoints' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/fleet/_types/Checkpoints.ts
  specification/fleet/global_checkpoints/GlobalCheckpointsRequest.ts
  specification/fleet/global_checkpoints/GlobalCheckpointsResponse.ts
Labels: specification, backport 7.16

#1044 Add missing TermVectorOption enum member
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/mapping/TermVectorOption.ts
Labels: specification, backport 7.16

#1047 Unify Operator and DefaultOperator enums
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/count/CountRequest.ts
  specification/_global/delete_by_query/DeleteByQueryRequest.ts
  specification/_global/explain/ExplainRequest.ts
  specification/_global/search/SearchRequest.ts
  specification/_global/update_by_query/UpdateByQueryRequest.ts
  specification/_types/common.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/indices/validate_query/IndicesValidateQueryRequest.ts
Labels: specification, backport 7.16

#1046 Unify all health status enums as a single type
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/common.ts
  specification/cat/indices/CatIndicesRequest.ts
  specification/cluster/_types/ClusterStatus.ts
  specification/cluster/health/ClusterHealthRequest.ts
  specification/cluster/health/ClusterHealthResponse.ts
  specification/cluster/health/types.ts
  specification/cluster/stats/ClusterStatsResponse.ts
  specification/indices/get_data_stream/IndicesGetDataStreamResponse.ts
  specification/indices/shard_stores/IndicesShardStoresRequest.ts
  specification/indices/shard_stores/types.ts
Labels: bug, specification, backport 7.16

#1048 Unify Operator and DefaultOperator enums (#1047)
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/count/CountRequest.ts
  specification/_global/delete_by_query/DeleteByQueryRequest.ts
  specification/_global/explain/ExplainRequest.ts
  specification/_global/search/SearchRequest.ts
  specification/_global/update_by_query/UpdateByQueryRequest.ts
  specification/_types/common.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/indices/validate_query/IndicesValidateQueryRequest.ts
Labels: specification

#1049 Unify all health status enums as a single type (#1046)
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/common.ts
  specification/cat/indices/CatIndicesRequest.ts
  specification/cluster/_types/ClusterStatus.ts
  specification/cluster/health/ClusterHealthRequest.ts
  specification/cluster/health/ClusterHealthResponse.ts
  specification/cluster/health/types.ts
  specification/cluster/stats/ClusterStatsResponse.ts
  specification/indices/get_data_stream/IndicesGetDataStreamResponse.ts
  specification/indices/shard_stores/IndicesShardStoresRequest.ts
  specification/indices/shard_stores/types.ts
Labels: specification

#1052 Unify ScoreMode, ChildScoreMode & move sort to common types
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/reindex/types.ts
  specification/_global/search/SearchRequest.ts
  specification/_global/search/_types/hits.ts
  specification/_global/search_mvt/SearchMvtRequest.ts
  specification/_types/Result.ts
  specification/_types/aggregations/bucket.ts
  specification/_types/aggregations/matrix.ts
  specification/_types/aggregations/metric.ts
  specification/_types/aggregations/pipeline.ts
  specification/_types/common.ts
  specification/_types/query_dsl/joining.ts
  specification/_types/sort.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/ingest/_types/Processors.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/put_datafeed/MlPutDatafeedRequest.ts
  specification/ml/put_datafeed/MlPutDatafeedResponse.ts
  specification/ml/update_datafeed/MlUpdateDatafeedRequest.ts
  specification/ml/update_datafeed/MlUpdateDatafeedResponse.ts
  specification/sql/translate/TranslateSqlResponse.ts
  specification/watcher/_types/Input.ts
  specification/watcher/query_watches/WatcherQueryWatchesRequest.ts
  specification/watcher/stats/types.ts
Labels: specification, backport 7.16

#1053 Unify ScoreMode, ChildScoreMode & move sort to common types (#1052)
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/reindex/types.ts
  specification/_global/search/SearchRequest.ts
  specification/_global/search/_types/hits.ts
  specification/_global/search_mvt/SearchMvtRequest.ts
  specification/_types/Result.ts
  specification/_types/aggregations/bucket.ts
  specification/_types/aggregations/matrix.ts
  specification/_types/aggregations/metric.ts
  specification/_types/aggregations/pipeline.ts
  specification/_types/common.ts
  specification/_types/query_dsl/joining.ts
  specification/_types/sort.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/ingest/_types/Processors.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/put_datafeed/MlPutDatafeedRequest.ts
  specification/ml/put_datafeed/MlPutDatafeedResponse.ts
  specification/ml/update_datafeed/MlUpdateDatafeedRequest.ts
  specification/ml/update_datafeed/MlUpdateDatafeedResponse.ts
  specification/sql/translate/TranslateSqlResponse.ts
  specification/watcher/_types/Input.ts
  specification/watcher/query_watches/WatcherQueryWatchesRequest.ts
  specification/watcher/stats/types.ts
Labels: specification

#1054 Add missing "defaults" field to IndexState
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/_types/IndexState.ts
Labels: specification, backport 7.16

#1056 Fix some index setting fields
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/_types/IndexRouting.ts
  specification/indices/_types/IndexSegmentSort.ts
Labels: specification, backport 7.16

#1057 Fix some index setting fields (#1056)
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/_types/IndexRouting.ts
  specification/indices/_types/IndexSegmentSort.ts
Labels: specification

#1058 Adds ML put model definition part API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/put_trained_model_definition_part/MlPutTrainedModelDefinitionPartRequest.ts
  specification/ml/put_trained_model_definition_part/MlPutTrainedModelDefinitionPartResponse.ts
Labels: specification

#1059 Adds ML put trained model vocabulary API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/put_trained_model_vocabulary/MlPutTrainedModelVocabularyRequest.ts
  specification/ml/put_trained_model_vocabulary/MlPutTrainedModelVocabularyResponse.ts
Labels: specification

#1070 Adds descriptions to delete transform API
  output/schema/schema.json
  output/typescript/types.ts
  specification/transform/delete_transform/DeleteTransformRequest.ts
Labels: specification, backport 7.16

#1071 [7.16]Adds descriptions to delete transform API (#1070)
  output/schema/schema.json
  output/typescript/types.ts
  specification/transform/delete_transform/DeleteTransformRequest.ts
Labels: specification

#1063 Adds visibility tag to ML validate APIs
  output/schema/schema.json
  specification/_json_spec/ml.validate.json
  specification/_json_spec/ml.validate_detector.json
  specification/ml/validate/MlValidateJobRequest.ts
  specification/ml/validate_detector/MlValidateDetectorRequest.ts
Labels: specification, backport 7.16

#1073 [7.16] Adds visibility tag to ML validate APIs (#1063)
  output/schema/schema.json
  specification/_json_spec/ml.validate.json
  specification/_json_spec/ml.validate_detector.json
  specification/ml/validate/MlValidateJobRequest.ts
  specification/ml/validate_detector/MlValidateDetectorRequest.ts
Labels: specification

#1069 Long terms should have long value
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/aggregations/Aggregate.ts
Labels: specification

#1068 Remove NESTism documents property
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/search/SearchResponse.ts
Labels: specification, backport 7.16

#1061 Adds ML start and stop trained model deployment specifications
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/TrainedModel.ts
  specification/ml/start_trained_model_deployment/MlStartTrainedModelDeploymentRequest.ts
  specification/ml/start_trained_model_deployment/MlStartTrainedModelDeploymentResponse.ts
  specification/ml/stop_trained_model_deployment/MlStopTrainedModelDeploymentRequest.ts
  specification/ml/stop_trained_model_deployment/MlStopTrainedModelDeploymentResponse.ts
Labels: specification

#1060 Adds ML infer trained model deployment API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/TrainedModel.ts
  specification/ml/infer_trained_model_deployment/MlInferTrainedModelDeploymentRequest.ts
  specification/ml/infer_trained_model_deployment/MlInferTrainedModelDeploymentResponse.ts
Labels: specification
