Repository elastic/elasticsearch-specification, pull requests merged in 2021-05, with the labels that each got.

#410 Refactor reindex
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/reindex/ReindexDestination.ts
  specification/_global/reindex/ReindexRequest.ts
  specification/_global/reindex/ReindexRouting.ts
  specification/_global/reindex/ReindexSource.ts
  specification/_global/reindex/types.ts
Labels: specification

#412 Automate download rest-api-spec
  .github/download-artifacts/index.js
  .github/download-artifacts/package.json
  .github/workflows/update-rest-api-json.yml
  .gitignore
Labels: enhancement

#401 Improve indices.get response
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/index/IndexSettings.ts
  specification/_types/mapping/types/complex/object/ObjectProperty.ts
  specification/indices/get/IndicesGetRequest.ts
Labels: specification

#419 Improve make targets
  Makefile
  README.md
Labels: documentation

#420 Refactor reindex_rethrottle
  specification/_global/reindex_rethrottle/ReindexRethrottleResponse.ts
  specification/_global/reindex_rethrottle/ReindexStatus.ts
  specification/_global/reindex_rethrottle/ReindexTask.ts
  specification/_global/reindex_rethrottle/types.ts
Labels: specification

#422 Reorg text_structure
  specification/text_structure/find_structure/FindStructureResponse.ts
  specification/text_structure/find_structure/types.ts
Labels: specification

#421 Reorg transform
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/Transform.ts
  specification/transform/_types/SingleGroupSource.ts
  specification/transform/_types/Transform.ts
  specification/transform/_types/TransformDestination.ts
  specification/transform/_types/TransformLatest.ts
  specification/transform/_types/TransformPivot.ts
  specification/transform/_types/TransformPivotGroupByContainer.ts
  specification/transform/_types/TransformRetentionPolicy.ts
  specification/transform/_types/TransformSettings.ts
  specification/transform/_types/TransformSync.ts
  specification/transform/_types/TransformSyncContainer.ts
  specification/transform/delete_transform/DeleteTransformRequest.ts
  specification/transform/get_transform/GetTransformRequest.ts
  specification/transform/get_transform/GetTransformResponse.ts
  specification/transform/get_transform_stats/GetTransformStatsRequest.ts
  specification/transform/get_transform_stats/GetTransformStatsResponse.ts
  specification/transform/get_transform_stats/TransformCheckpointStats.ts
  specification/transform/get_transform_stats/TransformCheckpointingInfo.ts
  specification/transform/get_transform_stats/TransformProgress.ts
  specification/transform/get_transform_stats/TransformStats.ts
  specification/transform/get_transform_stats/types.ts
  specification/transform/preview_transform/PreviewTransformRequest.ts
  specification/transform/start_transform/StartTransformRequest.ts
  specification/transform/stop_transform/StopTransformRequest.ts
  specification/transform/update_transform/UpdateTransformResponse.ts
  specification/watcher/_types/Action.ts
  specification/watcher/_types/Transform.ts
  specification/watcher/_types/Watch.ts
  specification/watcher/put_watch/WatcherPutWatchRequest.ts
Labels: specification

#423 Reorg Migration
  output/schema/schema.json
  output/typescript/types.ts
  specification/migration/deprecation_info/DeprecationInfo.ts
  specification/migration/deprecation_info/DeprecationInfoRequest.ts
  specification/migration/deprecation_info/DeprecationInfoResponse.ts
  specification/migration/deprecation_info/types.ts
Labels: specification

#417 Reorg License
  output/schema/schema.json
  output/typescript/types.ts
  specification/license/_types/License.ts
  specification/license/delete_license/DeleteLicenseRequest.ts
  specification/license/get_basic_license_status/GetBasicLicenseStatusRequest.ts
  specification/license/get_license/GetLicenseRequest.ts
  specification/license/get_license/GetLicenseResponse.ts
  specification/license/get_license/LicenseInformation.ts
  specification/license/get_license/LicenseStatus.ts
  specification/license/get_license/types.ts
  specification/license/get_trial_license_status/GetTrialLicenseStatusRequest.ts
  specification/license/post_license/PostLicenseRequest.ts
  specification/license/post_license/PostLicenseResponse.ts
  specification/license/post_license/types.ts
  specification/license/start_basic_license/StartBasicLicenseRequest.ts
  specification/license/start_trial_license/StartTrialLicenseRequest.ts
  specification/license/start_trial_license/StartTrialLicenseResponse.ts
  specification/xpack/info/MinimalLicenseInformation.ts
Labels: specification

#418 Reorg Ingest
  output/schema/schema.json
  output/typescript/types.ts
  specification/cluster/_types/ClusterStateIngest.ts
  specification/ingest/_types/Pipeline.ts
  specification/ingest/_types/PipelineConfig.ts
  specification/ingest/_types/ProcessorBase.ts
  specification/ingest/_types/ProcessorContainer.ts
  specification/ingest/_types/Processors.ts
  specification/ingest/delete_pipeline/DeletePipelineRequest.ts
  specification/ingest/geo_ip_stats/IngestGeoIpStatsResponse.ts
  specification/ingest/geo_ip_stats/types.ts
  specification/ingest/get_pipeline/GetPipelineRequest.ts
  specification/ingest/processor/GrokProcessorPatternsRequest.ts
  specification/ingest/processor_grok/GrokProcessorPatternsRequest.ts
  specification/ingest/processor_grok/GrokProcessorPatternsResponse.ts
  specification/ingest/processors/AppendProcessor.ts
  specification/ingest/processors/BytesProcessor.ts
  specification/ingest/processors/CircleProcessor.ts
  specification/ingest/processors/ConvertProcessor.ts
  specification/ingest/processors/ConvertProcessorType.ts
  specification/ingest/processors/CsvProcessor.ts
  specification/ingest/processors/DateIndexNameProcessor.ts
  specification/ingest/processors/DateProcessor.ts
  specification/ingest/processors/DateRounding.ts
  specification/ingest/processors/DissectProcessor.ts
  specification/ingest/processors/DotExpanderProcessor.ts
  specification/ingest/processors/DropProcessor.ts
  specification/ingest/processors/EnrichProcessor.ts
  specification/ingest/processors/FailProcessor.ts
  specification/ingest/processors/ForeachProcessor.ts
  specification/ingest/processors/GrokProcessor.ts
  specification/ingest/processors/GsubProcessor.ts
  specification/ingest/processors/InferenceProcessor.ts
  specification/ingest/processors/JoinProcessor.ts
  specification/ingest/processors/KeyValueProcessor.ts
  specification/ingest/processors/LowercaseProcessor.ts
  specification/ingest/processors/PipelineProcessor.ts
  specification/ingest/processors/RemoveProcessor.ts
  specification/ingest/processors/RenameProcessor.ts
  specification/ingest/processors/ScriptProcessor.ts
  specification/ingest/processors/SetProcessor.ts
  specification/ingest/processors/SetSecurityUserProcessor.ts
  specification/ingest/processors/ShapeType.ts
  specification/ingest/processors/SplitProcessor.ts
  specification/ingest/processors/TrimProcessor.ts
  specification/ingest/processors/UppercaseProcessor.ts
  specification/ingest/processors/UrlDecodeProcessor.ts
  specification/ingest/processors/plugins/AttachmentProcessor.ts
  specification/ingest/processors/plugins/GeoIpProcessor.ts
  specification/ingest/processors/plugins/UserAgentProcessor.ts
  specification/ingest/processors/plugins/user_agent/UserAgentProperty.ts
  specification/ingest/put_pipeline/PutPipelineRequest.ts
  specification/ingest/simulate_pipeline/DocumentSimulation.ts
  specification/ingest/simulate_pipeline/Ingest.ts
  specification/ingest/simulate_pipeline/PipelineSimulation.ts
  specification/ingest/simulate_pipeline/SimulatePipelineDocument.ts
  specification/ingest/simulate_pipeline/SimulatePipelineRequest.ts
  specification/ingest/simulate_pipeline/SimulatePipelineResponse.ts
  specification/ingest/simulate_pipeline/types.ts
  specification/text_structure/find_structure/FindStructureResponse.ts
Labels: specification

#425 Reorg scripts_painless_execute
  specification/_global/scripts_painless_execute/ExecutePainlessScriptRequest.ts
  specification/_global/scripts_painless_execute/ExecutePainlessScriptResponse.ts
  specification/_global/scripts_painless_execute/types.ts
  specification/_types/Errors.ts
Labels: specification

#424 Reorg MGet
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/mget/MultiGetRequest.ts
  specification/_global/mget/MultiGetResponse.ts
  specification/_global/mget/types.ts
Labels: specification

#427 Reorg termvectors
  specification/_global/mtermvectors/MultiTermVectorOperation.ts
  specification/_global/mtermvectors/MultiTermVectorsResponse.ts
  specification/_global/termvectors/FieldStatistics.ts
  specification/_global/termvectors/TermVector.ts
  specification/_global/termvectors/TermVectorFilter.ts
  specification/_global/termvectors/TermVectorsRequest.ts
  specification/_global/termvectors/TermVectorsResponse.ts
  specification/_global/termvectors/TermVectorsResult.ts
  specification/_global/termvectors/Token.ts
  specification/_global/termvectors/types.ts
Labels: specification

#416 Reorg Watcher
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ingest/simulate_pipeline/types.ts
  specification/watcher/_types/Action.ts
  specification/watcher/_types/Actions.ts
  specification/watcher/_types/Activation.ts
  specification/watcher/_types/EmailAction.ts
  specification/watcher/_types/Execution.ts
  specification/watcher/_types/IndexAction.ts
  specification/watcher/_types/PagerDutyAction.ts
  specification/watcher/_types/SlackAction.ts
  specification/watcher/_types/Trigger.ts
  specification/watcher/_types/Watch.ts
  specification/watcher/ack_watch/AcknowledgeState.ts
  specification/watcher/ack_watch/AcknowledgementState.ts
  specification/watcher/ack_watch/ActionStatus.ts
  specification/watcher/ack_watch/ActivationState.ts
  specification/watcher/ack_watch/ExecutionState.ts
  specification/watcher/ack_watch/ThrottleState.ts
  specification/watcher/ack_watch/WatchStatus.ts
  specification/watcher/ack_watch/WatcherAckWatchRequest.ts
  specification/watcher/ack_watch/WatcherAckWatchResponse.ts
  specification/watcher/activate_watch/ActivationStatus.ts
  specification/watcher/activate_watch/WatcherActivateWatchResponse.ts
  specification/watcher/deactivate_watch/DeactivateWatchResponse.ts
  specification/watcher/delete_watch/DeleteWatchRequest.ts
  specification/watcher/execute_watch/ActionExecutionState.ts
  specification/watcher/execute_watch/ExecutionResult.ts
  specification/watcher/execute_watch/ExecutionResultAction.ts
  specification/watcher/execute_watch/ExecutionResultCondition.ts
  specification/watcher/execute_watch/TriggerEventResult.ts
  specification/watcher/execute_watch/WatchRecord.ts
  specification/watcher/execute_watch/WatcherExecuteWatchResponse.ts
  specification/watcher/execute_watch/types.ts
  specification/watcher/get_watch/GetWatchResponse.ts
  specification/watcher/start/WatcherStartRequest.ts
  specification/watcher/stats/ExecutionPhase.ts
  specification/watcher/stats/ExecutionThreadPool.ts
  specification/watcher/stats/WatchRecordQueuedStats.ts
  specification/watcher/stats/WatchRecordStats.ts
  specification/watcher/stats/WatcherNodeStats.ts
  specification/watcher/stats/WatcherState.ts
  specification/watcher/stats/WatcherStatsRequest.ts
  specification/watcher/stats/WatcherStatsResponse.ts
  specification/watcher/stats/types.ts
  specification/watcher/stop/WatcherStopRequest.ts
Labels: specification

#428 Reorg field_caps
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/field_caps/FieldCapabilitiesResponse.ts
  specification/_global/field_caps/types.ts
Labels: specification

#433 Reorg SSL
  output/schema/schema.json
  output/typescript/types.ts
  specification/ssl/get_certificates/GetCertificatesResponse.ts
  specification/ssl/get_certificates/types.ts
Labels: specification

#430 Reorg EQL
  output/schema/schema.json
  output/typescript/types.ts
  specification/eql/_types/EqlHits.ts
  specification/eql/_types/EqlHitsEvent.ts
  specification/eql/search/EqlSearchRequest.ts
  specification/eql/search/types.ts
Labels: specification

#432 Reorg SQL
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/common.ts
  specification/sql/query_sql/QuerySqlResponse.ts
  specification/sql/query_sql/types.ts
Labels: specification

#435 Reorg CCR
  output/schema/schema.json
  output/typescript/types.ts
  specification/ccr/_types/FollowIndexStats.ts
  specification/ccr/delete_auto_follow_pattern/DeleteAutoFollowPatternRequest.ts
  specification/ccr/follow_index_stats/FollowIndexReadException.ts
  specification/ccr/follow_index_stats/FollowIndexStats.ts
  specification/ccr/follow_index_stats/FollowIndexStatsRequest.ts
  specification/ccr/follow_index_stats/FollowIndexStatsResponse.ts
  specification/ccr/follow_info/FollowConfig.ts
  specification/ccr/follow_info/FollowInfoRequest.ts
  specification/ccr/follow_info/FollowInfoResponse.ts
  specification/ccr/follow_info/FollowerInfo.ts
  specification/ccr/follow_info/types.ts
  specification/ccr/forget_follower_index/ForgetFollowerIndexRequest.ts
  specification/ccr/get_auto_follow_pattern/GetAutoFollowPatternRequest.ts
  specification/ccr/get_auto_follow_pattern/GetAutoFollowPatternResponse.ts
  specification/ccr/get_auto_follow_pattern/types.ts
  specification/ccr/pause_auto_follow_pattern/PauseAutoFollowPatternRequest.ts
  specification/ccr/pause_follow_index/PauseFollowIndexRequest.ts
  specification/ccr/put_auto_follow_pattern/PutAutoFollowPatternRequest.ts
  specification/ccr/resume_auto_follow_pattern/ResumeAutoFollowPatternRequest.ts
  specification/ccr/resume_follow_index/ResumeFollowIndexRequest.ts
  specification/ccr/stats/AutoFollowedCluster.ts
  specification/ccr/stats/CcrAutoFollowStats.ts
  specification/ccr/stats/CcrFollowStats.ts
  specification/ccr/stats/CcrStatsRequest.ts
  specification/ccr/stats/CcrStatsResponse.ts
  specification/ccr/stats/types.ts.ts
  specification/ccr/unfollow_index/UnfollowIndexRequest.ts
Labels: specification

#438 Reorg msearch
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/msearch/MultiSearchRequest.ts
  specification/_global/msearch/MultiSearchResponse.ts
  specification/_global/msearch/types.ts
Labels: specification

#436 Reorg types/index
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/index/FileSystemStorageImplementation.ts
  specification/_types/index/IndexState.ts
  specification/_types/index/RecoveryInitialShards.ts
  specification/_types/index/TranslogDurability.ts
  specification/_types/index/sorting/IndexSortMissing.ts
  specification/_types/index/sorting/IndexSortOrder.ts
  specification/cluster/_types/ClusterStateBlocksIndex.ts
  specification/cluster/_types/ComponentTemplate.ts
  specification/cluster/cluster_put_component_template/ClusterPutComponentTemplateRequest.ts
  specification/indices/_types/IndexSettings.ts
  specification/indices/_types/IndexState.ts
  specification/indices/get/IndicesGetResponse.ts
  specification/indices/get_settings/IndicesGetSettingsResponse.ts
  specification/indices/put_index_template/IndicesPutIndexTemplateRequest.ts
  specification/indices/put_settings/IndicesPutSettingsRequest.ts
  specification/nodes/_types/IndexRouting.ts
  specification/nodes/nodes_info/NodeInfo.ts
  specification/transform/preview_transform/PreviewTransformResponse.ts
Labels: specification

#437 Reorg Graph
  output/schema/schema.json
  output/typescript/types.ts
  specification/graph/_types/Connection.ts
  specification/graph/_types/ExploreControls.ts
  specification/graph/_types/Hop.ts
  specification/graph/_types/Vertex.ts
  specification/graph/explore/GraphExploreControls.ts
  specification/graph/explore/GraphExploreRequest.ts
  specification/graph/explore/GraphExploreResponse.ts
  specification/graph/explore/GraphVertex.ts
  specification/graph/explore/SampleDiversity.ts
Labels: specification

#441 Reorg rollup
  output/schema/schema.json
  output/typescript/types.ts
  specification/rollup/_types/Groupings.ts
  specification/rollup/_types/Metric.ts
  specification/rollup/create_rollup_job/CreateRollupJobRequest.ts
  specification/rollup/delete_rollup_job/DeleteRollupJobRequest.ts
  specification/rollup/delete_rollup_job/DeleteRollupJobResponse.ts
  specification/rollup/delete_rollup_job/types.ts
  specification/rollup/get_rollup_capabilities/GetRollupCapabilitiesRequest.ts
  specification/rollup/get_rollup_capabilities/GetRollupCapabilitiesResponse.ts
  specification/rollup/get_rollup_capabilities/RollupCapabilities.ts
  specification/rollup/get_rollup_capabilities/types.ts
  specification/rollup/get_rollup_index_capabilities/GetRollupIndexCapabilitiesRequest.ts
  specification/rollup/get_rollup_index_capabilities/GetRollupIndexCapabilitiesResponse.ts
  specification/rollup/get_rollup_index_capabilities/RollupIndexCapabilities.ts
  specification/rollup/get_rollup_index_capabilities/RollupIndexCapabilitiesJob.ts
  specification/rollup/get_rollup_index_capabilities/types.ts
  specification/rollup/get_rollup_job/GetRollupJobRequest.ts
  specification/rollup/get_rollup_job/GetRollupJobResponse.ts
  specification/rollup/get_rollup_job/IndexingJobState.ts
  specification/rollup/get_rollup_job/RollupJobConfiguration.ts
  specification/rollup/get_rollup_job/RollupJobInformation.ts
  specification/rollup/get_rollup_job/RollupJobStats.ts
  specification/rollup/get_rollup_job/types.ts
  specification/rollup/rollup_configuration/DateHistogramRollupGrouping.ts
  specification/rollup/rollup_configuration/RollupFieldMetric.ts
  specification/rollup/rollup_configuration/RollupGroupings.ts
  specification/rollup/start_rollup_job/StartRollupJobRequest.ts
  specification/rollup/stop_rollup_job/StopRollupJobRequest.ts
Labels: specification

#440 Reorg mtermvectors
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/mtermvectors/MultiTermVectorsRequest.ts
  specification/_global/mtermvectors/MultiTermVectorsResponse.ts
  specification/_global/mtermvectors/types.ts
  specification/_global/termvectors/TermVectorsRequest.ts
  specification/_global/termvectors/types.ts
Labels: specification

#449 Reorg SLM
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/Lifecycle.ts
  specification/cluster/_types/ClusterStateIndexLifecycle.ts
  specification/ilm/get_status/GetIlmStatusResponse.ts
  specification/slm/_types/SnapshotLifecycle.ts
  specification/slm/_types/SnapshotLifecycleConfig.ts
  specification/slm/_types/SnapshotLifecycleInProgress.ts
  specification/slm/_types/SnapshotLifecycleInvocationRecord.ts
  specification/slm/_types/SnapshotLifecyclePolicy.ts
  specification/slm/_types/SnapshotRetentionConfiguration.ts
  specification/slm/delete_lifecycle/DeleteSnapshotLifecycleRequest.ts
  specification/slm/execute_lifecycle/ExecuteSnapshotLifecycleRequest.ts
  specification/slm/execute_lifecycle/ExecuteSnapshotLifecycleResponse.ts
  specification/slm/execute_retention/ExecuteRetentionRequest.ts
  specification/slm/get_lifecycle/GetSnapshotLifecycleRequest.ts
  specification/slm/get_lifecycle/GetSnapshotLifecycleResponse.ts
  specification/slm/get_stats/GetSnapshotLifecycleStatsRequest.ts
  specification/slm/get_status/GetSnapshotLifecycleManagementStatusRequest.ts
  specification/slm/get_status/GetSnapshotLifecycleManagementStatusResponse.ts
  specification/slm/put_lifecycle/PutSnapshotLifecycleRequest.ts
  specification/slm/start/StartSnapshotLifecycleManagementRequest.ts
  specification/slm/stop/StopSnapshotLifecycleManagementRequest.ts
  specification/xpack/usage/types.ts
Labels: specification

#455 Reorg rank_eval
  specification/_global/rank_eval/RankEvalRequest.ts
  specification/_global/rank_eval/RankEvalRequestItem.ts
  specification/_global/rank_eval/RankEvalResponse.ts
  specification/_global/rank_eval/types.ts
Labels: specification

#453 Reorg bulk
  output/schema/schema.json
  specification/_global/bulk/BulkOperation.ts
  specification/_global/bulk/BulkRequest.ts
  specification/_global/bulk/BulkResponse.ts
  specification/_global/bulk/types.ts
Labels: specification

#456 Reorg ILM
  output/schema/schema.json
  output/typescript/types.ts
  specification/cluster/_types/ClusterStateIndexLifecycle.ts
  specification/ilm/_types/LifecycleAction.ts
  specification/ilm/_types/Phase.ts
  specification/ilm/_types/Phases.ts
  specification/ilm/_types/Policy.ts
  specification/ilm/delete_lifecycle/DeleteLifecycleRequest.ts
  specification/ilm/explain_lifecycle/ExplainLifecycleRequest.ts
  specification/ilm/explain_lifecycle/ExplainLifecycleResponse.ts
  specification/ilm/explain_lifecycle/types.ts
  specification/ilm/get_lifecycle/GetLifecycleRequest.ts
  specification/ilm/get_lifecycle/GetLifecycleResponse.ts
  specification/ilm/get_lifecycle/types.ts
  specification/ilm/get_status/GetIlmStatusRequest.ts
  specification/ilm/move_to_step/MoveToStepRequest.ts
  specification/ilm/move_to_step/types.ts
  specification/ilm/put_lifecycle/PutLifecycleRequest.ts
  specification/ilm/remove_policy/RemovePolicyRequest.ts
  specification/ilm/remove_policy/RemovePolicyResponse.ts
  specification/ilm/retry/RetryIlmRequest.ts
  specification/xpack/usage/types.ts
Labels: specification

#454 Reorg explain
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/bulk/types.ts
  specification/_global/explain/ExplainResponse.ts
  specification/_global/explain/ExplanationDetail.ts
  specification/_global/explain/InlineGet.ts
  specification/_global/explain/types.ts
  specification/_global/search/_types/hits.ts
  specification/_global/update/UpdateResponse.ts
  specification/_types/common.ts
Labels: specification

#461 Reorg snapshot
  output/schema/schema.json
  output/typescript/types.ts
  specification/cluster/_types/ClusterStateSnapshots.ts
  specification/ml/explain_data_frame_analytics/MlExplainDataFrameAnalyticsResponse.ts
  specification/snapshot/_types/SnapshotIndexDetails.ts
  specification/snapshot/_types/SnapshotIndexStats.ts
  specification/snapshot/_types/SnapshotInfo.ts
  specification/snapshot/_types/SnapshotInfoFeatureState.ts
  specification/snapshot/_types/SnapshotRepository.ts
  specification/snapshot/_types/SnapshotShardsStats.ts
  specification/snapshot/_types/SnapshotShardsStatsStage.ts
  specification/snapshot/_types/SnapshotShardsStatus.ts
  specification/snapshot/_types/SnapshotStatus.ts
  specification/snapshot/create_repository/SnapshotCreateRepositoryRequest.ts
  specification/snapshot/get/SnapshotGetResponse.ts
  specification/snapshot/get_repository/SnapshotGetRepositoryResponse.ts
  specification/snapshot/status/SnapshotStatusResponse.ts
Labels: specification

#462 Fix CI
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/DataframeAnalytics.ts
  specification/ml/_types/DataframeEvaluation.ts
  specification/ml/explain_data_frame_analytics/MlExplainDataFrameAnalyticsResponse.ts
  specification/ml/get_data_frame_analytics/MlGetDataFrameAnalyticsResponse.ts
  specification/ml/get_data_frame_analytics_stats/MlGetDataFrameAnalyticsStatsResponse.ts
  specification/ml/preview_data_frame_analytics/types.ts
Labels: specification

#466 Fix ml.get_overall_buckets Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/get_overall_buckets/MlGetOverallBucketsRequest.ts
Labels: specification

#465 Validate rollup.rollup_search Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/rollup/rollup_search/RollupSearchResponse.ts
Labels: specification

#468 Fix ccr.get_auto_follow_pattern Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/ccr/get_auto_follow_pattern/GetAutoFollowPatternRequest.ts
  specification/ccr/get_auto_follow_pattern/types.ts
Labels: specification

#469 Fix enrich.get_policy Response
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/enrich/_types/Policy.ts
Labels: specification

#470 Fix indices.stats Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/stats/types.ts
Labels: specification

#472 Address feedback from Kibana
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/bulk/BulkRequest.ts
  specification/_global/bulk/BulkResponse.ts
  specification/_global/bulk/types.ts
  specification/_global/delete_by_query_rethrottle/DeleteByQueryRethrottleResponse.ts
  specification/ingest/simulate_pipeline/SimulatePipelineRequest.ts
  specification/ingest/simulate_pipeline/types.ts
  specification/license/delete/DeleteLicenseRequest.ts
  specification/license/delete/DeleteLicenseResponse.ts
  specification/license/get/GetLicenseRequest.ts
  specification/license/get/GetLicenseResponse.ts
  specification/license/get/types.ts
  specification/license/get_basic_status/GetBasicLicenseStatusRequest.ts
  specification/license/get_basic_status/GetBasicLicenseStatusResponse.ts
  specification/license/get_trial_status/GetTrialLicenseStatusRequest.ts
  specification/license/get_trial_status/GetTrialLicenseStatusResponse.ts
  specification/license/post/PostLicenseRequest.ts
  specification/license/post/PostLicenseResponse.ts
  specification/license/post/types.ts
  specification/license/post_start_basic/StartBasicLicenseRequest.ts
  specification/license/post_start_basic/StartBasicLicenseResponse.ts
  specification/license/post_start_trial/StartTrialLicenseRequest.ts
  specification/license/post_start_trial/StartTrialLicenseResponse.ts
  specification/nodes/hot_threads/NodesHotThreadsRequest.ts
  specification/nodes/hot_threads/NodesHotThreadsResponse.ts
  specification/nodes/hot_threads/types.ts
  specification/nodes/info/NodesInfoRequest.ts
  specification/nodes/info/NodesInfoResponse.ts
  specification/nodes/info/types.ts
  specification/nodes/stats/NodesStatsRequest.ts
  specification/nodes/stats/NodesStatsResponse.ts
  specification/nodes/usage/NodesUsageRequest.ts
  specification/nodes/usage/NodesUsageResponse.ts
  specification/nodes/usage/types.ts
  specification/sql/clear_cursor/ClearSqlCursorRequest.ts
  specification/sql/clear_cursor/ClearSqlCursorResponse.ts
  specification/sql/query/QuerySqlRequest.ts
  specification/sql/query/QuerySqlResponse.ts
  specification/sql/query/types.ts
  specification/sql/translate/TranslateSqlRequest.ts
  specification/sql/translate/TranslateSqlResponse.ts
  specification/task/cancel/CancelTasksRequest.ts
  specification/task/cancel/CancelTasksResponse.ts
  specification/task/get/GetTaskRequest.ts
  specification/task/get/GetTaskResponse.ts
  specification/task/list/ListTasksRequest.ts
  specification/task/list/ListTasksResponse.ts
  typescript-generator/index.ts
Labels: generator:typescript, specification

#475 Remove duplicated properties
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/mapping/complex.ts
  specification/_types/query_dsl/compound.ts
Labels: specification
