Repository elastic/elasticsearch-specification, pull requests merged in 2021-09, with the labels that each got.

#627 Fix addDescription step
  compiler/steps/add-description.ts
  output/schema/schema.json
Labels: compiler, backport 7.x

#630 Fix stubbed rollup API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/rollup/rollup/RollupRequest.ts
  specification/rollup/rollup/RollupResponse.ts
Labels: specification, backport 7.x

#633 Bulk Operation properties should be optional
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/bulk/types.ts
Labels: specification, backport 7.x

#617 Fix indices.simulate_index_template
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/indices/simulate_index_template/IndicesSimulateIndexTemplateRequest.ts
Labels: specification, backport 7.x

#634 Fix shutdown get node API
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/common.ts
  specification/shutdown/get_node/ShutdownGetNodeRequest.ts
Labels: specification, backport 7.x

#642 Fix ML put trained model alias request
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_trained_model_alias/MlPutTrainedModelAliasRequest.ts
Labels: specification, backport 7.x

#646 Fix dangling index requests
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/dangling_indices/delete_dangling_index/DeleteDanglingIndexRequest.ts
  specification/dangling_indices/import_dangling_index/ImportDanglingIndexRequest.ts
Labels: backport 7.x

#650 Fix Snapshot.get
  output/schema/schema.json
  output/typescript/types.ts
  specification/snapshot/get/SnapshotGetRequest.ts
  specification/snapshot/get/SnapshotGetResponse.ts
Labels: specification, backport 7.x

#654 Updates for v8
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/count/CountRequest.ts
  specification/_global/delete_by_query/DeleteByQueryRequest.ts
  specification/_global/exists/DocumentExistsRequest.ts
  specification/_global/explain/ExplainRequest.ts
  specification/_global/get/GetRequest.ts
  specification/_global/index/IndexRequest.ts
  specification/_global/mget/MultiGetRequest.ts
  specification/_global/msearch/MultiSearchRequest.ts
  specification/_global/msearch_template/MultiSearchTemplateRequest.ts
  specification/_global/mtermvectors/MultiTermVectorsRequest.ts
  specification/_global/search/SearchRequest.ts
  specification/_global/search_template/SearchTemplateRequest.ts
  specification/_global/termvectors/TermVectorsRequest.ts
  specification/_global/update_by_query/UpdateByQueryRequest.ts
  specification/graph/explore/GraphExploreRequest.ts
  specification/indices/flush_synced/IndicesFlushSyncedRequest.ts
  specification/indices/flush_synced/IndicesFlushSyncedResponse.ts
  specification/indices/get_field_mapping/IndicesGetFieldMappingRequest.ts
  specification/indices/get_mapping/IndicesGetMappingRequest.ts
  specification/indices/get_upgrade/IndicesGetUpgradeRequest.ts
  specification/indices/get_upgrade/IndicesGetUpgradeResponse.ts
  specification/indices/put_mapping/IndicesPutMappingRequest.ts
  specification/indices/upgrade/IndicesUpgradeRequest.ts
  specification/indices/upgrade/IndicesUpgradeResponse.ts
  specification/ml/find_file_structure/MlFindFileStructureRequest.ts
  specification/ml/find_file_structure/MlFindFileStructureResponse.ts
Labels: specification

#655 Update rest-api-spec action
  .github/workflows/update-rest-api-json.yml
Labels: backport 7.x

#652 Fix slm.put_lifecycle Request
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/slm/_types/SnapshotLifecycle.ts
  specification/slm/put_lifecycle/PutSnapshotLifecycleRequest.ts
  specification/watcher/_types/Schedule.ts
Labels: specification, backport 7.x

#653 Add 'search_mvt' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/search_mvt/SearchMvtRequest.ts
  specification/_global/search_mvt/SearchMvtResponse.ts
  specification/_global/search_mvt/_types/GridType.ts
Labels: specification, backport 7.x

#624 Fix stubbed ml apis
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_types/aggregations/pipeline.ts
  specification/ml/_types/TrainedModel.ts
  specification/ml/put_trained_model/MlPutTrainedModelRequest.ts
  specification/ml/put_trained_model/MlPutTrainedModelResponse.ts
  specification/ml/put_trained_model/types.ts
Labels: specification, backport 7.x

#649 Fix snapshot.create Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/snapshot/_types/SnapshotInfo.ts
  specification/snapshot/create/SnapshotCreateResponse.ts
Labels: specification, backport 7.x

#680 Fix mtermvectors
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/mtermvectors/MultiTermVectorsRequest.ts
  specification/_global/mtermvectors/types.ts
Labels: specification

#671 Add .gitattributes
  .gitattributes
Labels: backport 7.x

#679 Fix security.authenticate Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/security/authenticate/types.ts
Labels: specification, backport 7.x

#648 Fixes and descriptions for basic indices APIs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_types/common.ts
  specification/_types/mapping/Property.ts
  specification/indices/create/IndicesCreateRequest.ts
  specification/indices/create_data_stream/IndicesCreateDataStreamRequest.ts
  specification/indices/delete_data_stream/IndicesDeleteDataStreamRequest.ts
  specification/indices/get_data_stream/IndicesGetDataStreamRequest.ts
  specification/indices/put_mapping/IndicesPutMappingRequest.ts
  specification/indices/put_settings/IndicesPutSettingsRequest.ts
  specification/indices/put_template/IndicesPutTemplateRequest.ts
Labels: specification, backport 7.x

#675 Do not filter out newlines in descriptions
  compiler/model/utils.ts
  output/schema/schema.json
Labels: compiler, backport 7.x

#686 Fix stubbed apis
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/indices/promote_data_stream/IndicesPromoteDataStreamResponse.ts
  specification/ml/update_job/MlUpdateJobResponse.ts
  specification/searchable_snapshots/clear_cache/SearchableSnapshotsClearCacheRequest.ts
  specification/searchable_snapshots/clear_cache/SearchableSnapshotsClearCacheResponse.ts
Labels: specification, backport 7.x

#690 Minor type fixes
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/field_caps/types.ts
  specification/_types/query_dsl/geo.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/indices/put_template/IndicesPutTemplateRequest.ts
  specification/ml/post_data/MlPostJobDataRequest.ts
  specification/security/_types/RoleMapping.ts
  specification/transform/_types/Transform.ts
  specification/transform/preview_transform/PreviewTransformRequest.ts
Labels: specification, backport 7.x

#693 Remove index from PropertyBase
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_types/mapping/Property.ts
Labels: specification, backport 7.x

#699 Update path parts for SearchMvtRequest
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/search_mvt/SearchMvtRequest.ts
  specification/_global/search_mvt/_types/Coordinate.ts
  specification/_global/search_mvt/_types/ZoomLevel.ts
Labels: specification, backport 7.x

#698 Improved indices.create Request
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_types/mapping/Property.ts
  specification/_types/mapping/complex.ts
  specification/_types/mapping/core.ts
  specification/_types/mapping/dynamic-template.ts
  specification/_types/mapping/meta-fields.ts
  specification/_types/mapping/specialized.ts
Labels: specification, backport 7.x

#697 Fix cluster.stats Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/cluster/stats/types.ts
Labels: specification, backport 7.x

#696 Fix cluster.reroute Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/cluster/reroute/types.ts
Labels: specification, backport 7.x

#695 Fix ccr.get_auto_follow_pattern response
  output/schema/schema.json
  output/typescript/types.ts
  specification/ccr/get_auto_follow_pattern/types.ts
  specification/ccr/put_auto_follow_pattern/PutAutoFollowPatternRequest.ts
Labels: specification, backport 7.x

#700 Add indices.disk_usage Enpoint
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/indices/disk_usage/IndicesDiskUsageRequest.ts
  specification/indices/disk_usage/IndicesDiskUsageResponse.ts
Labels: specification, backport 7.x

#711 Remove unused NEST options from APIs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/count/CountRequest.ts
  specification/_global/explain/ExplainRequest.ts
  specification/_global/scroll/ScrollRequest.ts
  specification/_global/search_template/SearchTemplateRequest.ts
  specification/_global/update_by_query/UpdateByQueryRequest.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/indices/validate_query/IndicesValidateQueryRequest.ts
Labels: specification, backport 7.x

#712 [7.x] Remove unused NEST options from APIs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/count/CountRequest.ts
  specification/_global/explain/ExplainRequest.ts
  specification/_global/scroll/ScrollRequest.ts
  specification/_global/search_template/SearchTemplateRequest.ts
  specification/_global/update_by_query/UpdateByQueryRequest.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/indices/validate_query/IndicesValidateQueryRequest.ts
Labels: specification

#718 Add more fine grained security privileges definition
  output/schema/schema.json
  output/typescript/types.ts
  specification/security/_types/ApplicationPrivileges.ts
  specification/security/_types/GlobalPrivilege.ts
  specification/security/_types/Privileges.ts
  specification/security/create_api_key/types.ts
  specification/security/get_role/types.ts
  specification/security/get_service_accounts/types.ts
  specification/security/get_user_privileges/SecurityGetUserPrivilegesResponse.ts
  specification/security/has_privileges/SecurityHasPrivilegesRequest.ts
  specification/security/has_privileges/types.ts
  specification/security/put_role/SecurityPutRoleRequest.ts
Labels: specification, backport 7.x

#719 Add support for endpoint description
  compiler/model/utils.ts
  compiler/steps/add-description.ts
  output/schema/schema.json
Labels: compiler, backport 7.x

#729 Add support for boolean and numbers in literal values
  compiler/model/utils.ts
Labels: compiler, backport 7.x

#732 Add support for doc_id
  compiler/model/metamodel.ts
  compiler/model/utils.ts
  docs/modeling-guide.md
Labels: compiler, backport 7.x

#736 Differentiate between managed and unmanaged indices
  output/schema/schema.json
  output/typescript/types.ts
  specification/ilm/explain_lifecycle/ExplainLifecycleResponse.ts
  specification/ilm/explain_lifecycle/types.ts
Labels: specification, backport 7.x

#702 Add support for OverloadOf behavior
  compiler/index.ts
  compiler/model/utils.ts
  compiler/steps/read-definition-validation.ts
  docs/behaviors.md
  output/schema/schema.json
  output/typescript/types.ts
  specification/_spec_utils/behaviors.ts
  specification/ml/_types/Analysis.ts
  specification/ml/put_job/MlPutJobResponse.ts
  specification/ml/update_job/MlUpdateJobResponse.ts
  typescript-generator/index.ts
Labels: specification, compiler, generator:typescript, backport 7.x

#740 Fix security get role mapping
  output/schema/schema.json
  output/typescript/types.ts
  specification/security/_types/RoleMapping.ts
  specification/security/_types/RoleMappingRule.ts
  specification/security/put_role_mapping/SecurityPutRoleMappingRequest.ts
Labels: specification, backport 7.x

#717 Add security prerequisites support
  compiler/model/metamodel.ts
  compiler/model/utils.ts
  docs/modeling-guide.md
  output/schema/schema.json
  specification/cluster/state/ClusterStateRequest.ts
  specification/indices/create/IndicesCreateRequest.ts
Labels: specification, compiler, backport 7.x

#744 Fix nodes.info settings
  output/schema/schema.json
  output/typescript/types.ts
  specification/nodes/info/types.ts
Labels: specification, backport 7.x

#748 [Backport 7.x] Fix nodes.info settings
  output/schema/schema.json
  output/typescript/types.ts
  specification/nodes/info/types.ts
Labels: specification

#750 Fix enumerations and add more meaningful identifiers
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_types/Geo.ts
  specification/_types/Result.ts
  specification/_types/Time.ts
  specification/_types/aggregations/pipeline.ts
  specification/_types/common.ts
  specification/indices/_types/DataStreamStatus.ts
Labels: specification, backport 7.x

#749 Fix span_gap query definition
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/query_dsl/fulltext.ts
  specification/_types/query_dsl/span.ts
Labels: specification, backport 7.x

#568 Use a single property for indexes/indices
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_datafeed/MlPutDatafeedRequest.ts
Labels: specification, backport 7.x

#755 Add support for doc_id in properties
  compiler/model/metamodel.ts
  compiler/model/utils.ts
Labels: compiler, backport 7.x

#756 Expand body identifier use
  compiler/model/build-model.ts
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/autoscaling/put_autoscaling_policy/PutAutoscalingPolicyRequest.ts
  specification/indices/put_settings/IndicesPutSettingsRequest.ts
  specification/indices/simulate_template/IndicesSimulateTemplateRequest.ts
  specification/logstash/put_pipeline/LogstashPutPipelineRequest.ts
  specification/ml/validate_detector/MlValidateDetectorRequest.ts
  specification/rollup/rollup/RollupRequest.ts
  specification/security/put_privileges/SecurityPutPrivilegesRequest.ts
Labels: specification, compiler, backport 7.x

#758 Add security prerequisites for ML create data frame analytics API
  output/schema/schema.json
  specification/ml/put_data_frame_analytics/MlPutDataFrameAnalyticsRequest.ts
Labels: specification, backport 7.x

#746 Add doc_id; remove out-dated links
  output/schema/schema.json
  specification/ml/update_job/MlUpdateJobRequest.ts
Labels: specification, backport 7.x

#760 Update doc-comments-guide.md
  docs/doc-comments-guide.md
Labels: documentation, backport 7.x

#759 Updates the spec for ML close anomaly detection jobs API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/close_job/MlCloseJobRequest.ts
Labels: specification, backport 7.x

#735 Fix cluster apis
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/cluster/_types/ClusterStateMetadata.ts
  specification/cluster/reroute/ClusterRerouteResponse.ts
  specification/cluster/reroute/types.ts
  specification/cluster/state/ClusterStateResponse.ts
  specification/indices/_types/IndexState.ts
Labels: specification, backport 7.x

#773 obsolete/deprecation/g
  compiler/model/utils.ts
  docs/modeling-guide.md
  output/schema/schema.json
  specification/_global/get/GetResponse.ts
  specification/_global/scroll/ScrollRequest.ts
  specification/_types/query_dsl/abstractions.ts
  specification/_types/query_dsl/fulltext.ts
  specification/_types/query_dsl/geo.ts
  specification/ml/close_job/MlCloseJobRequest.ts
  specification/monitoring/bulk/BulkMonitoringRequest.ts
Labels: specification, compiler, backport 7.x, backport 7.15

#774 Rename prerequisites to privileges
  compiler/model/metamodel.ts
  compiler/model/utils.ts
  docs/doc-comments-guide.md
  docs/modeling-guide.md
  output/schema/schema.json
  specification/cluster/state/ClusterStateRequest.ts
  specification/indices/create/IndicesCreateRequest.ts
  specification/ml/close_job/MlCloseJobRequest.ts
  specification/ml/put_data_frame_analytics/MlPutDataFrameAnalyticsRequest.ts
Labels: specification, compiler, backport 7.x

#766 Fix the 'indices.stats' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/stats/types.ts
Labels: specification, backport 7.x

#771 Fix indices.shard_stores request
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/shard_stores/IndicesShardStoresRequest.ts
  specification/indices/shard_stores/types.ts
Labels: specification, backport 7.x

#769 Fix Security.Get_User_Privileges
  output/schema/schema.json
  output/typescript/types.ts
  specification/security/_types/Privileges.ts
Labels: specification, backport 7.x, backport 7.15

#784 Update rest-api-spec
  output/schema/schema.json
  output/schema/validation-errors.json
  specification/_global/get_script_context/GetScriptContextRequest.ts
  specification/_global/get_script_languages/GetScriptLanguagesRequest.ts
  specification/_global/rank_eval/RankEvalRequest.ts
  specification/_global/terms_enum/TermsEnumRequest.ts
  specification/_json_spec/autoscaling.delete_autoscaling_policy.json
  specification/_json_spec/autoscaling.get_autoscaling_capacity.json
  specification/_json_spec/autoscaling.get_autoscaling_policy.json
  specification/_json_spec/autoscaling.put_autoscaling_policy.json
  specification/_json_spec/fleet.global_checkpoints.json
  specification/_json_spec/get_script_context.json
  specification/_json_spec/get_script_languages.json
  specification/_json_spec/indices.resolve_index.json
  specification/_json_spec/ml.get_trained_model_deployment_stats.json
  specification/_json_spec/monitoring.bulk.json
  specification/_json_spec/rank_eval.json
  specification/_json_spec/search_mvt.json
  specification/_json_spec/searchable_snapshots.mount.json
  specification/_json_spec/searchable_snapshots.stats.json
  specification/_json_spec/security.clear_cached_service_tokens.json
  specification/_json_spec/security.create_service_token.json
  specification/_json_spec/security.delete_service_token.json
  specification/_json_spec/security.get_service_accounts.json
  specification/_json_spec/security.get_service_credentials.json
  specification/_json_spec/shutdown.delete_node.json
  specification/_json_spec/shutdown.get_node.json
  specification/_json_spec/shutdown.put_node.json
  specification/_json_spec/terms_enum.json
  specification/indices/resolve_index/ResolveIndexRequest.ts
  specification/monitoring/bulk/BulkMonitoringRequest.ts
  specification/searchable_snapshots/mount/SearchableSnapshotsMountRequest.ts
  specification/searchable_snapshots/stats/SearchableSnapshotsStatsRequest.ts
  specification/security/clear_cached_service_tokens/ClearCachedServiceTokensRequest.ts
  specification/security/create_service_token/CreateServiceTokenRequest.ts
  specification/security/delete_service_token/DeleteServiceTokenRequest.ts
  specification/security/get_service_accounts/GetServiceAccountsRequest.ts
  specification/security/get_service_credentials/GetServiceCredentialsRequest.ts
  specification/shutdown/delete_node/ShutdownDeleteNodeRequest.ts
  specification/shutdown/get_node/ShutdownGetNodeRequest.ts
  specification/shutdown/put_node/ShutdownPutNodeRequest.ts
Labels: specification

#814 Fix shutdown.get_node
  output/schema/schema.json
  output/typescript/types.ts
  specification/shutdown/get_node/ShutdownGetNodeRequest.ts
Labels: specification, backport 7.x

#779 Refresh rank_eval and doc comments guide
  docs/doc-comments-guide.md
  output/schema/schema.json
  specification/_global/rank_eval/RankEvalRequest.ts
Labels: specification, backport 7.x

#767 Fix field_caps request
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/field_caps/FieldCapabilitiesRequest.ts
Labels: specification, backport 7.x, backport 7.15

#768 Fix msearch_template response
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/msearch_template/MultiSearchTemplateResponse.ts
  specification/_types/Base.ts
Labels: specification, backport 7.x, backport 7.15

#828 Fix async_search.submit
  output/schema/schema.json
  output/typescript/types.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
Labels: specification, backport 7.x

#831 Throw if the api can't have a body
  compiler/model/build-model.ts
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/indices/get_index_template/IndicesGetIndexTemplateRequest.ts
  specification/ml/get_calendar_events/MlGetCalendarEventsRequest.ts
Labels: specification, compiler, backport 7.x
