Repository elastic/elasticsearch-specification, pull requests merged in 2021-03, with the labels that each got.

#154 Finish search request validations
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common_options/geo/Distance.ts
  specification/specs/mapping/runtime_fields/RuntimeFields.ts
  specification/specs/query_dsl/compound/function_score/FunctionScoreQuery.ts
  specification/specs/query_dsl/compound/function_score/functions/ScoreFunction.ts
  specification/specs/query_dsl/span/SpanQuery.ts
  specification/specs/search/search/SearchRequest.ts
  specification/specs/search/search/highlighting/Highlight.ts
  specification/specs/search/search/rescoring/Rescore.ts
  specification/specs/search/search/rescoring/RescoreQuery.ts
  specification/specs/search/search/sort/NestedSort.ts
  specification/specs/search/search/sort/Sort.ts
Labels: specification

#150 Fix cat.thread_pool Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_thread_pool/CatThreadPoolRecord.ts
  specification/specs/cat/cat_thread_pool/CatThreadPoolRequest.ts
Labels: specification

#156 Validates cluster.stats
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/cluster_stats/ClusterIndicesShardsStats.ts
  specification/specs/cluster/cluster_stats/ClusterIndicesStats.ts
  specification/specs/cluster/cluster_stats/ClusterNodeCount.ts
  specification/specs/common_options/stats/PluginStats.ts
Labels: specification

#155 Validate several Watcher endpoints
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/x_pack/watcher/Watch.ts
  specification/specs/x_pack/watcher/acknowledge_watch/ActionStatus.ts
  specification/specs/x_pack/watcher/acknowledge_watch/ActivationState.ts
  specification/specs/x_pack/watcher/acknowledge_watch/WatchStatus.ts
  specification/specs/x_pack/watcher/action/Action.ts
  specification/specs/x_pack/watcher/action/slack/SlackAttachment.ts
  specification/specs/x_pack/watcher/action/slack/SlackMessage.ts
  specification/specs/x_pack/watcher/activate_watch/ActivationStatus.ts
  specification/specs/x_pack/watcher/condition/ConditionContainer.ts
  specification/specs/x_pack/watcher/condition/ScriptCondition.ts
  specification/specs/x_pack/watcher/execute_watch/ExecuteWatchResponse.ts
  specification/specs/x_pack/watcher/execute_watch/ExecutionResultAction.ts
  specification/specs/x_pack/watcher/execute_watch/WatchRecord.ts
  specification/specs/x_pack/watcher/execution/email/EmailActionResult.ts
  specification/specs/x_pack/watcher/execution/email/EmailResult.ts
  specification/specs/x_pack/watcher/execution/index/IndexActionResult.ts
  specification/specs/x_pack/watcher/execution/index/IndexActionResultIndexResponse.ts
  specification/specs/x_pack/watcher/execution/slack/SlackActionMessageResult.ts
  specification/specs/x_pack/watcher/execution/slack/SlackActionResult.ts
  specification/specs/x_pack/watcher/execution/webhook/WebhookActionResult.ts
  specification/specs/x_pack/watcher/get_watch/GetWatchResponse.ts
  specification/specs/x_pack/watcher/input/InputContainer.ts
  specification/specs/x_pack/watcher/schedule/ScheduleContainer.ts
  specification/specs/x_pack/watcher/schedule/ScheduleTriggerEvent.ts
Labels: specification

#157 Validates delete_by_query_rethrottle
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/task_management/list_tasks/ListTasksResponse.ts
  specification/specs/cluster/task_management/list_tasks/TaskState.ts
Labels: specification

#161 Add unsigned int and long
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
Labels: enhancement, specification

#163 Typescript generator lookupBehavior behavior
  docs/behaviors.md
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/CatBase.ts
  specification/specs/cat/cat_aliases/CatAliasesResponse.ts
  specification/specs/cat/cat_allocation/CatAllocationResponse.ts
  specification/specs/cat/cat_count/CatCountResponse.ts
  specification/specs/cat/cat_data_frame_analytics/CatDataFrameAnalyticsResponse.ts
  specification/specs/cat/cat_datafeeds/CatDatafeedsResponse.ts
  specification/specs/cat/cat_fielddata/CatFielddataRecord.ts
  specification/specs/cat/cat_fielddata/CatFielddataResponse.ts
  specification/specs/cat/cat_health/CatHealthResponse.ts
  specification/specs/cat/cat_help/CatHelpResponse.ts
  specification/specs/cat/cat_indices/CatIndicesResponse.ts
  specification/specs/cat/cat_jobs/CatJobsResponse.ts
  specification/specs/cat/cat_master/CatMasterResponse.ts
  specification/specs/cat/cat_node_attributes/CatNodeAttributesResponse.ts
  specification/specs/cat/cat_nodes/CatNodesResponse.ts
  specification/specs/cat/cat_pending_tasks/CatPendingTasksResponse.ts
  specification/specs/cat/cat_plugins/CatPluginsResponse.ts
  specification/specs/cat/cat_recovery/CatRecoveryResponse.ts
  specification/specs/cat/cat_repositories/CatRepositoriesResponse.ts
  specification/specs/cat/cat_segments/CatSegmentsResponse.ts
  specification/specs/cat/cat_shards/CatShardsResponse.ts
  specification/specs/cat/cat_snapshots/CatSnapshotsResponse.ts
  specification/specs/cat/cat_tasks/CatTasksResponse.ts
  specification/specs/cat/cat_templates/CatTemplatesResponse.ts
  specification/specs/cat/cat_thread_pool/CatThreadPoolResponse.ts
  specification/specs/cat/cat_trained_models/CatTrainedModelsResponse.ts
  specification/specs/cat/cat_transforms/CatTransformsResponse.ts
  typescript-generator/index.js
Labels: documentation, generator:typescript, specification

#165 Address Kibana feedback
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/aggregations/Aggregate.ts
  specification/specs/aggregations/bucket/date_range/DateRangeExpression.ts
  specification/specs/aggregations/metric/top_hits/TopHitsAggregation.ts
  specification/specs/cluster/nodes_usage/NodeUsageInformation.ts
  specification/specs/cluster/task_management/list_tasks/TaskStatus.ts
  specification/specs/document/multiple/multi_get/request/MultiGetRequest.ts
  specification/specs/document/multiple/reindex/ReindexSource.ts
  specification/specs/indices/mapping_management/put_mapping/PutMappingRequest.ts
  specification/specs/mapping/dynamic_template/DynamicTemplate.ts
  specification/specs/mapping/types/PropertyBase.ts
  specification/specs/mapping/types/complex/object/ObjectProperty.ts
  specification/specs/search/search/source_filtering/SourceFilter.ts
  specification/specs/x_pack/migration/deprecation_info/DeprecationInfoResponse.ts
  specification/specs/x_pack/security/privileges/has_privileges/HasPrivilegesResponse.ts
  specification/specs/x_pack/security/privileges/has_privileges/ResourcePrivileges.ts
  specification/specs/x_pack/security/user/get_user/XPackUser.ts
  specification/specs/x_pack/security/user/get_user_access_token/GetUserAccessTokenResponse.ts
Labels: specification

#168 Validate tasks.get Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/task_management/get_task/GetTaskResponse.ts
  specification/specs/cluster/task_management/get_task/TaskInfo.ts
  specification/specs/cluster/task_management/list_tasks/TaskStatus.ts
Labels: specification

#167 Improve Response of transform.update_transform
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/transform/TransformDestination.ts
  specification/specs/x_pack/transform/update_transform/UpdateTransformResponse.ts
Labels: specification

#166 Fix update_by_query Response
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/multiple/update_by_query/UpdateByQueryResponse.ts
Labels: specification

#164 Removes annotations and parses them explicitly
  output/schema/schema.json
  specification/compiler/compiler.ts
  specification/compiler/model/build-model.ts
  specification/compiler/model/metamodel.ts
  specification/compiler/model/utils.ts
  specification/specs/_json_spec/async_search.status.json
  specification/specs/aggregations/pipeline/moving_average/models/MovingAverageModel.ts
  specification/specs/common_options/date_math/DateMathTimeUnit.ts
  specification/specs/document/multiple/bulk/BulkResponse.ts
  specification/specs/document/multiple/multi_get/response/MultiGetResponse.ts
  specification/specs/document/single/create/CreateResponse.ts
  specification/specs/document/single/delete/DeleteResponse.ts
  specification/specs/document/single/get/GetResponse.ts
  specification/specs/document/single/index/IndexResponse.ts
  specification/specs/document/single/update/UpdateResponse.ts
  specification/specs/indices/index_management/clone_index/CloneIndexResponse.ts
  specification/specs/indices/index_management/freeze_index/FreezeIndexResponse.ts
  specification/specs/indices/monitoring/indices_stats/IndicesStatsResponse.ts
  specification/specs/search/search/rescoring/RescoreQuery.ts
  specification/specs/search/search/sort/SortOrder.ts
Labels: specification

#172 update git clean check and print the diff if its not
  .github/workflows/output-check.yml
  output/schema/schema.json
  specification/specs/search/search/source_filtering/SourceFilter.ts
Labels: specification

#173 Updated ML definitions
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/_json_spec/text_structure.find_structure.json
  specification/specs/cluster/cluster_settings/cluster_get_settings/ClusterGetSettingsResponse.ts
  specification/specs/indices/analyze/AnalyzeRequest.ts
  specification/specs/x_pack/info/x_pack_usage/DatafeedCount.ts
  specification/specs/x_pack/info/x_pack_usage/Job.ts
  specification/specs/x_pack/info/x_pack_usage/MachineLearningUsage.ts
  specification/specs/x_pack/machine_learning/datafeed/ChunkingConfig.ts
  specification/specs/x_pack/machine_learning/datafeed/Datafeed.ts
  specification/specs/x_pack/machine_learning/get_datafeeds/GetDatafeedsRequest.ts
  specification/specs/x_pack/machine_learning/get_datafeeds/GetDatafeedsResponse.ts
  specification/specs/x_pack/machine_learning/get_jobs/GetJobsRequest.ts
  specification/specs/x_pack/machine_learning/job/config/AnalysisConfig.ts
  specification/specs/x_pack/machine_learning/job/config/AnalysisLimits.ts
  specification/specs/x_pack/machine_learning/job/config/DataDescription.ts
  specification/specs/x_pack/machine_learning/job/config/JobStats.ts
  specification/specs/x_pack/machine_learning/job/config/ModelPlotConfig.ts
  specification/specs/x_pack/machine_learning/job/detectors/DetectionRule.ts
  specification/specs/x_pack/machine_learning/job/detectors/Detector.ts
  specification/specs/x_pack/machine_learning/job/process/DataCounts.ts
  specification/specs/x_pack/machine_learning/machine_learning_info/CategorizationAnalyzer.ts
  specification/specs/x_pack/machine_learning/machine_learning_info/Limits.ts
  specification/specs/x_pack/machine_learning/post_job_data/PostJobDataResponse.ts
  specification/specs/x_pack/machine_learning/put_datafeed/PutDatafeedRequest.ts
  specification/specs/x_pack/machine_learning/update_job/UpdateJobRequest.ts
  specification/specs/x_pack/text_structure/FindStructure.ts
Labels: specification

#175 Validated all cat.* Responses
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_aliases/CatAliasesRecord.ts
  specification/specs/cat/cat_allocation/CatAllocationRecord.ts
  specification/specs/cat/cat_indices/CatIndicesRecord.ts
  specification/specs/cat/cat_nodes/CatNodesRecord.ts
  specification/specs/cat/cat_plugins/CatPluginsRecord.ts
  specification/specs/cat/cat_recovery/CatRecoveryRecord.ts
  specification/specs/cat/cat_segments/CatSegmentsRecord.ts
  specification/specs/cat/cat_shards/CatShardsRecord.ts
  specification/specs/cat/cat_thread_pool/CatThreadPoolRecord.ts
Labels: specification

#176 Id should be a string
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
Labels: specification

#179 Added issue template
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/missing-type.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/wrong-type.md
Labels: documentation

#178 Fix indices.close response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/index_management/open_close_index/close_index/CloseIndexResponse.ts
  specification/specs/indices/index_management/open_close_index/close_index/CloseIndexResult.ts
Labels: specification

#177 Validate DeleteByQueryRethrottle response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/task_management/list_tasks/TaskStatus.ts
Labels: specification

#170 Validate tasks.list Req & Resp
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/task_management/get_task/TaskInfo.ts
  specification/specs/cluster/task_management/list_tasks/ListTasksRequest.ts
  specification/specs/cluster/task_management/list_tasks/ListTasksResponse.ts
  specification/specs/cluster/task_management/list_tasks/TaskState.ts
Labels: specification

#184 Validate license.get response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/license/get_license/LicenseInformation.ts
Labels: specification

#183 Fix indices.create request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/index_management/create_index/CreateIndexRequest.ts
  specification/specs/mapping/TypeMapping.ts
  specification/specs/mapping/meta_fields/source/SourceField.ts
Labels: specification

#181 Validate Enrich.* Responses
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/enrich/NamedPolicyConfig.ts
  specification/specs/x_pack/enrich/execute_policy/ExecuteEnrichPolicyResponse.ts
Labels: specification

#180 Validate async_search.status Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common_options/hit/ShardStatistics.ts
  specification/specs/x_pack/async_search/AsyncSearchResponseBase.ts
  specification/specs/x_pack/async_search/status/AsyncSearchStatusResponse.ts
Labels: specification

#185 fix/main/cat continued
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cat/cat_aliases/CatAliasesRecord.ts
  specification/specs/cat/cat_allocation/CatAllocationRecord.ts
  specification/specs/cat/cat_count/CatCountRecord.ts
  specification/specs/cat/cat_data_frame_analytics/CatDataFrameAnalyticsRecord.ts
  specification/specs/cat/cat_datafeeds/CatDatafeedsRecord.ts
  specification/specs/cat/cat_fielddata/CatFielddataRecord.ts
  specification/specs/cat/cat_health/CatHealthRecord.ts
  specification/specs/cat/cat_indices/CatIndicesRecord.ts
  specification/specs/cat/cat_jobs/CatJobsRecord.ts
  specification/specs/cat/cat_master/CatMasterRecord.ts
  specification/specs/cat/cat_node_attributes/CatNodeAttributesRecord.ts
  specification/specs/cat/cat_nodes/CatNodesRecord.ts
  specification/specs/cat/cat_nodes/CatNodesRequest.ts
  specification/specs/cat/cat_pending_tasks/CatPendingTasksRecord.ts
  specification/specs/cat/cat_plugins/CatPluginsRecord.ts
  specification/specs/cat/cat_recovery/CatRecoveryRecord.ts
  specification/specs/cat/cat_repositories/CatRepositoriesRecord.ts
  specification/specs/cat/cat_segments/CatSegmentsRecord.ts
  specification/specs/cat/cat_shards/CatShardsRecord.ts
  specification/specs/cat/cat_snapshots/CatSnapshotsRecord.ts
  specification/specs/cat/cat_tasks/CatTasksRecord.ts
  specification/specs/cat/cat_templates/CatTemplatesRecord.ts
  specification/specs/cat/cat_thread_pool/CatThreadPoolRecord.ts
  specification/specs/cat/cat_trained_models/CatTrainedModelsRecord.ts
  specification/specs/cat/cat_transforms/CatTransformsRecord.ts
  specification/specs/common.ts
  typescript-generator/index.js
Labels: documentation, generator:typescript, specification

#191 Fixed transform.get_transform_stats Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/transform/get_transform_stats/TransformCheckpointStats.ts
  specification/specs/x_pack/transform/get_transform_stats/TransformCheckpointingInfo.ts
  specification/specs/x_pack/transform/get_transform_stats/TransformStats.ts
Labels: specification

#190 Fix Tasks.cancel Req & Resp
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/task_management/cancel_tasks/CancelTasksRequest.ts
  specification/specs/cluster/task_management/cancel_tasks/CancelTasksResponse.ts
Labels: specification

#189 Validate Termvectors Req & Resp
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/single/term_vectors/TermVectorFilter.ts
  specification/specs/document/single/term_vectors/TermVectorTerm.ts
  specification/specs/document/single/term_vectors/TermVectorsResponse.ts
  specification/specs/document/single/term_vectors/Token.ts
Labels: specification

#187 Validated all Security.* enpoints
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/security/api_key/create_api_key/CreateApiKeyResponse.ts
  specification/specs/x_pack/security/api_key/get_api_key/ApiKeys.ts
  specification/specs/x_pack/security/authenticate/AuthenticateResponse.ts
  specification/specs/x_pack/security/clear_cached_realms/ClearCachedRealmsResponse.ts
  specification/specs/x_pack/security/privileges/put_privileges/PutPrivilegesRequest.ts
  specification/specs/x_pack/security/role/FieldSecurity.ts
  specification/specs/x_pack/security/role/clear_cached_roles/ClearCachedRolesResponse.ts
  specification/specs/x_pack/security/role/put_role/IndicesPrivileges.ts
  specification/specs/x_pack/security/role_mapping/put_role_mapping/PutRoleMappingResponse.ts
Labels: specification

#192 Additional ml fixes
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/machine_learning/job/config/AnalysisConfig.ts
  specification/specs/x_pack/machine_learning/job/config/JobStats.ts
  specification/specs/x_pack/machine_learning/job/config/ModelPlotConfig.ts
Labels: specification

#169 Add model validator
  output/schema/schema.json
  output/typescript/types.ts
  specification/compiler/index.ts
  specification/compiler/model/metamodel.ts
  specification/compiler/steps/validate-model.ts
  specification/compiler/steps/validate-rest-spec.ts
Labels: compiler, discuss

#196 Add error response back
  .github/auto-label.json
  output/schema/schema.json
  output/typescript/types.ts
  specification/compiler/steps/validate-model.ts
Labels: compiler

#201 Fix Reindex Req & Resp
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/multiple/reindex/ReindexResponse.ts
  specification/specs/query_dsl/term_level/ids/IdsQuery.ts
Labels: specification

#200 Fixed License.* endpoints
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/license/get_license/License.ts
  specification/specs/x_pack/license/post_license/PostLicenseRequest.ts
  specification/specs/x_pack/license/post_license/PostLicenseResponse.ts
  specification/specs/x_pack/license/start_trial_license/StartTrialLicenseResponse.ts
Labels: specification

#198 fixed clear_scroll request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/search/scroll/clear_scroll/ClearScrollRequest.ts
Labels: specification

#188 Fix ssl.certificates response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/ssl/get_certificates/ClusterCertificateInformation.ts
  specification/specs/x_pack/ssl/get_certificates/GetCertificatesResponse.ts
Labels: specification

#199 Fix Async.* endpoints
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/search/search/point_in_time/PointInTimeReference.ts
  specification/specs/x_pack/async_search/AsyncSearch.ts
  specification/specs/x_pack/async_search/AsyncSearchResponseBase.ts
  specification/specs/x_pack/async_search/get/AsyncSearchGetRequest.ts
  specification/specs/x_pack/async_search/submit/AsyncSearchSubmitRequest.ts
Labels: specification

#193 Fix & Improvements to Indices.* enpoints
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/index_management/rollover_index/RolloverConditions.ts
  specification/specs/indices/index_management/rollover_index/RolloverIndexRequest.ts
  specification/specs/indices/index_management/shrink_index/ShrinkIndexResponse.ts
  specification/specs/indices/index_settings/index_templates/put_index_template/PutIndexTemplateRequest.ts
  specification/specs/indices/index_settings/update_index_settings/UpdateIndexSettingsRequest.ts
  specification/specs/indices/monitoring/indices_shard_stores/IndicesShardStores.ts
  specification/specs/indices/monitoring/indices_shard_stores/IndicesShardStoresRequest.ts
  specification/specs/indices/monitoring/indices_shard_stores/IndicesShardStoresResponse.ts
  specification/specs/indices/monitoring/indices_shard_stores/ShardStore.ts
Labels: specification

#204 Validate Sql.* Endpoints
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/x_pack/sql/query_sql/QuerySqlResponse.ts
  specification/specs/x_pack/sql/translate_sql/TranslateSqlResponse.ts
Labels: specification

#205 Fix slm.get_lifecycle Response
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/info/x_pack_usage/SnapshotLifecycleStats.ts
  specification/specs/x_pack/slm/SnapshotLifecycleConfig.ts
  specification/specs/x_pack/slm/SnapshotLifecyclePolicyMetadata.ts
  specification/specs/x_pack/slm/get_lifecycle/GetSnapshotLifecycleResponse.ts
Labels: specification

#207 Fix slm.get_stats Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/slm/get_stats/GetSnapshotLifecycleStatsResponse.ts
Labels: specification

#211 Fix cluster.get_settings Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/cluster_settings/cluster_get_settings/ClusterGetSettingsResponse.ts
Labels: specification

#202 Write validation errors to a json file
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/compiler/compiler.ts
  specification/compiler/steps/validate-model.ts
  specification/compiler/steps/validate-rest-spec.ts
  specification/compiler/validation-errors.ts
Labels: compiler, enhancement

#215 Point in Time Endpoints
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/pit/ClosePointInTimeRequest.ts
  specification/specs/x_pack/pit/ClosePointInTimeResponse.ts
  specification/specs/x_pack/pit/OpenPointInTimeRequest.ts
  specification/specs/x_pack/pit/OpenPointInTimeResponse.ts
Labels: specification

#218 Fix Snapshot.get Response
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/modules/snapshot_and_restore/snapshot/SnapshotInfo.ts
  specification/specs/modules/snapshot_and_restore/snapshot/snapshot_status/SnapshotStatus.ts
Labels: specification

#222 Validate Mget Response
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/document/multiple/multi_get/MultiGetRequest.ts
  specification/specs/document/multiple/multi_get/MultiGetResponse.ts
Labels: specification

#219 Add snapshot.clone Endpoint
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/modules/snapshot_and_restore/snapshot/clone_snapshot/CloneSnapshotRequest.ts
  specification/specs/modules/snapshot_and_restore/snapshot/clone_snapshot/CloneSnapshotResponse.ts
Labels: specification

#220 Added missing Security endpoints
  Makefile
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/x_pack/security/api_key/clear_api_key_cache/ClearApiKeyCacheRequest.ts
  specification/specs/x_pack/security/api_key/clear_api_key_cache/ClearApiKeyCacheResponse.ts
  specification/specs/x_pack/security/api_key/grant_api_key/GrantApiKeyRequest.ts
  specification/specs/x_pack/security/api_key/grant_api_key/GrantApiKeyResponse.ts
Labels: specification

#221 Add missing endpoint stubs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/cluster/cluster_delete_component_template/ClusterDeleteComponentTemplateRequest.ts
  specification/specs/cluster/cluster_delete_component_template/ClusterDeleteComponentTemplateResponse.ts
  specification/specs/cluster/cluster_delete_voting_config_exclusions/ClusterDeleteVotingConfigExclusionsRequest.ts
  specification/specs/cluster/cluster_delete_voting_config_exclusions/ClusterDeleteVotingConfigExclusionsResponse.ts
  specification/specs/cluster/cluster_exists_component_template/ClusterComponentTemplateExistsRequest.ts
  specification/specs/cluster/cluster_exists_component_template/ClusterComponentTemplateExistsResponse.ts
  specification/specs/cluster/cluster_get_component_template/ClusterGetComponentTemplateRequest.ts
  specification/specs/cluster/cluster_get_component_template/ClusterGetComponentTemplateResponse.ts
  specification/specs/cluster/cluster_put_component_template/ClusterPutComponentTemplateRequest.ts
  specification/specs/cluster/cluster_put_component_template/ClusterPutComponentTemplateResponse.ts
  specification/specs/cluster/cluster_put_voting_config_exclusions/ClusterPostVotingConfigExclusionsRequest.ts
  specification/specs/cluster/cluster_put_voting_config_exclusions/ClusterPostVotingConfigExclusionsResponse.ts
  specification/specs/dangling_indices/index_delete/DeleteDanglingIndexRequest.ts
  specification/specs/dangling_indices/index_delete/DeleteDanglingIndexResponse.ts
  specification/specs/dangling_indices/index_import/ImportDanglingIndexRequest.ts
  specification/specs/dangling_indices/index_import/ImportDanglingIndexResponse.ts
  specification/specs/dangling_indices/indices_list/ListDanglingIndicesRequest.ts
  specification/specs/dangling_indices/indices_list/ListDanglingIndicesResponse.ts
  specification/specs/features/GetFeaturesRequest.ts
  specification/specs/features/GetFeaturesResponse.ts
  specification/specs/logstash/pipeline_delete/LogstashDeletePipelineRequest.ts
  specification/specs/logstash/pipeline_delete/LogstashDeletePipelineResponse.ts
  specification/specs/logstash/pipeline_get/LogstashGetPipelineRequest.ts
  specification/specs/logstash/pipeline_get/LogstashGetPipelineResponse.ts
  specification/specs/logstash/pipeline_put/LogstashPutPipelineRequest.ts
  specification/specs/logstash/pipeline_put/LogstashPutPipelineResponse.ts
  specification/specs/x_pack/autoscaling/capacity_get/GetAutoscalingCapacityRequest.ts
  specification/specs/x_pack/autoscaling/capacity_get/GetAutoscalingCapacityResponse.ts
  specification/specs/x_pack/autoscaling/policy_delete/DeleteAutoscalingPolicyRequest.ts
  specification/specs/x_pack/autoscaling/policy_delete/DeleteAutoscalingPolicyResponse.ts
  specification/specs/x_pack/autoscaling/policy_get/GetAutoscalingPolicyRequest.ts
  specification/specs/x_pack/autoscaling/policy_get/GetAutoscalingPolicyResponse.ts
  specification/specs/x_pack/autoscaling/policy_put/PutAutoscalingPolicyRequest.ts
  specification/specs/x_pack/autoscaling/policy_put/PutAutoscalingPolicyResponse.ts
  specification/specs/x_pack/eql/delete/EqlDeleteRequest.ts
  specification/specs/x_pack/eql/delete/EqlDeleteResponse.ts
  specification/specs/x_pack/eql/get/EqlGetRequest.ts
  specification/specs/x_pack/eql/get/EqlGetResponse.ts
  specification/specs/x_pack/eql/get_status/EqlGetStatusRequest.ts
  specification/specs/x_pack/eql/get_status/EqlGetStatusResponse.ts
  specification/specs/x_pack/eql/search/EqlSearchRequest.ts
  specification/specs/x_pack/eql/search/EqlSearchResponse.ts
  specification/specs/x_pack/monitoring/BulkMonitoringRequest.ts
  specification/specs/x_pack/monitoring/BulkMonitoringResponse.ts
  specification/specs/x_pack/roll_up/rollup/RollupRequest.ts
  specification/specs/x_pack/roll_up/rollup/RollupResponse.ts
  specification/specs/x_pack/watcher/query_watch/QueryWatchesRequest.ts
  specification/specs/x_pack/watcher/query_watch/QueryWatchesResponse.ts
Labels: specification

#227 Create a TODO type if the request or response contains stubs
  typescript-generator/client.js
Labels: generator:typescript

#229 Update ClearApiKeyCacheRequest
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/security/api_key/clear_api_key_cache/ClearApiKeyCacheRequest.ts
Labels: specification

#230 Remove filter_path from EQL Search
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/eql/search/EqlSearchRequest.ts
Labels: specification

#231 Updated FAQ
  README.md
Labels: documentation

#233 Switch to aliases
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
Labels: specification

#232 Address feedback from Kibana
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/aggregations/bucket/date_range/DateRangeExpression.ts
  specification/specs/cluster/task_management/get_task/GetTaskResponse.ts
  specification/specs/cluster/task_management/list_tasks/ListTasksRequest.ts
  specification/specs/common_options/range/AggregationRange.ts
  specification/specs/document/multiple/delete_by_query/DeleteByQueryRequest.ts
  specification/specs/document/single/WriteResponseBase.ts
  specification/specs/indices/index_settings/index_templates/get_index_template/TemplateMapping.ts
  specification/specs/indices/mapping_management/put_mapping/PutMappingRequest.ts
  specification/specs/mapping/DynamicMapping.ts
  specification/specs/mapping/types/CoreProperty.ts
  specification/specs/mapping/types/DocValuesProperty.ts
  specification/specs/mapping/types/Property.ts
  specification/specs/mapping/types/core/range/RangePropertyBase.ts
  specification/specs/mapping/types/geo/geo_shape/GeoOrientation.ts
  specification/specs/mapping/types/specialized/constant_keyword/ConstantKeywordProperty.ts
  specification/specs/modules/scripting/StoredScript.ts
  specification/specs/x_pack/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/specs/x_pack/ilm/Policy.ts
  specification/specs/x_pack/pit/OpenPointInTimeRequest.ts
  specification/specs/x_pack/security/api_key/grant_api_key/GrantApiKeyRequest.ts
  specification/specs/x_pack/security/role/get_role/XPackRole.ts
  specification/specs/x_pack/security/role/put_role/PutRoleRequest.ts
  specification/specs/x_pack/transform/pivot/TransformPivot.ts
Labels: specification

#248 Fix cluster.get_component_template Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/cluster_get_component_template/ClusterGetComponentTemplateRequest.ts
Labels: specification

#245 Fix ccr.follow_info Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/cross_cluster_replication/follow/follow_info/FollowerInfo.ts
Labels: specification

#244 Fix ccr.follow_stats Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/cross_cluster_replication/follow/follow_index_stats/FollowIndexShardStats.ts
  specification/specs/x_pack/cross_cluster_replication/follow/follow_index_stats/FollowIndexStats.ts
Labels: specification

#243 Validate ccr.follow request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/cross_cluster_replication/follow/create_follow_index/CreateFollowIndexRequest.ts
Labels: specification

#247 Validate cluster.delete_component_template Endpoint
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/cluster_delete_component_template/ClusterDeleteComponentTemplateRequest.ts
  specification/specs/cluster/cluster_delete_component_template/ClusterDeleteComponentTemplateResponse.ts
Labels: specification

#242 Validated watcher.stats Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/watcher/watcher_stats/WatcherNodeStats.ts
Labels: specification

#241 Validated xpack.usage Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/info/x_pack_usage/SearchableSnapshotsUsage.ts
  specification/specs/x_pack/info/x_pack_usage/VectorUsage.ts
  specification/specs/x_pack/info/x_pack_usage/XPackUsageResponse.ts
Labels: specification

#239 Validated termvectors Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/document/single/term_vectors/TermVectorsResponse.ts
Labels: specification

#238 Validate security.get_role Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/security/role/get_role/XPackRole.ts
Labels: specification

#236 Validate graph.explore Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/graph/explore/request/GraphExploreControls.ts
Labels: specification

#240 Validated transform.get_transform Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/transform/get_transform/GetTransformRequest.ts
Labels: specification

#235 Validate eql.search Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/eql/EqlHits.ts
Labels: specification

#237 Add missing searchable snapshot Endpoints
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/x_pack/searchable_snapshots/clear_cache/SearchableSnapshotsClearCacheRequest.ts
  specification/specs/x_pack/searchable_snapshots/clear_cache/SearchableSnapshotsClearCacheResponse.ts
  specification/specs/x_pack/searchable_snapshots/mount/SearchableSnapshotsMountRequest.ts
  specification/specs/x_pack/searchable_snapshots/mount/SearchableSnapshotsMountResponse.ts
  specification/specs/x_pack/searchable_snapshots/repository_stats/SearchableSnapshotsRepositoryStatsRequest.ts
  specification/specs/x_pack/searchable_snapshots/repository_stats/SearchableSnapshotsRepositoryStatsResponse.ts
  specification/specs/x_pack/searchable_snapshots/stats/SearchableSnapshotsStatsRequest.ts
  specification/specs/x_pack/searchable_snapshots/stats/SearchableSnapshotsStatsResponse.ts
Labels: compiler, documentation, generator:typescript, specification

#253 Validate ilm.explain_lifecycle Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/ilm/explain_lifecycle/LifecycleExplain.ts
Labels: specification

#254 Validated indices.close Request
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/indices/index_management/open_close_index/close_index/CloseIndexRequest.ts
Labels: specification

#249 Removed use of Union in favor of TypeScript unions
  output/schema/schema.json
  specification/compiler/model/utils.ts
  specification/specs/aggregations/bucket/filters/FiltersAggregation.ts
  specification/specs/common.ts
  specification/specs/common_abstractions/union/Union.ts
  specification/specs/document/multiple/bulk/BulkRequest.ts
  specification/specs/document/single/get/GetRequest.ts
  specification/specs/document/single/update/UpdateRequest.ts
  specification/specs/query_dsl/abstractions/container/QueryContainer.ts
  specification/specs/query_dsl/specialized/distance_feature/DistanceFeatureQuery.ts
  specification/specs/search/search/highlighting/HighlightField.ts
  specification/specs/search/search/inner_hits/InnerHits.ts
  specification/specs/search/suggesters/context_suggester/SuggestContextQuery.ts
  specification/specs/x_pack/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/specs/x_pack/watcher/schedule/DailySchedule.ts
  specification/specs/x_pack/watcher/schedule/ScheduleTriggerEvent.ts
  typescript-generator/index.js
Labels: compiler, generator:typescript, specification

#255 Validate nodes.reload_secure_settings Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/reload_secure_settings/NodeReloadException.ts
  specification/specs/cluster/reload_secure_settings/ReloadSecureSettingsResponse.ts
Labels: specification

#246 Fix ccr.get_auto_follow_pattern response
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/x_pack/cross_cluster_replication/auto_follow/get_auto_follow_pattern/AutoFollowPattern.ts
Labels: specification

#257 Consolidate WaitForActiveShards type
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/document/multiple/bulk/BulkRequest.ts
  specification/specs/document/multiple/delete_by_query/DeleteByQueryRequest.ts
  specification/specs/document/multiple/reindex/ReindexRequest.ts
  specification/specs/document/multiple/update_by_query/UpdateByQueryRequest.ts
  specification/specs/document/single/create/CreateRequest.ts
  specification/specs/document/single/delete/DeleteRequest.ts
  specification/specs/document/single/index/IndexRequest.ts
  specification/specs/document/single/update/UpdateRequest.ts
  specification/specs/indices/index_management/clone_index/CloneIndexRequest.ts
  specification/specs/indices/index_management/create_index/CreateIndexRequest.ts
  specification/specs/indices/index_management/freeze_index/FreezeIndexRequest.ts
  specification/specs/indices/index_management/open_close_index/open_index/OpenIndexRequest.ts
  specification/specs/indices/index_management/rollover_index/RolloverIndexRequest.ts
  specification/specs/indices/index_management/shrink_index/ShrinkIndexRequest.ts
  specification/specs/indices/index_management/split_index/SplitIndexRequest.ts
  specification/specs/x_pack/cross_cluster_replication/follow/create_follow_index/CreateFollowIndexRequest.ts
Labels: specification

#263 Remove duplicate properties which appear on base types
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/mapping/types/complex/flattened/FlattenedProperty.ts
  specification/specs/mapping/types/core/keyword/KeywordProperty.ts
  specification/specs/mapping/types/core/range/RangeProperty.ts
  specification/specs/mapping/types/specialized/generic/GenericProperty.ts
  specification/specs/x_pack/watcher/watcher_stats/WatchRecordStats.ts
Labels: specification

#262 Fix typo in class name
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/cluster/cluster_stats/ClusterOperatingSystemStats.ts
  specification/specs/cluster/nodes_info/ClusterOperatingSystemPrettyName.ts
Labels: specification

#261 Validate and add indices.add_block API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/indices/index_management/add_block/IndexAddBlockRequest.ts
  specification/specs/indices/index_management/add_block/IndexAddBlockResponse.ts
  specification/specs/indices/index_management/add_block/IndexBlockOptions.ts
  specification/specs/indices/index_management/add_block/IndexBlockStatus.ts
Labels: specification

#266 Remove unused types
  output/dangling-types/dangling.csv
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/search/explain/ExplainResponse.ts
Labels: specification

#259 Add Indices.data streams Endpoints
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/x_pack/data_streams/create_data_stream/IndicesCreateDataStreamRequest.ts
  specification/specs/x_pack/data_streams/create_data_stream/IndicesCreateDataStreamResponse.ts
  specification/specs/x_pack/data_streams/data_streams_stats/IndicesDataStreamsStatsRequest.ts
  specification/specs/x_pack/data_streams/data_streams_stats/IndicesDataStreamsStatsResponse.ts
  specification/specs/x_pack/data_streams/delete_data_stream/IndicesDeleteDataStreamRequest.ts
  specification/specs/x_pack/data_streams/delete_data_stream/IndicesDeleteDataStreamResponse.ts
  specification/specs/x_pack/data_streams/get_data_stream/IndicesGetDataStreamRequest.ts
  specification/specs/x_pack/data_streams/get_data_stream/IndicesGetDataStreamResponse.ts
  specification/specs/x_pack/data_streams/migrate_to_data_stream/IndicesMigrateToDataStreamRequest.ts
  specification/specs/x_pack/data_streams/migrate_to_data_stream/IndicesMigrateToDataStreamResponse.ts
  specification/specs/x_pack/data_streams/promote_data_stream/IndicesPromoteDataStreamRequest.ts
  specification/specs/x_pack/data_streams/promote_data_stream/IndicesPromoteDataStreamResponse.ts
Labels: specification

#268 Introduce SequenceNumber type
  output/schema/schema.json
  output/typescript/types.ts
  specification/specs/common.ts
  specification/specs/document/multiple/bulk/bulk_response_item/BulkResponseItemBase.ts
  specification/specs/document/multiple/multi_get/MultiGetResponse.ts
  specification/specs/document/single/WriteResponseBase.ts
  specification/specs/document/single/delete/DeleteRequest.ts
  specification/specs/document/single/get/GetResponse.ts
  specification/specs/document/single/index/IndexRequest.ts
  specification/specs/document/single/update/UpdateRequest.ts
  specification/specs/indices/monitoring/indices_stats/ShardLease.ts
  specification/specs/indices/monitoring/indices_stats/ShardSequenceNumber.ts
  specification/specs/search/explain/InlineGet.ts
  specification/specs/search/search/hits/Hit.ts
  specification/specs/search/search/hits/HitMetadata.ts
  specification/specs/search/search/inner_hits/InnerHits.ts
  specification/specs/x_pack/cross_cluster_replication/follow/follow_index_stats/FollowIndexReadException.ts
  specification/specs/x_pack/cross_cluster_replication/follow/follow_index_stats/FollowIndexShardStats.ts
  specification/specs/x_pack/watcher/get_watch/GetWatchResponse.ts
  specification/specs/x_pack/watcher/put_watch/PutWatchResponse.ts
Labels: specification

#260 Update the metamodel with cleanups and consistency improvements
  output/schema/schema.json
  specification/compiler/model/build-model.ts
  specification/compiler/model/metamodel.ts
  specification/compiler/model/utils.ts
  specification/compiler/steps/validate-model.ts
  specification/specs/common_options/minimum_should_match/MinimumShouldMatch.ts
  specification/specs/query_dsl/specialized/more_like_this/like/Like.ts
  specification/specs/search/suggesters/context_suggester/Context.ts
  typescript-generator/index.js
Labels: compiler, enhancement, specification
