Repository elastic/elasticsearch-specification, pull requests merged in 2021-10, with the labels that each got.

#772 Fix search request
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/search/SearchRequest.ts
  specification/_global/search/_types/profile.ts
  specification/_types/Errors.ts
  specification/_types/aggregations/AggregationContainer.ts
  specification/_types/aggregations/bucket.ts
  specification/_types/aggregations/pipeline.ts
  specification/_types/query_dsl/abstractions.ts
  specification/_types/query_dsl/specialized.ts
  specification/_types/query_dsl/term.ts
Labels: specification, backport 7.x, backport 7.15

#839 Add centroid to search_mvt grid type
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/search_mvt/_types/GridType.ts
Labels: specification, backport 7.x

#842 Fixed errors in xpack.usage
  output/schema/schema.json
  output/typescript/types.ts
  specification/ilm/_types/Phase.ts
  specification/xpack/usage/XPackUsageResponse.ts
  specification/xpack/usage/types.ts
Labels: specification, backport 7.x

#861 Add @aliases support to enum members
  compiler/model/metamodel.ts
  compiler/model/utils.ts
  docs/modeling-guide.md
  typescript-generator/index.ts
Labels: compiler, generator:typescript, backport 7.x, backport 7.15

#875 Simplify ErrorCause definition (#868)
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/mget/types.ts
  specification/_types/Base.ts
  specification/_types/Errors.ts
Labels: specification, backport 7.15

#877 Fix normalizer definition in index settings
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/analysis/normalizers.ts
  specification/indices/_types/IndexSettings.ts
Labels: specification, backport 7.x, backport 7.15

#882 [7.x] Updates the spec for ML delete datafeed API
  output/schema/schema.json
  specification/ml/delete_datafeed/MlDeleteDatafeedRequest.ts
Labels: specification

#883 [7.x] [ML] Update the spec for delete expired data API
  output/schema/schema.json
  specification/ml/delete_expired_data/MlDeleteExpiredDataRequest.ts
Labels: specification

#889 Fix SingleKeyDictionary TypeScript generation
  output/typescript/types.ts
  typescript-generator/index.ts
Labels: generator:typescript, backport 7.x

#908 Fine tuning and minor fixes
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_types/Errors.ts
  specification/_types/mapping/meta-fields.ts
  specification/nodes/_types/Stats.ts
Labels: specification, backport 7.x

#910 Fine tuning and minor fixes
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_types/Errors.ts
  specification/_types/mapping/meta-fields.ts
  specification/nodes/_types/Stats.ts
Labels: specification

#914 Declare the get_source api without extending from another get
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/get_source/SourceRequest.ts
Labels: specification, backport 7.x

#912 Add missing executing property on PendingTask
  output/schema/schema.json
  output/typescript/types.ts
  specification/cluster/pending_tasks/types.ts
Labels: specification, backport 7.x

#927 Add missing (deprecated) `type` query parameter
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/get_source/SourceRequest.ts
Labels: specification

#929 Fix indices.get_data_stream response
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/_types/DataStreamStatus.ts
Labels: specification, backport 7.x, backport 7.15, backport 7.16
