Repository elastic/elasticsearch-specification, pull requests merged in 2021-08, with the labels that each got.

#516 Validate 'ml.preview_datafeed' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/preview_datafeed/MlPreviewDatafeedRequest.ts
  specification/ml/preview_datafeed/MlPreviewDatafeedResponse.ts
Labels: specification

#524 Add 'ml.reset_job' API and 'MlJob.blocked'
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/Job.ts
  specification/ml/reset_job/MlResetJobRequest.ts
  specification/ml/reset_job/MlResetJobResponse.ts
Labels: specification

#534 Remove ML system_annotations_retention_days setting
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Job.ts
  specification/ml/put_job/MlPutJobRequest.ts
  specification/ml/put_job/MlPutJobResponse.ts
  specification/ml/update_job/MlUpdateJobRequest.ts
Labels: specification, backport-7.x

#535 [ML] Add 'model_prune_window' field to AD job config
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Analysis.ts
Labels: specification, backport-7.x

#536 Make search_after type the same as Hit.sort
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/search/SearchRequest.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
Labels: specification, backport-7.x

#539 [DOCS] Add param descriptions to create snapshot API spec
  output/schema/schema.json
  output/typescript/types.ts
  specification/snapshot/create/SnapshotCreateRequest.ts
Labels: specification, backport-7.x

#541 Revert ML types changes
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/Analysis.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/_types/Detector.ts
  specification/ml/_types/Job.ts
  specification/ml/_types/Model.ts
  specification/ml/_types/Settings.ts
  specification/ml/estimate_model_memory/MlEstimateModelMemoryRequest.ts
  specification/ml/get_datafeed_stats/MlGetDatafeedStatsRequest.ts
  specification/ml/get_job_stats/MlGetJobStatsRequest.ts
  specification/ml/get_jobs/MlGetJobsRequest.ts
  specification/ml/get_model_snapshots/MlGetModelSnapshotsRequest.ts
  specification/ml/open_job/MlOpenJobRequest.ts
  specification/ml/open_job/MlOpenJobResponse.ts
  specification/ml/post_data/types.ts
  specification/ml/post_job_data/MlPostJobDataRequest.ts
  specification/ml/post_job_data/MlPostJobDataResponse.ts
  specification/ml/preview_datafeed/MlPreviewDatafeedRequest.ts
  specification/ml/preview_datafeed/MlPreviewDatafeedResponse.ts
  specification/ml/put_calendar/MlPutCalendarRequest.ts
  specification/ml/put_calendar/MlPutCalendarResponse.ts
  specification/ml/put_datafeed/MlPutDatafeedRequest.ts
  specification/ml/put_datafeed/MlPutDatafeedResponse.ts
  specification/ml/put_filter/MlPutFilterRequest.ts
  specification/ml/put_filter/MlPutFilterResponse.ts
  specification/ml/revert_model_snapshot/MlRevertModelSnapshotRequest.ts
  specification/ml/start_data_frame_analytics/MlStartDataFrameAnalyticsRequest.ts
  specification/ml/update_job/MlUpdateJobRequest.ts
  specification/ml/update_job/MlUpdateJobResponse.ts
Labels: specification, backport-7.x

#537 [DOCS] Add param descriptions to create pipeline API spec
  output/schema/schema.json
  output/typescript/types.ts
  specification/ingest/put_pipeline/PutPipelineRequest.ts
Labels: specification, backport-7.x

#542 [DOCS] Add ApplicationPrivileges param descs
  output/schema/schema.json
  specification/security/_types/ApplicationPrivileges.ts
Labels: specification, backport-7.x

#547 Rename 'source_enabled' to '_source', prefix '_'
  output/schema/schema.json
  output/typescript/types.ts
  specification/_global/exists/DocumentExistsRequest.ts
  specification/_global/exists_source/SourceExistsRequest.ts
  specification/_global/get/GetRequest.ts
  specification/_global/update_by_query/UpdateByQueryRequest.ts
Labels: specification

#543 Script lang can be a custom string
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/Scripting.ts
Labels: specification

#538 [ML] Adds description to the DELETE DFA API spec
  output/schema/schema.json
  specification/ml/delete_data_frame_analytics/MlDeleteDataFrameAnalyticsRequest.ts
Labels: specification, ml

#540 Adds descriptions for create data frame analytics job API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/DataframeAnalytics.ts
  specification/ml/put_data_frame_analytics/MlPutDataFrameAnalyticsRequest.ts
Labels: specification, backport 7.x

#548 [ML] Changes model_prune_window description
  output/schema/schema.json
  specification/ml/_types/Analysis.ts
Labels: specification, backport 7.x, ml

#550 [DOCS] Update put role API params
  output/schema/schema.json
  specification/security/put_role/SecurityPutRoleRequest.ts
Labels: specification, backport 7.x

#552 Add keyed property where it was missing in aggregations
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/aggregations/bucket.ts
  specification/_types/aggregations/pipeline.ts
Labels: specification

#554 [DOCS] Document parameters for the 'search' API
  output/schema/schema.json
  specification/_global/search/SearchRequest.ts
Labels: specification, backport 7.x

#553 Avoid line breaks in descriptions and validate doc_url
  compiler/model/utils.ts
  output/schema/schema.json
Labels: compiler, backport 7.x

#559 [DOCS] Update security indices
  output/schema/schema.json
  specification/security/_types/IndicesPrivileges.ts
Labels: specification, backport 7.x

#558 [ML] Fixes model_prune_window description
  output/schema/schema.json
  specification/ml/_types/Analysis.ts
Labels: specification, backport 7.x, ml

#561 Fix cat.ml_trained_models Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/cat/ml_trained_models/types.ts
Labels: specification

#564 Fix cluster.allocation_explain Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/cluster/allocation_explain/ClusterAllocationExplainResponse.ts
Labels: specification, backport 7.x

#571 Improve Watcher Requests
  output/schema/schema.json
  output/typescript/types.ts
  specification/watcher/_types/Action.ts
  specification/watcher/_types/Actions.ts
  specification/watcher/_types/Input.ts
  specification/watcher/stats/WatcherStatsRequest.ts
Labels: specification

#567 Fix Security Responses
  output/schema/schema.json
  output/typescript/types.ts
  specification/security/_types/GlobalPrivilege.ts
  specification/security/_types/GlobalPrivileges.ts
  specification/security/get_service_accounts/types.ts
  specification/security/get_service_credentials/GetServiceCredentialsRequest.ts
  specification/security/get_service_credentials/GetServiceCredentialsResponse.ts
  specification/security/get_service_credentials/types.ts
  specification/security/get_user_privileges/SecurityGetUserPrivilegesResponse.ts
Labels: specification, backport 7.x

#584 Fix types for cluster.exists_component_template
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/cluster/exists_component_template/ClusterComponentTemplateExistsRequest.ts
  specification/cluster/exists_component_template/ClusterComponentTemplateExistsResponse.ts
Labels: specification, backport 7.x

#579 Fix indices.recovery Response
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/recovery/types.ts
Labels: specification, backport 7.x

#585 Adds dangling_indices Responses and Requests
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/dangling_indices/delete_dangling_index/DeleteDanglingIndexRequest.ts
  specification/dangling_indices/delete_dangling_index/DeleteDanglingIndexResponse.ts
  specification/dangling_indices/import_dangling_index/ImportDanglingIndexRequest.ts
  specification/dangling_indices/import_dangling_index/ImportDanglingIndexResponse.ts
  specification/dangling_indices/list_dangling_indices/ListDanglingIndicesRequest.ts
  specification/dangling_indices/list_dangling_indices/ListDanglingIndicesResponse.ts
Labels: specification, backport 7.x

#560 Add value body identifier
  compiler/model/build-model.ts
  compiler/model/metamodel.ts
  docs/modeling-guide.md
  output/schema/schema.json
  specification/_global/bulk/BulkRequest.ts
  specification/_global/create/CreateRequest.ts
  specification/_global/index/IndexRequest.ts
  specification/_global/msearch/MultiSearchRequest.ts
  specification/_global/msearch_template/MultiSearchTemplateRequest.ts
  specification/text_structure/find_structure/FindStructureRequest.ts
Labels: specification, compiler, backport 7.x

#593 Fix types for cluster.post_voting_config_exclusions
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/cluster/post_voting_config_exclusions/ClusterPostVotingConfigExclusionsRequest.ts
  specification/cluster/post_voting_config_exclusions/ClusterPostVotingConfigExclusionsResponse.ts
Labels: specification, backport 7.x

#581 Fix cluster.delete_voting_config_exclusions API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/cluster/delete_voting_config_exclusions/ClusterDeleteVotingConfigExclusionsRequest.ts
  specification/cluster/delete_voting_config_exclusions/ClusterDeleteVotingConfigExclusionsResponse.ts
Labels: specification, backport 7.x

#586 Fix ilm stubbed classes
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ilm/start/StartIlmRequest.ts
  specification/ilm/stop/StopIlmRequest.ts
Labels: specification, backport 7.x

#591 Fix autoscaling APIs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/autoscaling/delete_autoscaling_policy/DeleteAutoscalingPolicyRequest.ts
  specification/autoscaling/delete_autoscaling_policy/DeleteAutoscalingPolicyResponse.ts
  specification/autoscaling/get_autoscaling_capacity/GetAutoscalingCapacityRequest.ts
  specification/autoscaling/get_autoscaling_capacity/GetAutoscalingCapacityResponse.ts
  specification/autoscaling/get_autoscaling_policy/GetAutoscalingPolicyRequest.ts
  specification/autoscaling/get_autoscaling_policy/GetAutoscalingPolicyResponse.ts
Labels: specification, backport 7.x

#592 Add shutdown API specs
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/shutdown/delete_node/ShutdownDeleteNodeRequest.ts
  specification/shutdown/delete_node/ShutdownDeleteNodeResponse.ts
  specification/shutdown/get_node/ShutdownGetNodeRequest.ts
  specification/shutdown/get_node/ShutdownGetNodeResponse.ts
  specification/shutdown/put_node/ShutdownPutNodeRequest.ts
  specification/shutdown/put_node/ShutdownPutNodeResponse.ts
Labels: specification, backport 7.x

#615 Fix required properties
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/render_search_template/RenderSearchTemplateRequest.ts
  specification/ilm/delete_lifecycle/DeleteLifecycleRequest.ts
  specification/ilm/put_lifecycle/PutLifecycleRequest.ts
  specification/indices/put_mapping/IndicesPutMappingRequest.ts
  specification/ml/post_calendar_events/MlPostCalendarEventsRequest.ts
  specification/security/clear_api_key_cache/SecurityClearApiKeyCacheRequest.ts
Labels: specification, backport 7.x

#618 Validate the 'update' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/update/UpdateRequest.ts
Labels: specification, backport 7.x

#623 Fix stubbed monitoring.bulk API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/monitoring/bulk/BulkMonitoringRequest.ts
  specification/monitoring/bulk/BulkMonitoringResponse.ts
Labels: specification, backport 7.x

#620 Validate the 'cluster.remote_info' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/cluster/remote_info/ClusterRemoteInfoRequest.ts
  specification/cluster/remote_info/ClusterRemoteInfoResponse.ts
Labels: specification, backport 7.x
