Repository elastic/elasticsearch-specification, pull requests merged in 2021-07, with the labels that each got.

#489 Add @identifier annotation to _nodes properties
  output/schema/schema.json
  output/typescript/types.ts
  specification/nodes/_types/NodesResponseBase.ts
  specification/security/clear_api_key_cache/SecurityClearApiKeyCacheResponse.ts
  specification/security/clear_cached_privileges/SecurityClearCachedPrivilegesResponse.ts
  specification/security/clear_cached_realms/SecurityClearCachedRealmsResponse.ts
  specification/security/clear_cached_roles/ClearCachedRolesResponse.ts
  specification/security/clear_cached_service_tokens/ClearCachedServiceTokensResponse.ts
  specification/watcher/stats/WatcherStatsResponse.ts
Labels: specification

#495 Remove error from WriteResponseBase
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/Base.ts
Labels: specification

#486 Review/update/fix query definitions
  compiler/model/metamodel.ts
  compiler/model/utils.ts
  docs/behaviors.md
  docs/modeling-guide.md
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_global/get/GetResponse.ts
  specification/_global/scroll/ScrollRequest.ts
  specification/_global/search/_types/hits.ts
  specification/_global/search/_types/sort.ts
  specification/_spec_utils/behaviors.ts
  specification/_types/Geo.ts
  specification/_types/Scripting.ts
  specification/_types/Time.ts
  specification/_types/analysis/StopWords.ts
  specification/_types/common.ts
  specification/_types/query_dsl/MatchAllQuery.ts
  specification/_types/query_dsl/Operator.ts
  specification/_types/query_dsl/abstractions.ts
  specification/_types/query_dsl/compound.ts
  specification/_types/query_dsl/fulltext.ts
  specification/_types/query_dsl/geo.ts
  specification/_types/query_dsl/joining.ts
  specification/_types/query_dsl/span.ts
  specification/_types/query_dsl/specialized.ts
  specification/_types/query_dsl/term.ts
  typescript-generator/index.ts
Labels: compiler, documentation, generator:typescript, specification

#498 [ML] Add datafeed_config to create anomaly detection job request and response
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/_types/Job.ts
  specification/ml/preview_datafeed/MlPreviewDatafeedRequest.ts
  specification/ml/put_job/MlPutJobRequest.ts
  specification/ml/put_job/MlPutJobResponse.ts
Labels: specification

#504 Fix typo in 'threshold'
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/evaluate_data_frame/types.ts
Labels: specification

#505 Fix IndicesDataStreamsStatsRequest duplicate property
  output/schema/schema.json
  output/typescript/types.ts
  specification/indices/data_streams_stats/IndicesDataStreamsStatsRequest.ts
Labels: specification

#497 [ML] Adds descriptions for the put_jobs specification
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Analysis.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/_types/Detector.ts
  specification/ml/_types/Filter.ts
  specification/ml/_types/Job.ts
  specification/ml/_types/ModelPlot.ts
  specification/ml/_types/Rule.ts
  specification/ml/put_job/MlPutJobRequest.ts
Labels: specification

#506 Fix MainError duplicated property
  output/schema/schema.json
  output/typescript/types.ts
  specification/_types/Errors.ts
Labels: specification

#509 Make AnalysisConfig.influencers optional, 'ml.estimate_model_memory' stable
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Analysis.ts
  specification/ml/estimate_model_memory/MlEstimateModelMemoryRequest.ts
Labels: specification

#513 Validate 'ml.get_model_snapshots' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Model.ts
  specification/ml/get_model_snapshots/MlGetModelSnapshotsRequest.ts
Labels: specification

#514 Validate 'ml.open_job' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/open_job/MlOpenJobRequest.ts
  specification/ml/open_job/MlOpenJobResponse.ts
Labels: specification

#517 Validate 'ml.put_calendar' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_calendar/MlPutCalendarRequest.ts
  specification/ml/put_calendar/MlPutCalendarResponse.ts
Labels: specification

#518 Validate 'ml.put_datafeed' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_datafeed/MlPutDatafeedRequest.ts
  specification/ml/put_datafeed/MlPutDatafeedResponse.ts
Labels: specification

#519 Validate 'ml.put_filter' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/put_filter/MlPutFilterRequest.ts
  specification/ml/put_filter/MlPutFilterResponse.ts
Labels: specification

#521 Validate 'ml.start_data_frame_analytics' API
  output/schema/schema.json
  specification/ml/start_data_frame_analytics/MlStartDataFrameAnalyticsRequest.ts
Labels: specification

#512 Validate 'ml.get_jobs' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/Job.ts
  specification/ml/get_jobs/MlGetJobsRequest.ts
Labels: specification

#510 Validate 'ml.get_datafeed_stats' API
  output/schema/schema.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/ml/_types/Datafeed.ts
  specification/ml/get_datafeed_stats/MlGetDatafeedStatsRequest.ts
Labels: specification

#525 Add identifier for `_source` property in `source` type.
  output/schema/schema.json
  specification/_global/reindex/types.ts
Labels: specification

#515 Validate 'ml.post_data' API
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/post_data/MlPostDataRequest.ts
  specification/ml/post_data/MlPostDataResponse.ts
  specification/ml/post_data/types.ts
Labels: specification

#503 Require the use of STACK_VERSION when running validations
  README.md
  docs/validation-example.md
  run-validations.sh
Labels: documentation

#502 Use new labeler action and introduce backport action
  .github/auto-label.json
  .github/labeler.yml
  .github/workflows/auto-label.yml
  .github/workflows/backport.yml
  .github/workflows/labeler.yml
Labels: enhancement

#501 Generate version and hash fields in schema output
  .github/workflows/update-model-info.yml
  compiler/model/metamodel.ts
  compiler/steps/add-info.ts
  output/schema/schema.json
Labels: compiler, enhancement

#507 Add a model validation that detects duplicate properties on ancestor classes
  compiler/steps/validate-model.ts
Labels: compiler

#527 Skip version update when updating the rest-api-spec
  .github/workflows/update-rest-api-json.yml
  compiler/steps/add-info.ts
Labels: compiler

#523 Validate 'ml.update_job'
  output/schema/schema.json
  output/typescript/types.ts
  specification/ml/_types/Detector.ts
  specification/ml/_types/Settings.ts
  specification/ml/update_job/MlUpdateJobRequest.ts
  specification/ml/update_job/MlUpdateJobResponse.ts
Labels: specification
