Repository elastic/elasticsearch-specification, pull requests merged in 2022-03, with the labels that each got.

#1508 Add doc_id support to all types
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
Labels: compiler, backport 8.0, backport 7.17, backport 8.1

#1514 Fix doc_id handling in 7.17
  compiler/src/model/utils.ts
Labels: compiler

#1586 Allow quoted strings in comma-separated jstags
  compiler/src/model/utils.ts
Labels: compiler, backport 7.17, backport 8.1
