Repository elastic/elasticsearch-specification, pull requests merged in 2022-02, with the labels that each got.

#1381 Adds doc_id full URLs
  specification/_doc_ids/table.csv
Labels: specification, backport 8.0

#1384 [Backport 8.0] Adds doc_id full URLs
  specification/_doc_ids/table.csv
Labels: specification

#1398 Adds full URLS to doc_ids
  specification/_doc_ids/table.csv
Labels: specification, backport 8.0, backport 8.1

#1394 Add missing nodes.*_repositories_metering_* Endpoints
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/nodes/_types/NodeReloadResult.ts
  specification/nodes/_types/RepositoryMeteringInformation.ts
  specification/nodes/clear_repositories_metering_archive/ClearRepositoriesMeteringArchiveRequest.ts
  specification/nodes/clear_repositories_metering_archive/ClearRepositoriesMeteringArchiveResponse.ts
  specification/nodes/get_repositories_metering_info/GetRepositoriesMeteringInfoRequest.ts
  specification/nodes/get_repositories_metering_info/GetRepositoriesMeteringInfoResponse.ts
  specification/nodes/reload_secure_settings/ReloadSecureSettingsResponse.ts
  specification/nodes/reload_secure_settings/types.ts
Labels: specification, backport 8.0, backport 7.17, backport 8.1

#1408 Fixes URLs in table.csv
  specification/_doc_ids/table.csv
Labels: specification, backport 8.0, backport 8.1

#1413 [8.0] Fixes URLs in table.csv
  specification/_doc_ids/table.csv
Labels: specification

#1411 Updated branch version detection
  compiler/run-validations.js
Labels: compiler, backport 8.0, backport 7.17, backport 8.1

#1420 Update rest-api-spec data in 8.1 and 8.0 as well
  .github/workflows/update-rest-api-json.yml
Labels: backport 8.0, backport 7.17, backport 8.1

#1429 Fixes the last batch of URLs in table.csv
  specification/_doc_ids/table.csv
Labels: specification, backport 8.0, backport 7.17, backport 8.1

#1452 [8.0] Reverts backport of #1451
  specification/_doc_ids/table.csv
Labels: specification

#1453 [8.0] Fixes the last batch of URLs in table.csv
  specification/_doc_ids/table.csv
Labels: specification
