Repository elastic/elasticsearch-specification, pull requests merged in 2022-01, with the labels that each got.

#1244 Honor .gitignore
  .validation.json
  compiler/lib/compiler.js
  compiler/lib/dangling-types-report.js
  compiler/lib/index.js
  compiler/lib/model/build-model.js
  compiler/lib/model/json-spec.js
  compiler/lib/model/metamodel.js
  compiler/lib/model/utils.js
  compiler/lib/steps/add-content-type.js
  compiler/lib/steps/add-description.js
  compiler/lib/steps/add-info.js
  compiler/lib/steps/read-definition-validation.js
  compiler/lib/steps/validate-model.js
  compiler/lib/steps/validate-rest-spec.js
  compiler/lib/update-imports.js
  compiler/lib/validation-errors.js
  typescript-generator/lib/client.js
  typescript-generator/lib/index.js
  typescript-generator/lib/metamodel.js
Labels: compiler, generator:typescript, backport 8.0

#1261 Create import graph of types and namespaces
  .gitattributes
  .github/workflows/gh-pages-report.yml
  .gitignore
  compiler/generate-import-graph.mjs
  compiler/package-lock.json
  compiler/package.json
  compiler/src/create-import-graph.ts
Labels: compiler

#1267 Remove old fix imports script
  Makefile
  compiler/package.json
  compiler/src/update-imports.ts
Labels: compiler

#1269 Compile only compiler/src folder
  compiler/tsconfig.json
Labels: compiler

#1270 Updates README.md
  README.md
Labels: documentation

#1298 Add async SQL APIs
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/sql/delete_async/SqlDeleteAsyncRequest.ts
  specification/sql/delete_async/SqlDeleteAsyncResponse.ts
  specification/sql/get_async/SqlGetAsyncRequest.ts
  specification/sql/get_async/SqlGetAsyncResponse.ts
  specification/sql/get_async_status/SqlGetAsyncStatusRequest.ts
  specification/sql/get_async_status/SqlGetAsyncStatusResponse.ts
  specification/sql/query/QuerySqlResponse.ts
  specification/sql/query/types.ts
  specification/sql/types.ts
Labels: specification, backport 8.0

#1350 Update dependencies
  .github/download-artifacts/package.json
  compiler/package-lock.json
  compiler/package.json
  typescript-generator/package-lock.json
  typescript-generator/package.json
Labels: compiler, generator:typescript, backport 8.0, backport 7.17
