Repository elastic/elasticsearch-specification, pull requests merged in 2023-07, with the labels that each got.

#2177 [Transform] Filter availability
  compiler/package.json
  compiler/src/transform/filter-by-availability.ts
Labels: compiler

#2187 Minor generation workflow bugfix
  .github/workflows/generate.yml
Labels: backport 8.0, backport 7.17, backport 8.1, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, backport 8.7, backport 8.8, backport 8.9

#2211 Fix query `text_expansion` definition
  specification/_types/query_dsl/TextExpansionQuery.ts
  specification/_types/query_dsl/abstractions.ts
Labels: specification, backport 8.9
