Repository elastic/elasticsearch-specification, pull requests merged in 2024-05, with the labels that each got.

#2542 Add dangling types to the generic-less schema
  compiler/src/transform/expand-generics.ts
Labels: compiler

#2504 Add unwrapping and inlining to expand-generics
  compiler-rs/clients_schema/src/builtins.rs
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema/src/transform/expand_generics.rs
  compiler-rs/clients_schema/src/transform/mod.rs
  compiler-rs/clients_schema_to_openapi/src/main.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/compiler-wasm-lib/src/lib.rs
  compiler-rs/openapi_to_clients_schema/src/types.rs
  compiler/src/transform/expand-generics.ts
  output/openapi/elasticsearch-serverless-openapi.json
Labels: compiler

#2557 Upgrade to checkout@v4
  .github/workflows/code-format.yml
  .github/workflows/compiler.test.yml
  .github/workflows/gh-pages-report.yml
  .github/workflows/license.yml
  .github/workflows/linter.yml
  .github/workflows/metamodel-sync.yml
  .github/workflows/update-rest-api-json.yml
  .github/workflows/validate-pr.yml
Labels: backport 7.17, backport 8.13, backport 8.14

#2566 Remove empty alias from StorageType
  specification/indices/_types/IndexSettings.ts
Labels: specification, backport 8.14

#2581 Use `IndexSettings` in `IndicesPutTemplateRequest`
  specification/indices/put_template/IndicesPutTemplateRequest.ts
Labels: specification

#2589 Fix `PhoneticTokenFilter`
  specification/_types/analysis/phonetic-plugin.ts
Labels: bug, specification, backport 8.14

#2588 Fix `IndicesMappingLimitSettings`
  specification/indices/_types/IndexSettings.ts
Labels: bug, specification, backport 8.14
