Repository elastic/elasticsearch-specification, pull requests merged in 2024-03, with the labels that each got.

#2455 Support for aggregations in Security's Query API Key Information API
  specification/security/query_api_keys/QueryApiKeysRequest.ts
  specification/security/query_api_keys/QueryApiKeysResponse.ts
  specification/security/query_api_keys/types.ts
Labels: specification, backport 8.13

#2460 Restrict query type when querying API keys
  specification/security/query_api_keys/QueryApiKeysRequest.ts
  specification/security/query_api_keys/types.ts
Labels: specification, backport 8.13

#2457 Add missing `codegen_name` annotations to all value bodied responses
  specification/_global/get_source/SourceResponse.ts
  specification/_global/search_mvt/SearchMvtResponse.ts
  specification/cluster/remote_info/ClusterRemoteInfoResponse.ts
  specification/esql/query/QueryResponse.ts
  specification/ilm/get_lifecycle/GetLifecycleResponse.ts
  specification/indices/disk_usage/IndicesDiskUsageResponse.ts
  specification/indices/downsample/Response.ts
  specification/indices/get/IndicesGetResponse.ts
  specification/indices/get_alias/IndicesGetAliasResponse.ts
  specification/indices/get_field_mapping/IndicesGetFieldMappingResponse.ts
  specification/indices/get_mapping/IndicesGetMappingResponse.ts
  specification/indices/get_settings/IndicesGetSettingsResponse.ts
  specification/indices/get_template/IndicesGetTemplateResponse.ts
  specification/indices/promote_data_stream/IndicesPromoteDataStreamResponse.ts
  specification/indices/recovery/IndicesRecoveryResponse.ts
  specification/indices/resolve_cluster/ResolveClusterResponse.ts
  specification/ingest/get_pipeline/GetPipelineResponse.ts
  specification/logstash/get_pipeline/LogstashGetPipelineResponse.ts
  specification/ml/preview_datafeed/MlPreviewDatafeedResponse.ts
  specification/rollup/get_rollup_caps/GetRollupCapabilitiesResponse.ts
  specification/rollup/get_rollup_index_caps/GetRollupIndexCapabilitiesResponse.ts
  specification/search_application/get_behavioral_analytics/BehavioralAnalyticsGetResponse.ts
  specification/searchable_snapshots/clear_cache/SearchableSnapshotsClearCacheResponse.ts
  specification/security/delete_privileges/SecurityDeletePrivilegesResponse.ts
  specification/security/get_privileges/SecurityGetPrivilegesResponse.ts
  specification/security/get_role/SecurityGetRoleResponse.ts
  specification/security/get_role_mapping/SecurityGetRoleMappingResponse.ts
  specification/security/get_service_accounts/GetServiceAccountsResponse.ts
  specification/security/get_user/SecurityGetUserResponse.ts
  specification/security/put_privileges/SecurityPutPrivilegesResponse.ts
  specification/slm/get_lifecycle/GetSnapshotLifecycleResponse.ts
Labels: specification

#2464 Fix body nullability
  specification/_global/bulk/BulkRequest.ts
  specification/_global/create/CreateRequest.ts
  specification/_global/index/IndexRequest.ts
  specification/_global/msearch/MultiSearchRequest.ts
  specification/fleet/msearch/MultiSearchRequest.ts
  specification/indices/downsample/Request.ts
  specification/ml/validate_detector/MlValidateDetectorRequest.ts
  specification/monitoring/bulk/BulkMonitoringRequest.ts
  specification/security/put_privileges/SecurityPutPrivilegesRequest.ts
Labels: specification

#2463 Compiler: fix required body value
  compiler/src/model/build-model.ts
  compiler/src/steps/validate-rest-spec.ts
Labels: compiler

#2474 Get Role Mappings optional roles field
  specification/security/_types/RoleMapping.ts
  specification/security/put_role_mapping/SecurityPutRoleMappingRequest.ts
Labels: specification, backport 7.17
