Repository elastic/elasticsearch-specification, pull requests merged in 2024-08, with the labels that each got.

#2761 Generalize references to APIs
  specification/cat/aliases/CatAliasesRequest.ts
  specification/cat/component_templates/CatComponentTemplatesRequest.ts
  specification/cat/count/CatCountRequest.ts
  specification/cat/indices/CatIndicesRequest.ts
  specification/cat/ml_data_frame_analytics/CatDataFrameAnalyticsRequest.ts
  specification/cat/ml_datafeeds/CatDatafeedsRequest.ts
  specification/cat/ml_jobs/CatJobsRequest.ts
  specification/cat/ml_trained_models/CatTrainedModelsRequest.ts
  specification/cat/transforms/CatTransformsRequest.ts
Labels: specification

#2759 Merge doc-examples branch
  specification/ml/clear_trained_model_deployment_cache/examples/200_response/MlClearTrainedModelDeploymentCacheResponseExample1.json
  specification/ml/close_job/examples/200_response/MlCloseJobResponseExample1.json
  specification/ml/delete_calendar/examples/200_response/MlDeleteCalendarResponseExample1.json
  specification/ml/delete_calendar_event/examples/200_response/MlDeleteCalendarEventResponseExample1.json
  specification/ml/delete_calendar_job/examples/200_response/MlDeleteCalendarJobResponseExample1.json
  specification/ml/delete_data_frame_analytics/examples/200_response/MlDeleteDataFrameAnalyticsResponseExample1.json
  specification/ml/delete_datafeed/examples/200_response/MlDeleteDatafeedResponseExample1.json
  specification/ml/delete_expired_data/examples/200_response/MlDeleteExpiredDataResponseExample1.json
  specification/ml/delete_filter/examples/200_response/MlDeleteFilterResponseExample1.json
  specification/ml/delete_forecast/examples/200_response/MlDeleteForecastResponseExample1.json
  specification/ml/delete_job/examples/200_response/MlDeleteJobResponseExample1.json
  specification/ml/delete_job/examples/200_response/MlDeleteJobResponseExample2.json
  specification/ml/delete_model_snapshot/examples/200_responses/MlDeleteModelSnapshotResponseExample1.json
  specification/ml/delete_trained_model/examples/200_response/MlDeleteTrainedModelResponseExample1.json
  specification/ml/delete_trained_model_alias/examples/MlDeleteTrainedModelAliasResponseExample1.json
  specification/ml/estimate_model_memory/examples/200_response/MlEstimateModelMemoryResponseExample1.json
  specification/ml/estimate_model_memory/examples/request/MlEstimateModelMemoryRequestExample1.json
  specification/ml/evaluate_data_frame/examples/200_response/MlEvaluateDataFrameResponseClassificationExample1.json
  specification/ml/evaluate_data_frame/examples/200_response/MlEvaluateDataFrameResponseClassificationExample2.json
  specification/ml/evaluate_data_frame/examples/200_response/MlEvaluateDataFrameResponseOutlierExample.json
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestClassificationExample1.json
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestClassificationExample2.json
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestOutlierExample.json
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestRegressionExample1.json
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestRegressionExample2.json
  specification/ml/explain_data_frame_analytics/examples/200_response/MlExplainDataFrameAnalyticsResponseExample1.json
  specification/ml/explain_data_frame_analytics/examples/request/MlExplainDataFrameAnalyticsRequestExample1.json
  specification/ml/open_job/examples/200_response/MlOpenJobResponseExample1.json
  specification/ml/open_job/examples/request/MlOpenJobRequestExample1.json
  specification/ml/put_job/examples/200_response/MlPutJobResponseExample1.json
  specification/ml/put_job/examples/request/MlPutJobRequestExample1.json
  specification/transform/delete_transform/examples/200_response/DeleteTransformResponseExample1.json
  specification/transform/get_transform/examples/200_response/GetTransformResponseExample1.json
  specification/transform/get_transform_stats/examples/200_response/GetTransformStatsResponseExample1.json
  specification/transform/preview_transform/examples/200_response/PreviewTransformResponseExample1.json
  specification/transform/preview_transform/examples/request/PreviewTransformRequestExample1.json
  specification/transform/put_transform/examples/200_response/PutTransformResponseExample1.json
  specification/transform/put_transform/examples/request/PutTransformRequestExample1.json
  specification/transform/put_transform/examples/request/PutTransformRequestExample2.json
  specification/transform/reset_transform/examples/200_response/ResetTransformResponseExample1.json
  specification/transform/schedule_now_transform/examples/200_response/ResetTransformResponseExample1.json
  specification/transform/start_transform/examples/200_response/StartTransformResponseExample1.json
  specification/transform/stop_transform/examples/200_response/StopTransformResponseExample1.json
  specification/transform/update_transform/examples/200_response/UpdateTransformResponseExample1.json
  specification/transform/update_transform/examples/request/UpdateTransformRequestExample1.json
  specification/transform/upgrade_transforms/examples/200_response/UpgradeTransformResponseExample1.json
Labels: specification

#2768 Fix syntax in ClusterHealthRequest
  specification/cluster/health/ClusterHealthRequest.ts
Labels: specification, backport 8.15

#2773 Update CatCountRequest.ts documentation
  specification/cat/count/CatCountRequest.ts
Labels: specification

#2777 Update ClusterPutComponentTemplateRequest.ts
  specification/cluster/put_component_template/ClusterPutComponentTemplateRequest.ts
Labels: specification

#2780 Adds async search API request and response examples
  docs/overlays/elasticsearch-serverless-openapi-overlays.yaml
  specification/async_search/get/AsyncSearchGetResponseExample1.json
  specification/async_search/get/AsyncSearchGetResponseExample2.json
  specification/async_search/get/AsyncSearchGetResponseExample3.json
  specification/async_search/status/AsyncSearchStatusResponseExample1.json
  specification/async_search/submit/AsyncSearchSubmitRequestExample1.json
  specification/async_search/submit/AsyncSearchSubmitResponseExample1.json
Labels: specification

#2783 Fix `CustomAnalyzer`
  specification/_types/analysis/analyzers.ts
Labels: bug, specification

#2788 Adds autoscaling and CCR API request and response examples
  specification/autoscaling/delete_autoscaling_policy/autoscalingApisDeleteAutoscalingPolicyResponseExample1.json
  specification/autoscaling/get_autoscaling_capacity/autoscalingApisGetAutoscalingCapacityResponseExample1.json
  specification/autoscaling/get_autoscaling_policy/autoscalingApisGetAutoscalingPolicyResponseExample1.json
  specification/autoscaling/put_autoscaling_policy/autoscalingApisPutAutoscalingPolicyRequestExample1.json
  specification/autoscaling/put_autoscaling_policy/autoscalingApisPutAutoscalingPolicyRequestExample2.json
  specification/autoscaling/put_autoscaling_policy/autoscalingApisPutAutoscalingPolicyResponseExample1.json
  specification/ccr/delete_auto_follow_pattern/ccrApisAutoFollowDeleteAutoFollowPatternResponseExample1.json
  specification/ccr/follow/ccrApisFollowPutFollowRequestExample1.json
  specification/ccr/follow/ccrApisFollowPutFollowRequestExample3.json
  specification/ccr/follow/ccrApisFollowPutFollowResponseExample1.json
  specification/ccr/follow_info/ccrApisFollowGetFollowInfoResponseExample1.json
  specification/ccr/follow_info/ccrApisFollowGetFollowInfoResponseExample2.json
  specification/ccr/follow_stats/ccrApisFollowGetFollowStatsResponseExample1.json
  specification/ccr/forget_follower/ccrApisFollowPostForgetFollowerRequestExample1.json
  specification/ccr/forget_follower/ccrApisFollowPostForgetFollowerResponseExample1.json
  specification/ccr/get_auto_follow_pattern/ccrApisAutoFollowGetAutoFollowPatternResponseExample1.json
  specification/ccr/pause_auto_follow_pattern/ccrApisAutoFollowPauseAutoFollowPatternResponseExample1.json
  specification/ccr/pause_follow/ccrApisFollowPostPauseFollowResponseExample1.json
  specification/ccr/put_auto_follow_pattern/ccrApisAutoFollowPutAutoFollowPatternRequestExample1.json
  specification/ccr/put_auto_follow_pattern/ccrApisAutoFollowPutAutoFollowPatternRequestExample2.json
  specification/ccr/put_auto_follow_pattern/ccrApisAutoFollowPutAutoFollowPatternResponseExample1.json
  specification/ccr/resume_auto_follow_pattern/ccrApisAutoFollowResumeAutoFollowPatternResponseExample1.json
  specification/ccr/resume_follow/ccrApisFollowPostResumeFollowRequestExample2.json
  specification/ccr/resume_follow/ccrApisFollowPostResumeFollowResponseExample1.json
  specification/ccr/stats/ccrApisGetCcrStatsResponseExample1.json
  specification/ccr/unfollow/ccrApisFollowPostUnfollowResponseExample1.json
Labels: specification

#2805 [DOCS] Add API docs feedback link
  .gitignore
  docs/overlays/elasticsearch-serverless-openapi-overlays.yaml
  output/openapi/elasticsearch-serverless-openapi.examples.json
Labels: OpenAPI

#2817 [DOCS] Overlay license in OpenAPI output
  docs/overlays/elasticsearch-serverless-openapi-overlays.yaml
Labels: OpenAPI

#2807 [DOCS] Add more transform example overlays
  docs/overlays/elasticsearch-serverless-openapi-overlays.yaml
Labels: OpenAPI
