Repository elastic/elasticsearch-specification, pull requests merged in 2024-12, with the labels that each got.

#3198 [OpenAPI] Add securitySchemes and security in overlays
  docs/overlays/elasticsearch-openapi-overlays.yaml
  docs/overlays/elasticsearch-serverless-openapi-overlays.yaml
Labels: OpenAPI, backport 8.16, backport 8.17

#3216 Allow string for total_fields index settings
  specification/indices/_types/IndexSettings.ts
Labels: specification, backport 8.x, backport 8.17

#3260 Consider CommonCatQueryParameters to validate query parameters
  compiler/src/steps/validate-rest-spec.ts
  output/schema/validation-errors.json
Labels: compiler

#2996 Adds ingest API request and response examples
  docs/overlays/elasticsearch-shared-overlays.yaml
  specification/ingest/get_pipeline/GetPipelineResponseExample1.yaml
  specification/ingest/put_pipeline/PutPipelineRequestExample1.yaml
  specification/ingest/put_pipeline/PutPipelineRequestExample2.yaml
  specification/ingest/simulate/SimulatePipelineRequestExample1.yaml
  specification/ingest/simulate/SimulatePipelineResponseExample1.yaml
Labels: specification, backport 8.x

#2993 Adds index API requests and responses - part 2
  docs/overlays/elasticsearch-openapi-overlays.yaml
  docs/overlays/elasticsearch-serverless-openapi-overlays.yaml
  docs/overlays/elasticsearch-shared-overlays.yaml
  specification/indices/put_index_template/IndicesPutIndexTemplateRequestExample1.yaml
  specification/indices/put_mapping/indicesPutMappingRequestExample1.yaml
  specification/indices/put_settings/IndicesPutSettingsRequestExample1.yaml
  specification/indices/put_template/indicesPutTemplateRequestExample1.yaml
  specification/indices/recovery/indicesRecoveryResponseExample1.yaml
  specification/indices/resolve_cluster/ResolveClusterResponseExample1.yaml
  specification/indices/resolve_index/indicesResolveResponseExample1.yaml
  specification/indices/rollover/indicesRolloverRequestExample1.yaml
  specification/indices/rollover/indicesRolloverResponseExample1.yaml
  specification/indices/shrink/indicesShrinkRequestExample1.yaml
  specification/indices/split/indicesSplitRequestExample1.yaml
Labels: specification, documentation, OpenAPI, backport 8.x, backport 8.17

#3271 [8.x] Adds index API requests and responses - part 2 (#2993)
  docs/overlays/elasticsearch-openapi-overlays.yaml
  docs/overlays/elasticsearch-shared-overlays.yaml
  specification/indices/put_index_template/IndicesPutIndexTemplateRequestExample1.yaml
  specification/indices/put_mapping/indicesPutMappingRequestExample1.yaml
  specification/indices/put_settings/IndicesPutSettingsRequestExample1.yaml
  specification/indices/put_template/indicesPutTemplateRequestExample1.yaml
  specification/indices/recovery/indicesRecoveryResponseExample1.yaml
  specification/indices/resolve_cluster/ResolveClusterResponseExample1.yaml
  specification/indices/resolve_index/indicesResolveResponseExample1.yaml
  specification/indices/rollover/indicesRolloverRequestExample1.yaml
  specification/indices/rollover/indicesRolloverResponseExample1.yaml
  specification/indices/shrink/indicesShrinkRequestExample1.yaml
  specification/indices/split/indicesSplitRequestExample1.yaml
Labels: specification

#3272 [8.17] Adds index API requests and responses - part 2 (#2993)
  docs/overlays/elasticsearch-openapi-overlays.yaml
  docs/overlays/elasticsearch-shared-overlays.yaml
  specification/indices/put_index_template/IndicesPutIndexTemplateRequestExample1.yaml
  specification/indices/put_mapping/indicesPutMappingRequestExample1.yaml
  specification/indices/put_settings/IndicesPutSettingsRequestExample1.yaml
  specification/indices/put_template/indicesPutTemplateRequestExample1.yaml
  specification/indices/recovery/indicesRecoveryResponseExample1.yaml
  specification/indices/resolve_cluster/ResolveClusterResponseExample1.yaml
  specification/indices/resolve_index/indicesResolveResponseExample1.yaml
  specification/indices/rollover/indicesRolloverRequestExample1.yaml
  specification/indices/rollover/indicesRolloverResponseExample1.yaml
  specification/indices/shrink/indicesShrinkRequestExample1.yaml
  specification/indices/split/indicesSplitRequestExample1.yaml
Labels: specification, documentation, OpenAPI

#3292 Stop generating errors for body inheritance
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler

#3296 [DOCS] Update branch information in overlay
  docs/overlays/elasticsearch-openapi-overlays.yaml
Labels: documentation, OpenAPI

#3295 Fix spec validator bugs
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: bug, compiler, backport 8.x, backport 8.17

#3306 [8.x] Fix spec validator bugs (#3295)
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler, backport

#3307 [8.17] Fix spec validator bugs (#3295)
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler, backport

#3346 Add find field structure and find messages structure APIs
  output/openapi/elasticsearch-openapi.json
  output/schema/validation-errors.json
  output/typescript/types.ts
  specification/_doc_ids/table.csv
  specification/text_structure/_types/Structure.ts
  specification/text_structure/find_field_structure/FindFieldStructureRequest.ts
  specification/text_structure/find_field_structure/FindFieldStructureResponse.ts
  specification/text_structure/find_message_structure/FindMessageStructureRequest.ts
  specification/text_structure/find_message_structure/FindMessageStructureResponse.ts
  specification/text_structure/find_structure/FindStructureRequest.ts
  specification/text_structure/find_structure/FindStructureResponse.ts
  specification/text_structure/find_structure/types.ts
Labels: specification, backport 8.x, backport 8.17
