Repository elastic/elasticsearch-specification, pull requests merged in 2024-06, with the labels that each got.

#2604 Remove duplicate `store` from `IcuCollationProperty
  specification/_types/mapping/specialized.ts
Labels: specification, backport 8.14

#2606 `InferenceResponseResult.predicted_value` is single-or-many
  specification/ml/_types/inference.ts
Labels: specification, backport 8.14

#2602 [ML] Update Delete Inference Endpoint for dry_run and force options
  specification/_json_spec/inference.delete.json
  specification/inference/_types/Results.ts
  specification/inference/delete/DeleteRequest.ts
  specification/inference/delete/DeleteResponse.ts
Labels: specification, ml

#2610 [route_name] Add serverless
  .github/workflows/generate.yml
  Makefile
  compiler/src/dump/extract-routes.ts
Labels: compiler

#2612 Base types should not be never
  output/typescript/types.ts
  typescript-generator/src/index.ts
Labels: generator:typescript

#2614 Fail CI on generation errors
  .github/validate-pr/index.js
  .github/workflows/validate-pr.yml
  typescript-generator/package.json
Labels: generator:typescript

#2521 [DOCS] Adds example requests and responses to ML APIs (C-E)
  specification/ml/clear_trained_model_deployment_cache/examples/200_response/MlClearTrainedModelDeploymentCacheResponseExample1.json
  specification/ml/delete_expired_data/examples/200_response/MlDeleteExpiredDataResponseExample1.json
  specification/ml/delete_filter/examples/200_response/MlDeleteFilterResponseExample1.json
  specification/ml/delete_forecast/examples/200_response/MlDeleteForecastResponseExample1.json
  specification/ml/delete_model_snapshot/examples/200_responses/MlDeleteModelSnapshotResponseExample1.json
  specification/ml/delete_trained_model/examples/200_response/MlDeleteTrainedModelResponseExample1.json
  specification/ml/delete_trained_model_alias/examples/MlDeleteTrainedModelAliasResponseExample1.json
  specification/ml/estimate_model_memory/examples/200_response/MlEstimateModelMemoryResponseExample1.json
  specification/ml/estimate_model_memory/examples/request/MlEstimateModelMemoryRequestExample1.json
  specification/ml/evaluate_data_frame/examples/200_response/MlEvaluateDataFrameResponseClassificationExample1.json
  specification/ml/evaluate_data_frame/examples/200_response/MlEvaluateDataFrameResponseClassificationExample2.json
  specification/ml/evaluate_data_frame/examples/200_response/MlEvaluateDataFrameResponseOutlierExample.json
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestClassificationExample1.json
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestClassificationExample2.json
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestOutlierExample.json
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestRegressionExample1.json
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestRegressionExample2.json
  specification/ml/explain_data_frame_analytics/examples/200_response/MlExplainDataFrameAnalyticsResponseExample1.json
  specification/ml/explain_data_frame_analytics/examples/request/MlExplainDataFrameAnalyticsRequestExample1.json
Labels: specification

#2644 Wrap ts-morph errors to provide helpful error
  compiler/src/model/build-model.ts
  compiler/src/model/utils.ts
Labels: compiler

#2648 Remove 'Non leaf-type cannot be used here' rule
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler
