Repository elastic/elasticsearch-specification, pull requests merged in 2024-09, with the labels that each got.

#2841 Fix dependabot alert on micromatch
  compiler-rs/clients_schema_to_openapi/package-lock.json
  compiler/package-lock.json
Labels: compiler

#2850 Remove orphaned ClusterState types
  specification/cluster/_types/ClusterStateBlocksIndex.ts
  specification/cluster/_types/ClusterStateIndexLifecycle.ts
  specification/cluster/_types/ClusterStateIngest.ts
  specification/cluster/_types/ClusterStateMetadata.ts
  specification/cluster/_types/ClusterStateRoutingNodes.ts
  specification/cluster/_types/ClusterStateSnapshots.ts
Labels: specification

#2861 Fix code style
  specification/_global/open_point_in_time/OpenPointInTimeRequest.ts
Labels: specification

#2859 [OAS][DOCS] Clarify license, version, and source URL
  docs/overlays/elasticsearch-serverless-openapi-overlays.yaml
Labels: OpenAPI

#2878 Update dependencies in compiler-rs
  compiler-rs/Cargo.lock
  compiler-rs/Cargo.toml
  compiler-rs/clients_schema/Cargo.toml
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema_to_openapi/Cargo.toml
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/compiler-wasm-lib/Cargo.toml
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib.js
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/compiler-wasm-lib/src/lib.rs
  compiler-rs/openapi_to_clients_schema/Cargo.toml
  compiler-rs/openapi_to_clients_schema/src/openapi.rs
  compiler-rs/openapi_to_clients_schema/src/types.rs
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
Labels: compiler, backport 8.15

#2880 [8.15] Update dependencies in compiler-rs (#2878)
  compiler-rs/Cargo.lock
  compiler-rs/Cargo.toml
  compiler-rs/clients_schema/Cargo.toml
  compiler-rs/clients_schema/src/bin/filter_by_availability.rs
  compiler-rs/clients_schema/src/bin/transform_expand_generics.rs
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema_to_openapi/Cargo.toml
  compiler-rs/clients_schema_to_openapi/package-lock.json
  compiler-rs/clients_schema_to_openapi/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/clients_schema_to_openapi/src/utils.rs
  compiler-rs/compiler-wasm-lib/Cargo.toml
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib.js
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/compiler-wasm-lib/src/lib.rs
  compiler-rs/openapi_to_clients_schema/Cargo.toml
  compiler-rs/openapi_to_clients_schema/src/openapi.rs
  compiler-rs/openapi_to_clients_schema/src/types.rs
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
Labels: compiler

#2879 Adds EQL, ESQL, features API example requests and responses
  docs/overlays/elasticsearch-openapi-overlays.yaml
  docs/overlays/elasticsearch-serverless-openapi-overlays.yaml
  docs/overlays/elasticsearch-shared-example-overlays.yaml
  specification/eql/get_status/EqlGetStatusResponseExample1.json
  specification/eql/search/EqlSearchRequestExample1.json
  specification/eql/search/EqlSearchRequestExample2.json
  specification/eql/search/EqlSearchResponseExample2.json
  specification/esql/query/EsqlQueryApiRequestExample1.json
  specification/features/get_features/FeaturesApiResponseExample1.json
  specification/features/reset_features/ResetFeaturesResponseExample1.json
Labels: specification

#2896 Fix make validate generation
  compiler/run-validations.js
Labels: compiler, backport 8.14, backport 8.x

#2895 Run validation on backports too
  .github/workflows/validate-pr.yml
Labels: backport 8.15, backport 8.x

#2904 Add overlay for deep objects in ML analysis_config, datafeed_config, and transform source
  Makefile
  docs/overlays/elasticsearch-shared-overlays.yaml
Labels: OpenAPI

#2916 [ML] Add new calendar event fields
  specification/ml/_types/CalendarEvent.ts
Labels: specification

#2870 Adds cluster API example requests and responses
  docs/overlays/elasticsearch-openapi-overlays.yaml
  specification/cluster/allocation_explain/clusterAllocationExplainRequestExample1.json
  specification/cluster/health/clusterHealthResponseExample1.json
  specification/cluster/put_settings/clusterPutSettingsRequestExample1.json
  specification/cluster/reroute/clusterRerouteRequestExample1.json
  specification/nodes/info/nodesInfoResponseExample1.json
  specification/nodes/info/nodesInfoResponseExample1.yaml
  specification/nodes/reload_secure_settings/clusterNodesReloadSecureSettingsRequestExample1.json
  specification/nodes/reload_secure_settings/clusterNodesReloadSecureSettingsResponseExample1.json
  specification/tasks/get/getTasksResponseExample1.json
Labels: specification

#2906 Accept any FieldValue for terms_set
  specification/_types/query_dsl/term.ts
Labels: specification

#2900 Adds graph and ILM API example requests and responses
  docs/overlays/elasticsearch-openapi-overlays.yaml
  docs/overlays/elasticsearch-shared-overlays.yaml
  package-lock.json
  package.json
  specification/graph/explore/graphExploreRequestExample1.json
  specification/ilm/delete_lifecycle/DeleteLifecycleResponseExample1.json
  specification/ilm/explain_lifecycle/ExplainLifecycleResponseExample1.json
  specification/ilm/get_lifecycle/GetLifecycleResponseExample1.json
  specification/ilm/get_status/GetILMStatusResponseExample1.json
  specification/ilm/migrate_to_data_tiers/MigrateToDataTiersRequestExample1.json
  specification/ilm/migrate_to_data_tiers/MigrateToDataTiersResponseExample1.json
  specification/ilm/move_to_step/MoveToStepRequestExample1.json
  specification/ilm/move_to_step/MoveToStepResponseExample1.json
  specification/ilm/put_lifecycle/PutLifecycleRequestExample1.json
  specification/ilm/put_lifecycle/PutLifecycleResponseExample1.json
  specification/ilm/remove_policy/RemovePolicyResponseExample1.json
  specification/ilm/start/StartILMResponseExample1.json
  specification/ilm/stop/StopILMResponseExample1.json
Labels: specification, backport 8.x

#2932 [8.x] Adds cluster, graph and ILM API example requests and responses
  docs/overlays/elasticsearch-openapi-overlays.yaml
  docs/overlays/elasticsearch-shared-example-overlays.yaml
  package-lock.json
  package.json
  specification/cluster/allocation_explain/clusterAllocationExplainRequestExample1.json
  specification/cluster/health/clusterHealthResponseExample1.json
  specification/cluster/put_settings/clusterPutSettingsRequestExample1.json
  specification/cluster/reroute/clusterRerouteRequestExample1.json
  specification/graph/explore/graphExploreRequestExample1.json
  specification/ilm/delete_lifecycle/DeleteLifecycleResponseExample1.json
  specification/ilm/explain_lifecycle/ExplainLifecycleResponseExample1.json
  specification/ilm/get_lifecycle/GetLifecycleResponseExample1.json
  specification/ilm/get_status/GetILMStatusResponseExample1.json
  specification/ilm/migrate_to_data_tiers/MigrateToDataTiersRequestExample1.json
  specification/ilm/migrate_to_data_tiers/MigrateToDataTiersResponseExample1.json
  specification/ilm/move_to_step/MoveToStepRequestExample1.json
  specification/ilm/move_to_step/MoveToStepResponseExample1.json
  specification/ilm/put_lifecycle/PutLifecycleRequestExample1.json
  specification/ilm/put_lifecycle/PutLifecycleResponseExample1.json
  specification/ilm/remove_policy/RemovePolicyResponseExample1.json
  specification/ilm/start/StartILMResponseExample1.json
  specification/ilm/stop/StopILMResponseExample1.json
  specification/nodes/info/nodesInfoResponseExample1.json
  specification/nodes/info/nodesInfoResponseExample1.yaml
  specification/nodes/reload_secure_settings/clusterNodesReloadSecureSettingsRequestExample1.json
  specification/nodes/reload_secure_settings/clusterNodesReloadSecureSettingsResponseExample1.json
  specification/tasks/get/getTasksResponseExample1.json
Labels: specification

#2889 Use a simplified namespace value for the OpenAPI tags
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
Labels: compiler

#2938 Fix overlay syntax error
  docs/overlays/elasticsearch-openapi-overlays.yaml
Labels: OpenAPI, backport 8.x

#2925 [OpenAPI] Remove self-referential externalDocs
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
Labels: compiler, OpenAPI, backport 8.x

#2947 [Backport 8.x][OpenAPI] Remove self-referential externalDocs (#2925)
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
Labels: compiler
