Repository elastic/elasticsearch-specification, pull requests merged in 2024-04, with the labels that each got.

#2476 Adding the API design guidelines.
  README.md
  api-design-guidelines/README.md
  api-design-guidelines/data-modelling.md
  api-design-guidelines/naming.md
  api-design-guidelines/requests-responses.md
Labels: documentation

#2478 Add null value and Setting type
  specification/_spec_utils/utils.ts
Labels: specification

#2452 Add machine learning API examples
  specification/ml/close_job/examples/200_response/MlCloseJobResponseExample1.json
  specification/ml/delete_job/examples/200_response/MlDeleteJobResponseExample1.json
  specification/ml/delete_job/examples/200_response/MlDeleteJobResponseExample2.json
  specification/ml/open_job/examples/200_response/MlOpenJobResponseExample1.json
  specification/ml/open_job/examples/request/MlOpenJobRequestExample1.json
  specification/ml/put_job/examples/200_response/MlPutJobResponseExample1.json
  specification/ml/put_job/examples/request/MlPutJobRequestExample1.json
Labels: specification

#2492 Bump Node.js from v16 to v20
  .ci/Dockerfile
  .github/workflows/code-format.yml
  .github/workflows/compiler.test.yml
  .github/workflows/generate.yml
  .github/workflows/gh-pages-report.yml
  .github/workflows/linter.yml
  .github/workflows/update-rest-api-json.yml
  .github/workflows/validate-pr.yml
  .nvmrc
Labels: backport 7.17, backport 8.12, backport 8.13

#2496 Make NullValue and Setting public
  specification/_spec_utils/utils.ts
Labels: specification

#2497 Define global WithNullValue<T> type
  specification/_spec_utils/utils.ts
Labels: specification

#2498 Index settings lifecycle name should be optional, not ILM policy name
  specification/ilm/put_lifecycle/PutLifecycleRequest.ts
  specification/indices/_types/IndexSettings.ts
Labels: specification

#2505 Add examples for transform APIs
  specification/transform/delete_transform/examples/200_response/DeleteTransformResponseExample1.json
  specification/transform/get_transform/examples/200_response/GetTransformResponseExample1.json
  specification/transform/get_transform_stats/examples/200_response/GetTransformStatsResponseExample1.json
  specification/transform/preview_transform/examples/200_response/PreviewTransformResponseExample1.json
  specification/transform/preview_transform/examples/request/PreviewTransformRequestExample1.json
  specification/transform/put_transform/examples/200_response/PutTransformResponseExample1.json
  specification/transform/put_transform/examples/request/PutTransformRequestExample1.json
  specification/transform/put_transform/examples/request/PutTransformRequestExample2.json
  specification/transform/reset_transform/examples/200_response/ResetTransformResponseExample1.json
  specification/transform/schedule_now_transform/examples/200_response/ResetTransformResponseExample1.json
  specification/transform/start_transform/examples/200_response/StartTransformResponseExample1.json
  specification/transform/stop_transform/examples/200_response/StopTransformResponseExample1.json
  specification/transform/update_transform/examples/200_response/UpdateTransformResponseExample1.json
  specification/transform/update_transform/examples/request/UpdateTransformRequestExample1.json
  specification/transform/upgrade_transforms/examples/200_response/UpgradeTransformResponseExample1.json
Labels: specification

#2513 Change `QueryCacheStats` field types from `int` -> `long`
  specification/_types/Stats.ts
Labels: specification

#2518 [DOCS] Adds ML API examples (DELETE ops)
  specification/ml/delete_calendar/examples/200_response/MlDeleteCalendarResponseExample1.json
  specification/ml/delete_calendar_event/examples/200_response/MlDeleteCalendarEventResponseExample1.json
  specification/ml/delete_calendar_job/examples/200_response/MlDeleteCalendarJobResponseExample1.json
  specification/ml/delete_data_frame_analytics/examples/200_response/MlDeleteDataFrameAnalyticsResponseExample1.json
  specification/ml/delete_datafeed/examples/200_response/MlDeleteDatafeedResponseExample1.json
Labels: specification

#2507 Use alias types in connectors API where it makes sense
  specification/connector/_types/Connector.ts
  specification/connector/last_sync/ConnectorUpdateLastSyncRequest.ts
  specification/connector/post/ConnectorPostRequest.ts
  specification/connector/put/ConnectorPutRequest.ts
  specification/connector/update_index_name/ConnectorUpdateIndexNameRequest.ts
Labels: enhancement, specification

#2520 Remove outdated mentions of run-validations.sh
  README.md
Labels: documentation

#2522 Add missing fields property on top_hits aggregation
  specification/_types/aggregations/metric.ts
Labels: specification

#2529 Add `TermsRangeQuery`
  specification/_types/query_dsl/term.ts
Labels: specification

#2536 Move from STACK_VERSION to SNAPSHOT_BRANCH
  .ci/bump.sh
  .ci/make.sh
  .github/workflows/validate-pr.yml
  Makefile
  specification/indices/create/IndicesCreateRequest.ts
Labels: specification, backport 8.13, backport 8.14

#2539 [8.14] Use alias types in connectors API where it makes sense (#2507)
  specification/connector/_types/Connector.ts
  specification/connector/last_sync/ConnectorUpdateLastSyncRequest.ts
  specification/connector/post/ConnectorPostRequest.ts
  specification/connector/put/ConnectorPutRequest.ts
  specification/connector/update_index_name/ConnectorUpdateIndexNameRequest.ts
Labels: specification

#2533 Fix spec compilation on Windows
  compiler/src/model/build-model.ts
  compiler/src/model/utils.ts
Labels: compiler
