Repository elastic/elasticsearch-specification, pull requests merged in 2024-07, with the labels that each got.

#2687 [Backport 7.17] Change `QueryCacheStats` field types from `int` -> `long` (#2513)
  specification/_types/Stats.ts
Labels: specification

#2690 make validate: Download recordings using branch, not version
  .github/workflows/validate-pr.yml
  Makefile
  README.md
  compiler/run-validations.js
  docs/validation-example.md
Labels: documentation, compiler

#2682 Add spec for bulk put roles
  specification/security/_types/Bulk.ts
  specification/security/_types/RoleDescriptor.ts
  specification/security/bulk_put_role/SecurityBulkPutRoleRequest.ts
  specification/security/bulk_put_role/SecurityBulkPutRoleResponse.ts
Labels: specification

#2684 Add specification for query users
  specification/security/query_user/SecurityQueryUserRequest.ts
  specification/security/query_user/SecurityQueryUserResponse.ts
  specification/security/query_user/types.ts
Labels: specification

#2703 Add bin targets for filter_by_availability and transform_expand_generics
  compiler-rs/Cargo.lock
  compiler-rs/clients_schema/Cargo.toml
  compiler-rs/clients_schema/src/bin/filter_by_availability.rs
  compiler-rs/clients_schema/src/bin/transform_expand_generics.rs
  compiler-rs/clients_schema/src/lib.rs
Labels: compiler

#2716 Add stability extensions for openapi
  compiler-rs/clients_schema_to_openapi/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
Labels: compiler

#2717 Allowing newlines in openapi description
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
Labels: compiler

#2750 Mark connector.last_sync as private for now
  specification/connector/last_sync/ConnectorUpdateLastSyncRequest.ts
Labels: specification, backport 8.15
