Repository elastic/elasticsearch-specification, pull requests merged in 2024-10, with the labels that each got.

#2888 [Serverless] Update role name description
  output/openapi/elasticsearch-serverless-openapi.json
  output/schema/schema-serverless.json
  specification/security/put_role/SecurityPutRoleRequest.ts
Labels: specification

#2975 Add x-model for QueryContainer
  docs/overlays/elasticsearch-shared-overlays.yaml
Labels: OpenAPI, backport 8.x

#2979 Adds index API requests and responses - part 1
  docs/overlays/elasticsearch-openapi-overlays.yaml
  docs/overlays/elasticsearch-shared-overlays.yaml
  specification/indices/add_block/IndicesAddBlockResponseExample1.yaml
  specification/indices/analyze/indicesAnalyzeRequestExample1.yaml
  specification/indices/clone/indicesCloneRequestExample1.yaml
  specification/indices/close/indicesCloseResponseExample1.yaml
  specification/indices/create/indicesCreateRequestExample1.yaml
  specification/indices/create/indicesCreateRequestExample2.yaml
  specification/indices/data_streams_stats/indicesDataStreamStatsResponseExample1.yaml
  specification/indices/delete_data_lifecycle/IndicesDeleteDataLifecycleResponseExample1.yaml
  specification/indices/explain_data_lifecycle/IndicesExplainDataLifecycleResponseExample1.yaml
  specification/indices/get_data_lifecycle/IndicesGetDataLifecycleResponseExample1.yaml
  specification/indices/get_data_stream/indicesGetDataStreamResponseExample1.yaml
  specification/indices/open/indicesOpenResponseExample1.yaml
  specification/indices/put_data_lifecycle/IndicesPutDataLifecycleRequestExample1.yaml
  specification/indices/put_data_lifecycle/IndicesPutDataLifecycleRequestExample2.yaml
  specification/indices/put_data_lifecycle/IndicesPutDataLifecycleResponseExample1.yaml
Labels: specification, backport 8.x

#2988 [8.x] Adds index API requests and responses - part 1
  docs/overlays/elasticsearch-openapi-overlays.yaml
  docs/overlays/elasticsearch-shared-overlays.yaml
  specification/indices/add_block/IndicesAddBlockResponseExample1.yaml
  specification/indices/analyze/indicesAnalyzeRequestExample1.yaml
  specification/indices/clone/indicesCloneRequestExample1.yaml
  specification/indices/close/indicesCloseResponseExample1.yaml
  specification/indices/create/indicesCreateRequestExample1.yaml
  specification/indices/create/indicesCreateRequestExample2.yaml
  specification/indices/data_streams_stats/indicesDataStreamStatsResponseExample1.yaml
  specification/indices/delete_data_lifecycle/IndicesDeleteDataLifecycleResponseExample1.yaml
  specification/indices/explain_data_lifecycle/IndicesExplainDataLifecycleResponseExample1.yaml
  specification/indices/get_data_lifecycle/IndicesGetDataLifecycleResponseExample1.yaml
  specification/indices/get_data_stream/indicesGetDataStreamResponseExample1.yaml
  specification/indices/open/indicesOpenResponseExample1.yaml
  specification/indices/put_data_lifecycle/IndicesPutDataLifecycleRequestExample1.yaml
  specification/indices/put_data_lifecycle/IndicesPutDataLifecycleRequestExample2.yaml
  specification/indices/put_data_lifecycle/IndicesPutDataLifecycleResponseExample1.yaml
Labels: specification, documentation

#2995 [Backport 8.x] Output x-state instead of x-technical-preview and x-available-since (#2989)
  compiler-rs/clients_schema_to_openapi/src/lib.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
Labels: compiler

#3003 Add `terminate` ingest processor
  specification/_doc_ids/table.csv
  specification/ingest/_types/Processors.ts
Labels: specification, backport 8.x

#3016 Security APIs: Change `Indices` -> `IndexName[]`
  specification/security/_types/Privileges.ts
  specification/security/get_builtin_privileges/SecurityGetBuiltinPrivilegesResponse.ts
Labels: specification

#3011 Add community_id, fingerprint, and network_direction processors
  specification/_doc_ids/table.csv
  specification/ingest/_types/Processors.ts
Labels: specification, backport 8.x

#2976 Add x-model overlays for tokenizer, filter, charfilter schemas
  docs/overlays/elasticsearch-shared-overlays.yaml
Labels: OpenAPI, backport 8.x

#2914 Add overlay for deep object in security APIs
  docs/overlays/elasticsearch-shared-overlays.yaml
Labels: OpenAPI, backport 8.x

#3042 Add missing fields to `CreateFollowIndexRequest`
  specification/ccr/follow/CreateFollowIndexRequest.ts
  specification/ccr/follow_info/types.ts
Labels: specification

#3039 Improve `DataStreamLifecycle` definitions (and related)
  specification/indices/_types/DataStreamLifecycle.ts
  specification/indices/get_data_lifecycle/IndicesGetDataLifecycleResponse.ts
  specification/indices/put_data_lifecycle/IndicesPutDataLifecycleRequest.ts
Labels: specification

#3038 Fix additional property name for `TermsQuery`
  specification/_types/query_dsl/term.ts
Labels: specification, backport 8.x, backport 8.16
