Repository elastic/elasticsearch-specification, pull requests merged in 2024-11, with the labels that each got.

#3083 Fix compiler-rs
  .github/workflows/compiler-rs.yml
  compiler-rs/clients_schema/src/transform/expand_generics.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/openapi_to_clients_schema/src/types.rs
  package.json
Labels: compiler

#3128 Add missing allow_restricted_indices to cross cluster api key APIs
  specification/security/_types/Privileges.ts
Labels: specification, backport 8.x, backport 8.16

#3141 Update the inference API stability to stable
  specification/inference/delete/DeleteRequest.ts
  specification/inference/get/GetRequest.ts
  specification/inference/inference/InferenceRequest.ts
  specification/inference/put/PutRequest.ts
Labels: specification, backport 8.16

#3158 [DOCS] Remove technical preview from serverless APIs
  docs/overlays/elasticsearch-serverless-openapi-overlays.yaml
Labels: OpenAPI

#3165 Silence formatting output
  compiler/package.json
Labels: compiler, backport 8.x, backport 8.16

#3179 Use git recordings when running `make validate`
  compiler/run-validations.js
Labels: compiler

#3182 Use git recordings for pull request validation
  .github/workflows/validate-pr.yml
Labels: specification, backport 8.x, backport 8.16, backport 8.17

#3195 Allow reading OpenAPI files in YAML format
  compiler-rs/Cargo.lock
  compiler-rs/Cargo.toml
  compiler-rs/openapi_to_clients_schema/Cargo.toml
  compiler-rs/openapi_to_clients_schema/fixtures/enterprise-search.json
  compiler-rs/openapi_to_clients_schema/src/main.rs
Labels: compiler
