Repository elastic/elasticsearch-specification, pull requests merged in 2025-02, with the labels that each got.

#3739 [8.x] Tune OpenAPI linters (#3704)
  Makefile
  docs/linters/.spectral.yaml
  docs/linters/redocly.yaml
  specification/ccr/forget_follower/examples/response/ForgetFollowerIndexResponseExample1.yaml
  specification/ml/delete_model_snapshot/examples/response/MlDeleteModelSnapshotResponseExample1.yaml
Labels: specification, documentation, backport

#3741 [8.17] Tune OpenAPI linters (#3704)
  Makefile
  docs/linters/.spectral.yaml
  docs/linters/redocly.yaml
  specification/ccr/forget_follower/examples/response/ForgetFollowerIndexResponseExample1.yaml
  specification/cluster/health/examples/response/ClusterHealthResponseExample1.yaml
  specification/ingest/put_pipeline/examples/request/PutPipelineRequestExample2.yaml
  specification/ml/delete_model_snapshot/MlDeleteModelSnapshotResponseExample1.json
  specification/ml/delete_model_snapshot/examples/response/MlDeleteModelSnapshotResponseExample1.yaml
Labels: specification, documentation, backport

#3725 Bump nvm version
  README.md
Labels: documentation, skip-backport

#3721 [Connector API][Doc] Add info about required privileges
  docs/overlays/elasticsearch-shared-overlays.yaml
Labels: documentation, backport 9.0

#3752 [DOCS] Trim connector intro to make all relevant info visible
  docs/overlays/elasticsearch-shared-overlays.yaml
Labels: documentation, backport 9.0

#3774 Switch validate-pr to ESM
  .github/validate-pr/index.js
  .github/validate-pr/package.json
Labels: backport 8.x, backport 8.17, backport 8.18, backport 9.0

#3778 [8.17] Switch validate-pr to ESM (#3774)
  .github/validate-pr/index.js
  .github/validate-pr/package.json
Labels: backport

#3777 [8.18] Switch validate-pr to ESM (#3774)
  .github/validate-pr/index.js
  .github/validate-pr/package.json
Labels: backport

#3776 [8.x] Switch validate-pr to ESM (#3774)
  .github/validate-pr/index.js
  .github/validate-pr/package.json
Labels: backport

#3797 [8.16] Switch validate-pr to ESM (#3774)
  .github/validate-pr/index.js
  .github/validate-pr/package.json
Labels: backport

#3801 Ignore errors from private APIs
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler, backport 8.x, backport 8.18, backport 9.0

#3805 Enable 9.0 and 8.18 rest-api-spec updates
  .github/workflows/update-rest-api-json.yml
Labels: skip-backport

#3824 `IndicesPutMappingRequest.dynamic_templates` should not be "single or many"
  specification/indices/put_mapping/IndicesPutMappingRequest.ts
Labels: bug, specification, backport 8.x, backport 8.17, backport 8.18, backport 9.0
