Repository elastic/elasticsearch-specification, pull requests merged in 2025-09, with the labels that each got.

#5232 Adds cat-h values
  specification/cat/_types/CatBase.ts
  specification/cat/health/CatHealthRequest.ts
  specification/cat/indices/CatIndicesRequest.ts
  specification/cat/master/CatMasterRequest.ts
  specification/cat/nodeattrs/CatNodeAttributesRequest.ts
  specification/cat/pending_tasks/CatPendingTasksRequest.ts
Labels: specification, backport 9.0, backport 9.1

#5266 Adds description for the 'frequency' parameter in responses
  specification/ml/_types/Datafeed.ts
  specification/ml/update_datafeed/MlUpdateDatafeedResponse.ts
Labels: specification, backport 9.0, backport 9.1

#5258 Add spec and docs for new logs streams endpoints
  specification/_doc_ids/table.csv
  specification/streams/logs_disable/StreamsLogsDisableRequest.ts
  specification/streams/logs_disable/StreamsLogsDisableResponse.ts
  specification/streams/logs_disable/examples/200_response/PostStreamsLogsDisableResponseExample1.yaml
  specification/streams/logs_disable/examples/request/PostStreamsDisableRequestExample1.yaml
  specification/streams/logs_enable/StreamsLogsEnableRequest.ts
  specification/streams/logs_enable/StreamsLogsEnableResponse.ts
  specification/streams/logs_enable/examples/200_response/PostStreamsLogsEnableResponseExample1.yaml
  specification/streams/logs_enable/examples/409_response/PostStreamsLogsEnableResponseExample2.yaml
  specification/streams/logs_enable/examples/request/PostStreamsEnableRequestExample1.yaml
  specification/streams/status/StreamsStatusRequest.ts
  specification/streams/status/StreamsStatusResponse.ts
  specification/streams/status/examples/200_response/GetStreamsStatusResponseExample1.yaml
  specification/streams/status/examples/request/GetStreamsStatusRequestExample1.yaml
  specification/tsconfig.json
Labels: specification, documentation, backport 8.19, backport 9.1

#5313 Correcting release version to 8.19.0 for custom service for the inference API
  specification/inference/put_custom/PutCustomRequest.ts
Labels: specification, backport 8.19, backport 9.1

#5335 `CompositeAggregation.sources` expects an array of single-key objects
  specification/_types/aggregations/bucket.ts
Labels: specification, skip-backport

#5347 [8.19] Validate all APIs in PRs (#5341)
  .github/validate-pr/index.js
  specification/_types/Base.ts
Labels: specification

#5346 [9.0] Validate all APIs in PRs (#5341)
  .github/validate-pr/index.js
  specification/_types/Base.ts
Labels: specification

#5352 Rely on npm more in make validate
  compiler/run-validations.js
Labels: compiler, backport 8.19, backport 9.0, backport 9.1
