Repository elastic/elasticsearch-specification, pull requests merged in 2025-08, with the labels that each got.

#5076 Renames examples folder for Amazon SageMaker and Custom inference endpoints
  specification/inference/put_amazonsagemaker/examples/request/PutAmazonSageMakerRequestExample1.yaml
  specification/inference/put_amazonsagemaker/examples/request/PutAmazonSageMakerRequestExample2.yaml
  specification/inference/put_amazonsagemaker/examples/request/PutAmazonSageMakerRequestExample3.yaml
  specification/inference/put_amazonsagemaker/examples/request/PutAmazonSageMakerRequestExample4.yaml
  specification/inference/put_amazonsagemaker/examples/request/PutAmazonSageMakerRequestExample5.yaml
  specification/inference/put_custom/examples/request/PutCustomRequestExample1.yaml
  specification/inference/put_custom/examples/request/PutCustomRequestExample2.yaml
  specification/inference/put_custom/examples/request/PutCustomRequestExample3.yaml
  specification/inference/put_custom/examples/request/PutCustomRequestExample4.yaml
  specification/inference/put_custom/examples/request/PutCustomRequestExample5.yaml
Labels: specification, backport 8.19, backport 9.1

#5080 [Backport 9.1] Fixing a few missing task types and alphabetizing the PUT request
  specification/inference/put/PutRequest.ts
Labels: specification

#5084 Change `TermVectorsRequest.fields` from `Fields` to `Field[]`
  specification/_global/termvectors/TermVectorsRequest.ts
Labels: specification, backport 8.19, backport 9.0, backport 9.1

#5088 Fix broken docs link
  specification/indices/put_mapping/IndicesPutMappingRequest.ts
Labels: specification, backport 9.0, backport 9.1

#5057 [DOCS] Adds Ruby bulk helper to BulkRequest documentation
  specification/_global/bulk/BulkRequest.ts
Labels: specification, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#5106 Add dangling types to validation-errors.json
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#5134 Change type of `ArrayPercentilesItem.key` from `string` to `double`
  specification/_types/aggregations/Aggregate.ts
Labels: bug, specification, backport 8.19, backport 9.0, backport 9.1

#5151 [8.19][DOCS] Update repo branch in API docs intro
  docs/overlays/elasticsearch-openapi-overlays.yaml
Labels: documentation, skip-backport

#5149 Add tip about availability since across majors
  docs/add-new-api.md
Labels: documentation, backport 8.19, backport 9.0, backport 9.1

#5143 Use `Sort` object in "delete by query"
  specification/_global/delete_by_query/DeleteByQueryRequest.ts
Labels: specification, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#5131 Adds links that point to the API contrib guidelines to repo docs
  README.md
  docs/add-new-api.md
  docs/doc-comments-guide.md
  docs/schema-structure.md
Labels: documentation, backport 8.19, backport 9.0, backport 9.1

#5163 [Backport 9.0] Adds links that point to the API contrib guidelines to repo docs
  README.md
  docs/add-new-api.md
  docs/doc-comments-guide.md
  docs/schema-structure.md
Labels: documentation

#5172 Revert "Use `Sort` object in "delete by query""
  specification/_global/delete_by_query/DeleteByQueryRequest.ts
Labels: specification, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#5180 Add `sort` to DeleteByQueryRequest's body (#5143)
  specification/_global/delete_by_query/DeleteByQueryRequest.ts
Labels: specification, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#5171 add external doc links to Query rules GUI from the query rule spec files
  docs/overlays/elasticsearch-shared-overlays.yaml
  specification/_doc_ids/table.csv
  specification/query_rules/delete_rule/QueryRuleDeleteRequest.ts
  specification/query_rules/delete_ruleset/QueryRulesetDeleteRequest.ts
  specification/query_rules/get_rule/QueryRuleGetRequest.ts
  specification/query_rules/get_ruleset/QueryRulesetGetRequest.ts
  specification/query_rules/list_rulesets/QueryRulesetListRequest.ts
  specification/query_rules/put_rule/QueryRulePutRequest.ts
  specification/query_rules/put_ruleset/QueryRulesetPutRequest.ts
Labels: specification, skip-backport

#5145 [Backport 8.18] Adds cat-h values
  output/typescript/types.ts
  specification/cat/_types/CatBase.ts
  specification/cat/aliases/CatAliasesRequest.ts
  specification/cat/allocation/CatAllocationRequest.ts
  specification/cat/component_templates/CatComponentTemplatesRequest.ts
  specification/cat/count/CatCountRequest.ts
  specification/cat/fielddata/CatFielddataRequest.ts
  specification/cat/ml_jobs/CatJobsRequest.ts
Labels: specification

#5193 [Backport 8.19] Adds cat-h values
  output/typescript/types.ts
  specification/cat/_types/CatBase.ts
  specification/cat/aliases/CatAliasesRequest.ts
  specification/cat/allocation/CatAllocationRequest.ts
  specification/cat/component_templates/CatComponentTemplatesRequest.ts
  specification/cat/count/CatCountRequest.ts
  specification/cat/fielddata/CatFielddataRequest.ts
  specification/cat/ml_jobs/CatJobsRequest.ts
Labels: specification

#5177 Deprecating sort in delete by query
  specification/_global/delete_by_query/DeleteByQueryRequest.ts
Labels: specification, backport 9.0, backport 9.1

#5199 Run custom eslint rules as part of CI
  Makefile
  specification/eslint.config.js
Labels: specification, backport 9.0, backport 9.1

#5216 Sets 'separators' and 'separators_group' parameters to optional and updates descriptions
  specification/_types/mapping/ChunkingSettings.ts
  specification/inference/_types/Services.ts
Labels: specification, backport 9.0, backport 9.1

#5231 update tip to state no support for ILM in Serverless
  specification/indices/rollover/IndicesRolloverRequest.ts
Labels: specification, backport 8.19, backport 9.0
