Repository elastic/elasticsearch-specification, pull requests merged in 2025-05, with the labels that each got.

#4346 Adds examples to chat completion inference API
  specification/inference/_types/CommonTypes.ts
  specification/inference/chat_completion_unified/UnifiedRequest.ts
  specification/inference/chat_completion_unified/examples/request/PostChatCompletionRequestExample1.yaml
  specification/inference/chat_completion_unified/examples/request/PostChatCompletionRequestExample2.yaml
  specification/inference/chat_completion_unified/examples/request/PostChatCompletionRequestExample3.yaml
  specification/inference/chat_completion_unified/examples/response/PostChatCompletionResponseExample1.yaml
Labels: specification, documentation, backport 8.19, backport 8.18, backport 9.0

#4357 Removes erroneous flavour text from PUT inference API pages
  specification/inference/put/PutRequest.ts
  specification/inference/put_alibabacloud/PutAlibabaCloudRequest.ts
  specification/inference/put_amazonbedrock/PutAmazonBedrockRequest.ts
  specification/inference/put_anthropic/PutAnthropicRequest.ts
  specification/inference/put_azureaistudio/PutAzureAiStudioRequest.ts
  specification/inference/put_azureopenai/PutAzureOpenAiRequest.ts
  specification/inference/put_cohere/PutCohereRequest.ts
  specification/inference/put_googleaistudio/PutGoogleAiStudioRequest.ts
  specification/inference/put_googlevertexai/PutGoogleVertexAiRequest.ts
  specification/inference/put_hugging_face/PutHuggingFaceRequest.ts
  specification/inference/put_jinaai/PutJinaAiRequest.ts
  specification/inference/put_mistral/PutMistralRequest.ts
  specification/inference/put_openai/PutOpenAiRequest.ts
  specification/inference/put_watsonx/PutWatsonxRequest.ts
Labels: specification, backport 8.19, backport 8.16, backport 8.17, backport 8.18, backport 9.0

#4360 [Backport 9.0] Removes erroneous flavour text from PUT inference API pages
  specification/inference/put/PutRequest.ts
  specification/inference/put_alibabacloud/PutAlibabaCloudRequest.ts
  specification/inference/put_amazonbedrock/PutAmazonBedrockRequest.ts
  specification/inference/put_anthropic/PutAnthropicRequest.ts
  specification/inference/put_azureaistudio/PutAzureAiStudioRequest.ts
  specification/inference/put_azureopenai/PutAzureOpenAiRequest.ts
  specification/inference/put_cohere/PutCohereRequest.ts
  specification/inference/put_googleaistudio/PutGoogleAiStudioRequest.ts
  specification/inference/put_googlevertexai/PutGoogleVertexAiRequest.ts
  specification/inference/put_hugging_face/PutHuggingFaceRequest.ts
  specification/inference/put_jinaai/PutJinaAiRequest.ts
  specification/inference/put_mistral/PutMistralRequest.ts
  specification/inference/put_openai/PutOpenAiRequest.ts
  specification/inference/put_watsonx/PutWatsonxRequest.ts
Labels: specification, backport

#4275 Add unicode_set_filter to IcuNormalizationCharFilter
  specification/_types/analysis/icu-plugin.ts
Labels: specification, backport 8.19, backport 8.17, backport 8.18, backport 9.0

#4384 Fix type of `shard_id`
  specification/_global/search/_types/profile.ts
  specification/snapshot/_types/SnapshotShardFailure.ts
Labels: bug, specification, backport 8.19, backport 8.18, backport 9.0

#4391 Adds custom InferenceEndpointInfo class for JinaAI
  specification/inference/_types/Services.ts
  specification/inference/_types/TaskType.ts
  specification/inference/put_jinaai/PutJinaAiResponse.ts
Labels: specification, documentation, backport 8.19, backport 8.18, backport 9.0

#4372 Fixes names of legacy index template endpoints
  specification/indices/delete_template/IndicesDeleteTemplateRequest.ts
  specification/indices/get_template/IndicesGetTemplateRequest.ts
  specification/indices/put_template/IndicesPutTemplateRequest.ts
Labels: specification, backport 8.19, backport 8.17, backport 8.18, backport 9.0

#4397 [Backport 8.19]Adds custom InferenceEndpointInfo class for JinaAI
  specification/inference/_types/Services.ts
  specification/inference/_types/TaskType.ts
  specification/inference/put_jinaai/PutJinaAiResponse.ts
Labels: specification

#4398 [Backport 8.18] Adds custom InferenceEndpointInfo class for JinaAI
  specification/inference/_types/Services.ts
  specification/inference/_types/TaskType.ts
  specification/inference/put_jinaai/PutJinaAiResponse.ts
Labels: specification

#4399 Range query from/to parameters were removed in 9.0
  specification/_types/query_dsl/term.ts
Labels: specification, backport 9.0

#4403 Adds new `embedding_type` values to PUT Cohere inference endpoint
  specification/inference/_types/CommonTypes.ts
Labels: specification, documentation, backport 8.19

#4418 [DOCS] Update modeling-guide.md
  docs/modeling-guide.md
Labels: documentation, backport 8.19, backport 9.0
