Repository elastic/elasticsearch-specification, pull requests merged in 2025-10, with the labels that each got.

#5376 Cache API validation results
  .github/workflows/validate-pr.yml
Labels: backport 8.19, backport 9.0, backport 9.1

#5399 Add deprecation notice for max_size rollover condition
  specification/ilm/_types/Phase.ts
  specification/indices/rollover/types.ts
Labels: specification, documentation, skip-backport

#5400 ci: bump action scripts versions
  .github/workflows/code-format.yml
  .github/workflows/compiler-rs.yml
  .github/workflows/compiler.test.yml
  .github/workflows/generate.yml
  .github/workflows/license.yml
  .github/workflows/linter.yml
  .github/workflows/metamodel-sync.yml
  .github/workflows/update-rest-api-json.yml
  .github/workflows/validate-apis.yml
Labels: backport 8.19, backport 9.1, backport 9.2

#5432 Compiler: late sync endpoints availability from json-spec
  compiler/src/compiler.ts
  compiler/src/model/build-model.ts
Labels: compiler

#5417 Fix reindex validation
  specification/_global/reindex/types.ts
Labels: specification, skip-backport

#5418 Add cartesian_bounds, cartesian_centroid and change_point aggregations
  specification/_doc_ids/table.csv
  specification/_types/Geo.ts
  specification/_types/aggregations/Aggregate.ts
  specification/_types/aggregations/AggregationContainer.ts
  specification/_types/aggregations/metric.ts
  specification/_types/aggregations/pipeline.ts
Labels: specification, backport 8.19, backport 9.0, backport 9.1, backport 9.2

#5446 Add certificate identity field to Cross-Cluster API Key Specs
  specification/security/_types/ApiKey.ts
  specification/security/create_cross_cluster_api_key/CreateCrossClusterApiKeyRequest.ts
  specification/security/update_cross_cluster_api_key/UpdateCrossClusterApiKeyRequest.ts
Labels: specification, skip-backport

#5449 Add on_disk_rescore to bbq_disk
  specification/_types/mapping/DenseVectorProperty.ts
Labels: specification, skip-backport
