Repository elastic/elasticsearch-specification, pull requests merged in 2025-06, with the labels that each got.

#4437 [9.0] [OpenAPI] Add a CLI to configure export parameters (#4426)
  .gitattributes
  Makefile
  compiler-rs/Cargo.lock
  compiler-rs/Cargo.toml
  compiler-rs/clients_schema_to_openapi/Cargo.toml
  compiler-rs/clients_schema_to_openapi/src/cli.rs
  compiler-rs/clients_schema_to_openapi/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/main.rs
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/compiler-wasm-lib/Cargo.toml
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib.d.ts
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib.js
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm.d.ts
  compiler-rs/compiler-wasm-lib/src/lib.rs
  compiler/src/transform/schema-to-openapi.ts
  package.json
Labels: compiler

#4400 Initial prototype of an ESLint-based validator of the Elasticsearch specification
  .github/validate-pr/index.js
  Makefile
  docs/specification-structure.md
  specification/eslint.config.js
  specification/package-lock.json
  specification/package.json
  validator/.gitignore
  validator/README.md
  validator/eslint-plugin-es-spec.js
  validator/package.json
  validator/rules/invalid-node-types.js
  validator/rules/single-key-dictionary-key-is-string.js
  validator/test/_setup.js
  validator/test/invalid-node-types.test.js
  validator/test/single-key-dictionary-key-is-string.test.js
Labels: specification, skip-backport

#4475 Update compiler/package-lock.json
  compiler/package-lock.json
Labels: compiler, skip-backport

#4474 Add configuration for sorenlouv/backport tool
  .backportrc.json
Labels: backport 8.19, backport 8.17, backport 8.18, backport 9.0

#4463 [Backport] [8.18] Adds custom InferenceEndpointInfo classes (#4444)
  specification/inference/_types/Services.ts
  specification/inference/_types/TaskType.ts
  specification/inference/chat_completion_unified/UnifiedRequest.ts
  specification/inference/put_amazonbedrock/PutAmazonBedrockResponse.ts
  specification/inference/put_anthropic/PutAnthropicResponse.ts
  specification/inference/put_azureaistudio/PutAzureAiStudioResponse.ts
  specification/inference/put_azureopenai/PutAzureOpenAiResponse.ts
  specification/inference/put_cohere/PutCohereResponse.ts
  specification/inference/put_elasticsearch/PutElasticsearchResponse.ts
  specification/inference/put_elser/PutElserResponse.ts
  specification/inference/put_googleaistudio/PutGoogleAiStudioResponse.ts
  specification/inference/put_googlevertexai/PutGoogleVertexAiResponse.ts
  specification/inference/put_hugging_face/PutHuggingFaceResponse.ts
  specification/inference/put_mistral/PutMistralResponse.ts
  specification/inference/put_openai/PutOpenAiResponse.ts
  specification/inference/put_voyageai/PutVoyageAIResponse.ts
  specification/inference/put_watsonx/PutWatsonxResponse.ts
Labels: specification, documentation

#4420 Search endpoint fixes
  specification/_types/Errors.ts
  specification/_types/Retriever.ts
  specification/_types/query_dsl/fulltext.ts
  specification/_types/query_dsl/geo.ts
  specification/_types/query_dsl/specialized.ts
Labels: specification, backport 8.19, backport 8.18, backport 9.0

#4470 Add l2 norm to linear retriever
  specification/_types/Retriever.ts
Labels: specification, backport 8.19

#4495 Fixes minor typo in `human` boolean parameter documentation
  specification/_spec_utils/behaviors.ts
Labels: specification, skip-backport

#4451 Completes chat completion inference endpoint docs
  specification/inference/_types/CommonTypes.ts
  specification/inference/put_amazonbedrock/PutAmazonBedrockRequest.ts
Labels: specification, documentation, ml, backport 8.19, backport 8.18, backport 9.0

#4519 Updates general PUT inference page with new HuggingFace task types
  specification/inference/put/PutRequest.ts
Labels: specification, documentation, ml, backport 8.19, Team:ML

#4523 Adds an external link to Cluster allocation explain API spec
  specification/_doc_ids/table.csv
  specification/cluster/allocation_explain/ClusterAllocationExplainRequest.ts
Labels: specification, documentation, backport 9.0

#4534 [Backport 9.0] Adds an external link to Cluster allocation explain API spec
  specification/_doc_ids/table.csv
  specification/cluster/allocation_explain/ClusterAllocationExplainRequest.ts
Labels: specification

#4552 Add `skip` to `ilm.explain_lifecycle` response
  specification/ilm/explain_lifecycle/types.ts
Labels: specification, backport 8.19

#4549 [8.18] [OpenAPI] Add a CLI to configure export parameters (#4426)
  .gitattributes
  Makefile
  compiler-rs/Cargo.lock
  compiler-rs/Cargo.toml
  compiler-rs/clients_schema_to_openapi/Cargo.toml
  compiler-rs/clients_schema_to_openapi/src/cli.rs
  compiler-rs/clients_schema_to_openapi/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/main.rs
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/compiler-wasm-lib/Cargo.toml
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib.d.ts
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib.js
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm.d.ts
  compiler-rs/compiler-wasm-lib/src/lib.rs
  compiler/src/transform/schema-to-openapi.ts
  package.json
Labels: compiler

#4592 Fix update-rest-api-json CI
  .github/workflows/update-rest-api-json.yml
Labels: skip-backport

#4591 Adds an external link to find text structure API
  specification/_doc_ids/table.csv
  specification/text_structure/find_structure/FindStructureRequest.ts
Labels: specification, documentation, backport 9.0

#4589 [8.18] Output a redirect map when merging multipath operations (#4545)
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
Labels: compiler

#4578 [9.0] Fix example readme (#4566)
  docs/add-new-api.md
Labels: OpenAPI

#4579 [8.18] Fix example readme (#4566)
  docs/add-new-api.md
Labels: OpenAPI

#4588 [8.19] Output a redirect map when merging multipath operations (#4545)
  Makefile
  compiler-rs/clients_schema_to_openapi/src/cli.rs
  compiler-rs/clients_schema_to_openapi/src/components.rs
  compiler-rs/clients_schema_to_openapi/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/main.rs
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib.js
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm.d.ts
  compiler-rs/compiler-wasm-lib/src/lib.rs
Labels: compiler

#4573 [8.18] Update readme, gitignore (#4503)
  .gitignore
  README.md
Labels: documentation, OpenAPI

#4601 [8.19] Output a redirect map when merging multipath operations (#4545)
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib.js
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm.d.ts
Labels: compiler

#4611 Weighted token as lenient dict
  specification/_types/query_dsl/WeightedTokensQuery.ts
Labels: specification, skip-backport

#4619 [compiler] Rename external to typed_keys_quirk
  compiler/src/model/utils.ts
  docs/modeling-guide.md
  specification/_global/search/_types/suggester.ts
  specification/_types/aggregations/Aggregate.ts
  specification/ml/_types/inference.ts
  specification/security/query_api_keys/types.ts
Labels: specification, compiler, backport 8.19, backport 8.18, backport 9.0

#4642 validate-pr: report diff instead of current status
  .github/validate-pr/index.js
Labels: specification, backport 8.19, backport 8.18, backport 9.0

#4648 [8.18] Add previous version documentation URLs to schema and OpenAPI
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib.js
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/openapi_to_clients_schema/src/types.rs
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  specification/_doc_ids/table.csv
  specification/_types/Node.ts
  typescript-generator/src/metamodel.ts
Labels: specification, compiler, generator:typescript

#4649 Adds a link to the update cross cluster API key API spec
  specification/security/update_cross_cluster_api_key/UpdateCrossClusterApiKeyRequest.ts
Labels: specification, documentation, backport 9.0

#4637 Move Query API keys examples to ES reference documentation
  specification/_doc_ids/table.csv
  specification/security/query_api_keys/QueryApiKeysRequest.ts
  specification/security/query_api_keys/examples/request/QueryApiKeysRequestExample2.yaml
  specification/security/query_api_keys/examples/request/QueryApiKeysRequestExample3.yaml
  specification/security/query_api_keys/examples/response/QueryApiKeysResponseExample1.yaml
  specification/security/query_api_keys/examples/response/QueryApiKeysResponseExample2.yaml
  specification/security/query_api_keys/examples/response/QueryApiKeysResponseExample3.yaml
Labels: specification, documentation, backport 9.0

#4659 Fix validation for _global APIs
  .github/validate-pr/index.js
Labels: backport 8.19, backport 8.18, backport 9.0

#4677 Fix string used to find previous comment
  .github/workflows/validate-pr.yml
Labels: backport 8.19, backport 8.18, backport 9.0

#4685 Add `format` query option to `esql.async_query_get` endpoint
  specification/esql/async_query_get/AsyncQueryGetRequest.ts
Labels: backport 8.19, backport 8.18, backport 9.0

#4692 Start automation on 9.1 branch
  .backportrc.json
  .github/workflows/update-rest-api-json.yml
Labels: skip-backport

#4708 Add missing annotation on NotFoundAliases
  specification/indices/get_alias/_types/response.ts
Labels: specification, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#4652 Fixing indices create partially
  specification/_types/analysis/icu-plugin.ts
  specification/_types/analysis/token_filters.ts
  specification/_types/analysis/tokenizers.ts
  specification/_types/mapping/Property.ts
  specification/_types/mapping/complex.ts
  specification/_types/mapping/core.ts
  specification/_types/mapping/geo.ts
  specification/indices/_types/IndexSettings.ts
Labels: specification, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#4504 [DOCS] Change source for overlay-docs
  .gitignore
  Makefile
Labels: OpenAPI, backport 8.19, backport 8.18, backport 9.0
