Repository elastic/elasticsearch-specification, pull requests merged in 2025-01, with the labels that each got.

#3412 [8.x] Update doc comments guidelines (#3037)
  docs/doc-comments-guide.md
Labels: backport

#3413 [8.x] Improve `DataStreamLifecycle` definitions (and related) (#3039)
  specification/indices/_types/DataStreamLifecycle.ts
  specification/indices/get_data_lifecycle/IndicesGetDataLifecycleResponse.ts
  specification/indices/put_data_lifecycle/IndicesPutDataLifecycleRequest.ts
Labels: specification, backport

#3415 [8.x] Add missing fields to `CreateFollowIndexRequest` (#3042)
  specification/ccr/follow/CreateFollowIndexRequest.ts
  specification/ccr/follow_info/types.ts
Labels: specification, backport

#3433 Remove broken GitHub Pages report
  .github/workflows/gh-pages-report.yml
  compiler/reporter/create-import-graph.ts
  compiler/reporter/generate-import-graph.js
  compiler/reporter/generate-type-report.ts
  compiler/reporter/index.js
Labels: compiler

#3423 Enforce backport label
  .github/workflows/check-backport-labels.yml
Labels: skip-backport

#3391 Add summary and tag to ml.validate
  specification/ml/validate/MlValidateJobRequest.ts
Labels: specification, documentation, backport 8.x, backport 8.17

#3429 Add datastream API examples
  specification/indices/downsample/RequestExample1.yaml
  specification/indices/explain_data_lifecycle/IndicesExplainDataLifecycleResponseExample1.yaml
  specification/indices/explain_data_lifecycle/IndicesExplainDataLifecycleResponseExample2.yaml
  specification/indices/get_data_lifecycle/IndicesGetDataLifecycleResponseExample1.yaml
Labels: specification, documentation, backport 8.x, backport 8.17

#3525 [8.x] Fix compiler-rs (#3083)
  .github/workflows/compiler-rs.yml
  compiler-rs/clients_schema/src/transform/expand_generics.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/openapi_to_clients_schema/src/types.rs
Labels: compiler

#3526 [8.x] Bump jsonpath-plus and @stoplight/spectral-core (#3124)
  compiler-rs/clients_schema_to_openapi/package-lock.json
Labels: compiler

#3527 [8.x] Allow reading OpenAPI files in YAML format (#3195)
  compiler-rs/Cargo.lock
  compiler-rs/Cargo.toml
  compiler-rs/openapi_to_clients_schema/Cargo.toml
  compiler-rs/openapi_to_clients_schema/fixtures/enterprise-search.json
  compiler-rs/openapi_to_clients_schema/src/main.rs
Labels: compiler

#3509 Add task examples
  docs/overlays/elasticsearch-openapi-overlays.yaml
  output/openapi/elasticsearch-openapi.json
  output/openapi/elasticsearch-serverless-openapi.json
  specification/tasks/_types/GroupBy.ts
  specification/tasks/cancel/CancelTasksRequest.ts
  specification/tasks/get/GetTaskRequest.ts
  specification/tasks/get/examples/200_response/GetTaskResponseExample1.yaml
  specification/tasks/get/examples/response/GetTaskResponseExample1.yaml
  specification/tasks/list/ListTasksRequest.ts
  specification/tasks/list/examples/200_response/ListTasksResponseExample1.yaml
Labels: specification, documentation, backport 8.x, backport 8.17

#3547 Fix Markdown header syntax
  specification/_global/create/CreateRequest.ts
  specification/_global/index/IndexRequest.ts
  specification/_global/reindex/ReindexRequest.ts
Labels: specification, backport 8.x

#3563 Fix typo in overlays
  docs/overlays/elasticsearch-openapi-overlays.yaml
Labels: documentation, backport 8.x, backport 8.17

#3569 Update README.md - spelling fix
  README.md
Labels: documentation, skip-backport

#3575 Run docs lint as part of CI
  Makefile
Labels: backport 8.x, backport 8.17

#3603 [8.x] Run docs lint as part of CI (#3575)
  Makefile
Labels: backport

#3604 [8.17] Run docs lint as part of CI (#3575)
  Makefile
Labels: backport

#3625 Explain purpose of server_default
  docs/modeling-guide.md
Labels: backport 8.x

#3594 Add x-codeSamples to check document API
  docs/overlays/elasticsearch-shared-overlays.yaml
  specification/_global/exists/examples/xCodeSamples/DocumentExistsConsoleExample1.yaml
  specification/_global/exists/examples/xCodeSamples/DocumentExistsCurlExample1.yaml
  specification/_global/exists/examples/xCodeSamples/DocumentExistsJavaScriptExample1.yaml
  specification/_global/exists/examples/xCodeSamples/DocumentExistsPythonExample1.yaml
  specification/_global/exists/examples/xCodeSamples/DocumentExistsRubyExample1.yaml
Labels: specification, documentation, skip-backport

#3644 [DOCS] Add overlays for connector API examples
  docs/overlays/elasticsearch-openapi-overlays.yaml
  docs/overlays/elasticsearch-shared-overlays.yaml
Labels: documentation, backport 8.x

#3637 Add default values for EQL allow_partial_search_results and allow_partial_sequence_results
  specification/eql/search/EqlSearchRequest.ts
Labels: specification, backport 8.x

#3657 Use current URLs for doc_id values during freeze
  specification/_doc_ids/table.csv
Labels: specification, documentation, skip-backport
