Repository elastic/elasticsearch-specification, pull requests merged in 2025-03, with the labels that each got.

#3857 Disable Kibana checks for 8.x branches
  catalog-info.yaml
Labels: skip-backport

#3873 Add OpenAPI steps to Readme.md
  README.md
Labels: documentation, backport 8.x, backport 8.18, backport 9.0

#3909 Fix `dynamic_templates` type
  specification/_types/mapping/TypeMapping.ts
  specification/indices/put_mapping/IndicesPutMappingRequest.ts
Labels: bug, specification, backport 8.x, backport 8.18, backport 9.0

#3914 [ML] Updating the streaming completion description to match what is in ES
  specification/_json_spec/inference.stream_completion.json
Labels: specification, backport 8.x, backport 8.18, backport 9.0

#3930 Fix overlay for inference stream
  docs/overlays/elasticsearch-openapi-overlays.yaml
Labels: documentation, backport 8.x, backport 8.18, backport 9.0

#3935 Use path alias in imports
  specification/connector/update_filtering_validation/ConnectorUpdateFilteringValidationRequest.ts
  specification/fleet/msearch/MultiSearchResponse.ts
  specification/tsconfig.json
Labels: specification, backport 8.x, backport 8.17, backport 8.18, backport 9.0

#3934 Generate elasticsearch-js before Kibana type checks
  .buildkite/kibana.sh
  .buildkite/kibana.yml
Labels: skip-backport

#3960 Add changes from `make setup`
  package-lock.json
  package.json
Labels: backport 8.x, backport 8.17, backport 8.18, backport 9.0

#3978 [9.0] Fix allow_partial_search_results default value
  specification/eql/search/EqlSearchRequest.ts
Labels: specification, skip-backport

#3967 Minor fixes in example requests
  specification/_global/mtermvectors/examples/request/MultiTermVectorsRequestExample2.yaml
  specification/ml/evaluate_data_frame/examples/request/MlEvaluateDataFrameRequestExample4.yaml
Labels: specification, backport 8.x, backport 8.18, backport 9.0

#4005 Fix cache on 'make validate'
  compiler/run-validations.js
Labels: compiler, backport 8.x, backport 8.16, backport 8.17, backport 8.18, backport 9.0

#4031 Stop reporting missing endpoints as errors
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler, backport 8.x, backport 8.18, backport 9.0

#4057 [8.x] Stop reporting missing endpoints as errors (#4031)
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler

#4054 compiler: fix quote syntax
  compiler/run-validations.js
Labels: compiler, backport 8.x, backport 8.16, backport 8.17, backport 8.18, backport 9.0

#4143 Move AdaptiveAllocations to common types to avoid duplicates
  specification/inference/_types/CommonTypes.ts
  specification/inference/put_elasticsearch/PutElasticsearchRequest.ts
  specification/inference/put_elser/PutElserRequest.ts
Labels: specification, backport 8.x, backport 8.18, backport 9.0

#4147 Fix `indices_boost` type
  specification/_global/msearch/types.ts
  specification/_global/search/SearchRequest.ts
  specification/async_search/submit/AsyncSearchSubmitRequest.ts
  specification/fleet/search/SearchRequest.ts
Labels: bug, specification, backport 8.x, backport 8.18, backport 9.0

#4155 Inference: rename base type, no longer a base, grown into a property
  specification/inference/_types/CommonTypes.ts
  specification/inference/chat_completion_unified/UnifiedRequest.ts
  specification/inference/post_eis_chat_completion/PostEisChatCompletionRequest.ts
Labels: specification, backport 8.x, backport 8.18, backport 9.0

#4159 Fixing execute policy resp
  specification/enrich/execute_policy/ExecuteEnrichPolicyResponse.ts
  specification/enrich/execute_policy/types.ts
Labels: specification, backport 8.x, backport 8.16, backport 8.17, backport 8.18, backport 9.0

#4165 Missing fields in BooleanProperty
  specification/_types/mapping/core.ts
Labels: specification, backport 8.x, backport 8.16, backport 8.17, backport 8.18, backport 9.0

#4141 Update documentation for watcher update settings endpoint
  specification/watcher/update_settings/WatcherUpdateSettingsRequest.ts
Labels: specification, documentation, backport 8.x, backport 8.18, backport 9.0

#3959 Move contributing instructions to CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: documentation, backport 8.x
