Repository elastic/elasticsearch-specification, pull requests merged in 2025-07, with the labels that each got.

#4722 [OpenApi] Add branch option to cli
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/cli.rs
  compiler-rs/clients_schema_to_openapi/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
Labels: compiler, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#4738 Add more instructions against PRs from forks
  CONTRIBUTING.md
  README.md
Labels: documentation, backport 8.19

#4749 [8.19] Adds custom InferenceEndpointInfo classes (#4444)
  specification/inference/_types/Services.ts
  specification/inference/_types/TaskType.ts
  specification/inference/put_amazonbedrock/PutAmazonBedrockResponse.ts
  specification/inference/put_anthropic/PutAnthropicResponse.ts
  specification/inference/put_azureaistudio/PutAzureAiStudioResponse.ts
  specification/inference/put_azureopenai/PutAzureOpenAiResponse.ts
  specification/inference/put_cohere/PutCohereResponse.ts
  specification/inference/put_elasticsearch/PutElasticsearchResponse.ts
  specification/inference/put_elser/PutElserResponse.ts
  specification/inference/put_googleaistudio/PutGoogleAiStudioResponse.ts
  specification/inference/put_googlevertexai/PutGoogleVertexAiResponse.ts
  specification/inference/put_hugging_face/PutHuggingFaceResponse.ts
  specification/inference/put_mistral/PutMistralResponse.ts
  specification/inference/put_openai/PutOpenAiResponse.ts
  specification/inference/put_voyageai/PutVoyageAIResponse.ts
  specification/inference/put_watsonx/PutWatsonxResponse.ts
Labels: specification

#4673 Adds external link to Rollup search API
  specification/_doc_ids/table.csv
  specification/rollup/rollup_search/RollupSearchRequest.ts
Labels: specification, documentation, backport 9.0

#4754 Restores Watcher execute watch request examples
  specification/watcher/execute_watch/examples/request/WatcherExecuteRequestExample2.yaml
  specification/watcher/execute_watch/examples/request/WatcherExecuteRequestExample3.yaml
Labels: specification, backport 9.0

#4670 Re-add API example files
  specification/_global/reindex/examples/request/ReindexRequestExample10.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample11.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample12.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample13.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample2.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample3.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample4.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample5.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample6.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample7.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample8.yaml
  specification/_global/reindex/examples/request/ReindexRequestExample9.yaml
  specification/security/query_api_keys/examples/request/QueryApiKeysRequestExample2.yaml
  specification/security/query_api_keys/examples/request/QueryApiKeysRequestExample3.yaml
  specification/security/query_api_keys/examples/response/QueryApiKeysResponseExample1.yaml
  specification/security/query_api_keys/examples/response/QueryApiKeysResponseExample2.yaml
  specification/security/query_api_keys/examples/response/QueryApiKeysResponseExample3.yaml
Labels: specification, documentation, backport 9.0

#4705 Add link to `_update_by_query` API examples
  specification/_doc_ids/table.csv
  specification/_global/update_by_query/UpdateByQueryRequest.ts
Labels: specification, documentation, backport 9.0

#4768 [Backport 9.0] Adds external link to 'Update a document API' (#4657)
  specification/_doc_ids/table.csv
  specification/_global/update/UpdateRequest.ts
Labels: specification

#4775 [Backport 9.0] Add link to `_update_by_query` API examples
  specification/_doc_ids/table.csv
  specification/_global/update_by_query/UpdateByQueryRequest.ts
Labels: specification, backport

#4771 Adds cat node -h values
  specification/cat/_types/CatBase.ts
  specification/cat/shards/CatShardsRequest.ts
  specification/cat/thread_pool/CatThreadPoolRequest.ts
Labels: specification, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#4772 add a description field for external doc links
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/openapi_to_clients_schema/src/types.rs
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  specification/_doc_ids/table.csv
  typescript-generator/src/metamodel.ts
Labels: specification, compiler, generator:typescript, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#4788 [Backport 9.0] add a description field for external doc links (#4772)
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/openapi_to_clients_schema/src/types.rs
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  specification/_doc_ids/table.csv
  typescript-generator/src/metamodel.ts
Labels: specification, compiler, generator:typescript

#4789 [Backport 8.19] add a description field for external doc links (#4772)
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/openapi_to_clients_schema/src/types.rs
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  specification/_doc_ids/table.csv
  typescript-generator/src/metamodel.ts
Labels: specification, compiler, generator:typescript

#4790 [Backport 8.18] add a description field for external doc links (#4772)
  compiler-rs/clients_schema/src/lib.rs
  compiler-rs/clients_schema_to_openapi/src/schemas.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
  compiler-rs/openapi_to_clients_schema/src/types.rs
  compiler/src/model/metamodel.ts
  compiler/src/model/utils.ts
  specification/_doc_ids/table.csv
  typescript-generator/src/metamodel.ts
Labels: specification, compiler, generator:typescript

#4781 Output validation comments even without changes
  .github/validate-pr/index.js
  .github/workflows/validate-pr.yml
Labels: backport 8.19, backport 8.18, backport 9.0, backport 9.1

#4832 Fix reranking typo
  specification/inference/rerank/RerankRequest.ts
Labels: specification, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#4853 Allow containers with a single variant
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#4858 [8.19] Allow containers with a single variant (#4853)
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler

#4859 [8.18] Allow containers with a single variant (#4853)
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler

#4906 [Backport 9.0] fix availability params (#4905)
  compiler-rs/clients_schema_to_openapi/src/paths.rs
  compiler-rs/compiler-wasm-lib/pkg/compiler_wasm_lib_bg.wasm
Labels: compiler

#4798 [Docs] Fix relative link in schema-structure.md
  docs/schema-structure.md
Labels: documentation, backport 8.19

#4964 Fixed typo in catsnapshots
  specification/cat/_types/CatBase.ts
Labels: specification, backport 8.19, backport 8.18, backport 9.0, backport 9.1

#4988 [8.19] Stop generating errors for body inheritance (#3292)
  compiler/src/steps/validate-model.ts
  output/schema/validation-errors.json
Labels: compiler

#4852 Adds custom inference service API docs
  specification/_doc_ids/table.csv
  specification/_json_spec/inference.put_custom.json
  specification/inference/_types/CommonTypes.ts
  specification/inference/_types/Services.ts
  specification/inference/_types/TaskType.ts
  specification/inference/put_custom/PutCustomRequest.ts
  specification/inference/put_custom/PutCustomResponse.ts
  specification/inference/put_custom/examples/PutCustomRequestExample1.yaml
  specification/inference/put_custom/examples/PutCustomRequestExample2.yaml
  specification/inference/put_custom/examples/PutCustomRequestExample3.yaml
  specification/inference/put_custom/examples/PutCustomRequestExample4.yaml
  specification/inference/put_custom/examples/PutCustomRequestExample5.yaml
  specification/inference/put_deepseek/examples/PutDeepSeekRequestExample1.yaml
  specification/inference/put_deepseek/examples/PutDeepSeekRequestExample2.yaml
Labels: specification, documentation, ml, backport 8.19, backport 9.1

#4997 [8.19]Adds custom inference service API docs (#4852)
  specification/_doc_ids/table.csv
  specification/_json_spec/inference.put_custom.json
  specification/inference/_types/CommonTypes.ts
  specification/inference/_types/Services.ts
  specification/inference/_types/TaskType.ts
  specification/inference/put_custom/PutCustomRequest.ts
  specification/inference/put_custom/PutCustomResponse.ts
  specification/inference/put_custom/examples/PutCustomRequestExample1.yaml
  specification/inference/put_custom/examples/PutCustomRequestExample2.yaml
  specification/inference/put_custom/examples/PutCustomRequestExample3.yaml
  specification/inference/put_custom/examples/PutCustomRequestExample4.yaml
  specification/inference/put_custom/examples/PutCustomRequestExample5.yaml
  specification/inference/put_deepseek/examples/PutDeepSeekRequestExample1.yaml
  specification/inference/put_deepseek/examples/PutDeepSeekRequestExample2.yaml
Labels: specification, documentation, ml, backport

#4841 [9.1] Adds new 'none' and 'recursive' chunking strategies to Inference APIs
  specification/_doc_ids/table.csv
  specification/_types/mapping/ChunkingSettings.ts
  specification/inference/_types/Services.ts
  specification/inference/put/examples/request/InferencePutExample1.yaml
Labels: specification, backport 9.1

#5013 Added key field to filter bucket agg
  specification/_types/aggregations/Aggregate.ts
Labels: specification, backport 8.19, backport 8.17, backport 8.18, backport 9.0, backport 9.1

#5046 SQL fix params type
  specification/sql/query/QuerySqlRequest.ts
Labels: specification, backport 8.19, backport 8.17, backport 8.18, backport 9.0, backport 9.1

#5061 Use strings instead of integer ids for simulate examples
  specification/simulate/ingest/examples/request/SimulateIngestRequestExample1.yaml
  specification/simulate/ingest/examples/request/SimulateIngestRequestExample2.yaml
Labels: bug, specification, backport 8.19, backport 9.0, backport 9.1
