Repository elastic/elasticsearch-specification, pull requests merged in 2025-04, with the labels that each got.

#4200 Missing fields in inference processor
  specification/ingest/_types/Processors.ts
Labels: backport 8.x, backport 8.17, backport 8.18, backport 9.0

#4205 Introduce `WaitForNodes` alias type
  specification/cluster/health/ClusterHealthRequest.ts
  specification/cluster/health/types.ts
Labels: specification, backport 8.x, backport 8.18, backport 9.0

#4193 Missing field and wrong value in ClusterHealthResponse
  specification/cluster/health/ClusterHealthResponse.ts
Labels: specification, backport 8.x, backport 8.18, backport 9.0

#4214 input_output array leniency
  specification/ingest/_types/Processors.ts
Labels: specification, backport 8.x, backport 8.18, backport 9.0

#4245 ESQL: prefix duplicates of existing types
  specification/esql/_types/EsqlResult.ts
Labels: specification, backport 9.0

#4250 OpenAPI: Update overlays with new path separator
  docs/overlays/elasticsearch-shared-overlays.yaml
Labels: documentation, backport 8.x, backport 8.18, backport 9.0

#4282 [DOCS] Fix branch detail in OpenAPI overlay
  docs/overlays/elasticsearch-openapi-overlays.yaml
Labels: documentation, skip-backport

#4296 [DOCS] Remove deployment work-around from overlays
  docs/overlays/elasticsearch-shared-overlays.yaml
Labels: documentation, skip-backport

#4292 Use correct status values for simulated ingest pipeline processor results
  specification/ingest/_types/Simulation.ts
Labels: specification, backport 8.x, backport 8.18, backport 9.0

#4312 Change `InnerHits.fields` from `Fields` to `Field[]`
  specification/_global/search/_types/hits.ts
Labels: bug, specification, backport 8.x, backport 8.18, backport 9.0

#4325 Phase optional lifecycle explain
  specification/ilm/explain_lifecycle/types.ts
Labels: specification, backport 8.x, backport 8.17, backport 8.18, backport 9.0

#4291 Several improvements to token filter types
  specification/_types/analysis/StopWords.ts
  specification/_types/analysis/kuromoji-plugin.ts
  specification/_types/analysis/languages.ts
  specification/_types/analysis/nori-plugin.ts
  specification/_types/analysis/token_filters.ts
Labels: specification, backport 8.x, backport 8.18, backport 9.0
